<div class="container">
	<div class="row">
		<div class="col-md-2">
			<a class="md-button md-primary" href="/business/index" role="button"
				aria-haspopup="true" aria-expanded="false">Partner with us</a> </br> <span
				class="text text-default" style="margin-left: 15px">For
				Restaurants</span><br> <span class="text text-default"
				style="margin-left: 15px"> For Takeout Onlys</span><br> <span
				class="text text-default" style="margin-left: 15px"> For
				Individuals</span>
		</div>

		<div class="col-md-2">
			<a class="md-button md-primary" href="/driver" role="button"
				aria-haspopup="true" aria-expanded="false">Delivery Drivers</a> <br>
			<span class="text text-default" style="margin-left: 15px">For
				Delivery Drivers</span><br> <span class="text text-default"
				style="margin-left: 15px">Food Delivery Jobs</span>
		</div>
		<div class="col-md-2">
			<a class="md-button md-primary" href="/public" role="button"
				aria-haspopup="true" aria-expanded="false">Public Users</a> <br>
			<span class="text text-default" style="margin-left: 15px"> For
				Public Users</span><br>
				<span class="text text-default" style="margin-left: 15px"> Manage Meal Plans</span><br>
				<span class="text text-default" style="margin-left: 15px"> Manage Your Data</span>
		</div>
		
		<!-- <div id="selectRegion" class="col-md-6">
		  <div class="pull-right">
						<label class="text text-default pull-right">Select Country</label>	
			<ui-select  ng-model="main.selectedCountry" required
					        on-select="main.onSelectRegion($item)"
							name="state"> <ui-select-match
							placeholder="Change Country"> <span 
							ng-bind="($select.selected.countryName) "></span> 
							</ui-select-match> 
							<ui-select-choices repeat="item in main.all  | unique:'countryName'">
								<span class="text text-default" ng-bind="item.countryName"></span> 
							</ui-select-choices> 
						<ui-select-no-choice> No Service. </ui-select-no-choice>
						
						</ui-select></div>
		
	</div> -->
		
	</div>
	<hr>
	<div class="row">
		<div class="col-md-12 text-center" style="padding: 25px">
			 <a class="md-button md-primary" href="/about"
				role="button" aria-haspopup="true" aria-expanded="false">About
				Us</a>
			<!-- <a class="md-button md-primary" href="/contact" role="button"
				aria-haspopup="true" aria-expanded="false">Contact Us</a> -->
			<!-- <a
				class="md-button md-primary" href="/feedback" role="button"
				aria-haspopup="true" aria-expanded="false">Send Feedback</a> <a
				class="md-button md-primary" href="/help" role="button"
				aria-haspopup="true" aria-expanded="false">Help</a>  -->
			<a class="md-button md-primary" href="/privacy" role="button"
				aria-haspopup="true" aria-expanded="false">Privacy Policy</a> <a
				class="md-button md-primary" href="/terms" role="button"
				aria-haspopup="true" aria-expanded="false">Terms of Service</a> <a
				class="md-button md-primary" href="/invite" role="button"
				aria-haspopup="true" aria-expanded="false">Send Invite</a> <a
				class="md-button md-primary" href="/demo" role="button"
				aria-haspopup="true" aria-expanded="false">Request Demo</a> <br>
				
			<span class="text text-muted" style="margin-left: 15px;">Meal
				Forest Inc.</span>
		</div>
	</div>

</div>
</div>
<style> 
.md-button {
    text-transform: capitalize;
    color: black;
}

</style>