<!-- Navbar -->
<!-- <px-nav class="px-nav-left" template-url="'public/views/common/nav.html'" />   -->

<px-navbar template-url="'/dependent/public/views/common/navbar_login.html'"  style="position:fixed;box-shadow:1px 1px 4px 0 rgba(0,0,0,.1) "/>

<div ui-view class="px-content m-b-4" style="background-color:#51bf9929">
</div>
<px-footer style="background-color:#fafafa" class="px-footer  px-footer-bottom" template-url="'/dependent/public/views/common/footer.html'"  />

