

<ul class="px-nav-content">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>

	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="public.default"><i
			class="px-nav-icon ion-ios-pulse-strong"></i><span
			class="px-nav-label">Search Business</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="public.default1"><i class="px-nav-icon ion-chatbubbles"></i>
			<span class="px-nav-label">Help</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="public.default2"><i
			class="px-nav-icon ion-android-done-all"></i> <span
			class="px-nav-label">FAQs</span></a></li>
</ul>
