<div class="container navTop15">
	<div class="navbar-header">
		<span style="font-size:24px;margin-top:10px;" class="navbar-brand px-demo-brand" ng-click="main.goHome1()"> 
	       		Meaily
	        </span> BETA
	</div>
	<!-- Navbar togglers -->
	<button type="button" class="navbar-toggle collapsed"
		data-toggle="collapse" data-target="#px-demo-navbar-collapse"
		aria-expanded="false">
		<i class="navbar-toggle-icon"></i>
	</button>
</div>