<div class="container"><div class="col-md-12">
	<div class="navbar-header">
	        <span style="font-size:24px;margin-top:10px;" class="navbar-brand px-demo-brand" ng-click="main.goHome()"> 
	       		Meaily
	        </span> BETA
	</div>
	<button type="button" class="navbar-toggle collapsed"
		data-toggle="collapse" data-target="#px-demo-navbar-collapse"
		aria-expanded="false">
		<i class="navbar-toggle-icon"></i>
	</button>
	<div class="collapse navbar-collapse" id="px-demo-navbar-collapse">
		<ul class="nav navbar-nav navbar-right">
			<!-- <li class="dropdown "><a href ui-sref="public.register"
				role="button" aria-haspopup="true" aria-expanded="false">Are you Business Owner?</a></li> -->
			<li ui-sref-active="active" class="m-y-1" > 
			 <label  class="text text-default " for="changeCityId">Service Area <span class="text text-danger" ng-click="main.allowSelect()">(Change)</span> &nbsp;</label><br>
			<strong>{{main.selectedCityStateCountry.cityName}}, {{main.selectedCityStateCountry.stateName}}</strong> <small>{{main.selectedCityStateCountry.countryName}} </small>
			</li>

		</ul>
	</div>

	</div>
</div>