 .px-navbar {
	background: #fff;
	color: black
}

.px-navbar .navbar-collapse {
	background: #fff;
	color: black
}

.px-navbar .navbar-header a {
    color : black;
	font-size: 18px
}

.navTop15 {
	margin-top:0px;
}

.px-footer {
	background : #fff
}

.px-navbar .navbar-header {
	background: #fff;
	color: black
}

 
.px-navbar .navbar-toggle .navbar-toggle-icon, .px-navbar .navbar-toggle .navbar-toggle-icon:after, .px-navbar .navbar-toggle .navbar-toggle-icon:before{
	background : #000
}
.px-navbar .navbar-toggle.collapsed .navbar-toggle-icon, .px-navbar .navbar-toggle.collapsed .navbar-toggle-icon:after, .px-navbar .navbar-toggle.collapsed .navbar-toggle-icon:before{
	background : #000
}

ion-icon {
  color: blue;
}

ion-icon {
  font-size: 64px;
}