.yellow_star {
	color: gold !important;
	zoom:2 !important;
}

.red_star {
	color: red !important;
	zoom:2 !important;
}

.blank_star {
	color: #999 !important;
	zoom:2 !important;
}

.rating {
	color: #a9a9a9;
	margin: 0;
	padding: 0;
}

ul.rating {
	display: inline-block;
}

.rating li {
	list-style-type: none;
	display: inline-block;
	padding: 1px;
	text-align: left !important;
	font-weight: bold;
	cursor: pointer;
}

.rating .filled {
	color: #ffee33;
}