<div class="page-header m-b-0">
	<div class="row">
		<div class="col-md-4">
			<h1>
				<i class="page-header-icon ion-leaf"></i>Blog <span
					class="text-default font-weight-light">Dashboard</span>
			</h1>
		</div>
	</div>
</div>

<!-- Stats -->

<div class="page-wide-block">
	<div class="box m-a-0 border-radius-0 valign-top">
		<div class="box-cell col-md-9 p-y-2">

			<div class="box-container">
				<div class="box-cell p-x-3 b-r-1">
					<div class="font-weight-bold font-size-18">52,233</div>
					<div class="font-weight-semibold font-size-11 text-default">MONTHLY
						VISITORS</div>
				</div>
				<div class="box-cell p-x-3 b-r-1">
					<div class="font-weight-bold font-size-18">2,341</div>
					<div class="font-weight-semibold font-size-11 text-default">SUBSCRIBERS</div>
				</div>
				<div class="box-cell p-x-3">
					<div class="font-weight-bold font-size-18">12</div>
					<div class="font-weight-semibold font-size-11 text-default">AVG.
						READ, MIN</div>
				</div>
			</div>
		</div>

		<hr class="m-a-0 visible-xs visible-sm">

		<div class="box-cell col-md-3 p-x-3 p-y-2 valign-middle ">
			<md-button type="button" class="md-raised md-raised-lg md-raised-block md-raised-primary">
				<i class="fa fa-pencil"></i>&nbsp;&nbsp;Write post
			</md-button>
		</div>

	</div>
</div>

<!-- / Stats -->

<hr class="page-wide-block m-t-0">

<div class="row">
	<div class="col-md-6">

		<!-- Content stats -->

		<div class="panel panel-success panel-body-colorful">
			<div class="panel-title">Content</div>
			<hr class="m-a-0">

			<div class="panel-body p-y-0 font-size-14">
				<div class="row">
					<div class="col-md-6 m-y-3">
						<i class="fa fa-newspaper-o text-default"></i>&nbsp;&nbsp;<a
							href="#"><strong>123</strong> posts</a>
					</div>
					<div class="col-md-6 m-y-3">
						<i class="fa fa-files-o text-default"></i>&nbsp;&nbsp;<a href="#"><strong>28</strong>
							pages</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 m-b-3">
						<i class="fa fa-folder-open text-default"></i>&nbsp;&nbsp;<a
							href="#"><strong>15</strong> categories</a>
					</div>
					<div class="col-md-6 m-b-3">
						<i class="fa fa-tags text-default"></i>&nbsp;&nbsp;<a href="#"><strong>32</strong>
							tags</a>
					</div>
				</div>
			</div>
		</div>

		<!-- / Content stats -->

	</div>
	<div class="col-md-6">

		<!-- Discussion stats -->

		<div class="panel panel-info panel-body-colorful">
			<div class="panel-title">Discussion</div>
			<hr class="m-a-0">

			<div class="panel-body p-y-0 font-size-14">
				<div class="row">
					<div class="col-md-6 m-y-3">
						<i class="fa fa-comments text-default"></i>&nbsp;&nbsp;<a href="#"><strong>1,031</strong>
							comments</a>
					</div>
					<div class="col-md-6 m-y-3">
						<i class="fa fa-check text-default"></i>&nbsp;&nbsp;<a href="#"><strong>825</strong>
							approved</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 m-b-3">
						<i class="fa fa-clock-o text-default"></i>&nbsp;&nbsp;<a href="#"><strong>91</strong>
							pending</a>
					</div>
					<div class="col-md-6 m-b-3">
						<i class="fa fa-exclamation-triangle text-default"></i>&nbsp;&nbsp;<a
							href="#"><strong>152</strong> spam</a>
					</div>
				</div>
			</div>
		</div>

		<!-- / Discussion stats -->

	</div>
</div>

<hr class="page-wide-block m-t-0">

<div class="row">
	<div class="col-md-8">

		<!-- Recent posts -->

		<div class="panel panel-default">
			<div class="panelheading">
				<div class="panel-title">Recent posts</div>
			</div>
			<div class="list-group b-a-0">

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
							elit.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">Posted
						on Friday, July 18th, 2016</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Morbi leo felis, vehicula ac nisi eu, malesuada
							dapibus neque.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">Posted
						on Friday, July 18th, 2016</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Nulla ac viverra neque.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">Posted
						on Friday, July 18th, 2016</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Mauris efficitur in mauris a bibendum. Sed odio
							quam, bibendum eu nibh quis, viverra lacinia ipsum.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">Posted
						on Friday, July 18th, 2016</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">In hac habitasse platea dictumst.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">Posted
						on Friday, July 18th, 2016</p>
				</div>

			</div>
		</div>

		<!-- / Recent posts -->

		<!-- Popular posts -->

		<div class="panel panel-default">
			<div class="panelheading">
				<div class="panel-title">Popular posts</div>
			</div>
			<div class="list-group b-a-0">

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing
							elit.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">
						<strong>1,345</strong> views, <strong>215</strong> comments
					</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Morbi leo felis, vehicula ac nisi eu, malesuada
							dapibus neque.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">
						<strong>1,345</strong> views, <strong>215</strong> comments
					</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Nulla ac viverra neque.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">
						<strong>1,345</strong> views, <strong>215</strong> comments
					</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">Mauris efficitur in mauris a bibendum. Sed odio
							quam, bibendum eu nibh quis, viverra lacinia ipsum.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">
						<strong>1,345</strong> views, <strong>215</strong> comments
					</p>
				</div>

				<div class="list-group-item">
					<div uib-dropdown class="pull-xs-right m-l-1">
						<md-button uib-dropdown-toggle type="button"
							class="md-raised md-raised-xs md-raised-outline md-raised-outline-colorless">
							<i class="fa fa-reorder"></i>
						</md-button>
						<div uib-dropdown-menu class="dropdown-menu-right">
							<li><a href="#"><i class="dropdown-icon fa fa-pencil"></i>&nbsp;&nbsp;Edit</a></li>
							<li><a href="#"><i
									class="dropdown-icon fa fa-times text-danger"></i>&nbsp;&nbsp;Remove</a></li>
						</div>
					</div>
					<div class="list-group-item-heading font-size-14">
						<a href="#">In hac habitasse platea dictumst.</a>
					</div>
					<p class="list-group-item-text text-default font-size-11">
						<strong>1,345</strong> views, <strong>215</strong> comments
					</p>
				</div>

			</div>
		</div>

		<!-- / Popular posts -->

	</div>
	<div class="col-md-4">

		<!-- Subscribers -->

		<div class="panel panel-default">
			<div class="panel-heading bg-transparent">
				<div class="panel-title">Subscribers</div>
			</div>

			<ul class="list-group">
				<a href="#" class="list-group-item"><i
					class="list-group-icon fa fa-facebook font-size-14 line-height-1 text-default"></i>Facebook<span
					class="label pull-xs-right">364</span></a>
				<a href="#" class="list-group-item"><i
					class="list-group-icon fa fa-twitter font-size-14 line-height-1 text-default"></i>Twitter<span
					class="label pull-xs-right">899</span></a>
				<a href="#" class="list-group-item"><i
					class="list-group-icon fa fa-pinterest font-size-14 line-height-1 text-default"></i>Pinterest<span
					class="label pull-xs-right">152</span></a>
				<a href="#" class="list-group-item"><i
					class="list-group-icon fa fa-rss font-size-14 line-height-1 text-default"></i>RSS<span
					class="label pull-xs-right">261</span></a>
				<a href="#" class="list-group-item"><i
					class="list-group-icon fa fa-at font-size-14 line-height-1 text-default"></i>E-mail<span
					class="label pull-xs-right">665</span></a>
			</ul>

			<div class="panel-body p-t-0 p-r-1 p-b-1 bg-white darken">
				<h6 class="m-y-2 font-weight-semibold text-default">RECENT
					SUBSCRIBERS</h6>

				<a href="#" uib-tooltip="John Doe" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/1.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Robert Jang" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/2.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Michelle Bortz" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/3.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Timothy Owens" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/4.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Denise Steiner" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/5.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="John Doe" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/1.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Robert Jang" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/2.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Michelle Bortz" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/3.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Timothy Owens" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/4.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Denise Steiner" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/5.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="John Doe" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/1.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Robert Jang" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/2.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Michelle Bortz" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/3.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Timothy Owens" class="pull-xs-left m-r-1 m-b-1"><img
					src="../assets/demo/avatars/4.jpg" alt="" class="border-rounded"
					style="width: 28px; height: 28px;"></a> <a href="#"
					uib-tooltip="Show more"
					class="pull-xs-left fa fa-ellipsis-h m-r-1 m-b-1 border-rounded bg-white darker text-default text-xs-center font-size-14"
					style="width: 28px; height: 28px; line-height: 28px;"></a>
			</div>
		</div>

		<!-- / Subscribers -->

		<!-- Top referrers -->

		<div class="panel panel-default">
			<div class="panel-heading bg-transparent">
				<div class="panel-title">Top 5 referrers</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-light">
					<thead>
						<tr>
							<th>Site</th>
							<th class="text-xs-right">Visits</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="http://www.google.com" class="text-default">www.google.com</a></td>
							<td class="text-xs-right">12,543</td>
						</tr>
						<tr>
							<td><a href="http://www.google.com" class="text-default">www.google.de</a></td>
							<td class="text-xs-right">11,963</td>
						</tr>
						<tr>
							<td><a href="http://www.twitter.com" class="text-default">www.twitter.com</a></td>
							<td class="text-xs-right">9,965</td>
						</tr>
						<tr>
							<td><a href="http://www.facebook.com" class="text-default">www.facebook.com</a></td>
							<td class="text-xs-right">4,223</td>
						</tr>
						<tr>
							<td><a href="http://www.yahoo.com" class="text-default">www.yahoo.com</a></td>
							<td class="text-xs-right">3,437</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- / Top referrers -->

	</div>
</div>
