<!-- Custom template -->
<script id="px/pages/dashboardchart.html" type="text/ng-template">
  <div>
    <ul class="search-nav nav nav-tabs nav-tabs-simple nav-sm page-block panel m-b-0 p-y-0 b-a-0 border-radius-0" ng-transclude></ul>

    <hr class="page-wide-block m-y-0 b-t-2">

    <div class="tab-content m-t-3 p-y-0">
      <div class="tab-pane" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab"></div>
    </div>
  </div>
</script>
<div ng-controller="DefaultDashboardChartsCtrl as dashboard">
	<!-- Custom styling -->
	<style>
.page-header-form .input-group-addon, .page-header-form .form-control {
	background: rgba(0, 0, 0, .05);
}
</style>
	<!-- / Custom styling -->

	<ol class="breadcrumb page-breadcrumb">
		<li><a href="/business/">Home</a></li>
		<li class="active">Dashboard</li>
	</ol>

	<div class="page-header">
		<div class="row">
			<div class="col-md-4 text-xs-center text-md-left text-nowrap">
				<h1>
					<i class="page-header-icon ion-ios-pulse-strong"></i>Analytics <span
						class="text-default font-weight-light">Dashboard</span>
				</h1>
			</div>


			<div class="col-md-8">


				<form action=""
					class="page-header-form form-inline col-md-12 col-md-4 pull-md-right ng-pristine ng-valid">
					<div class="input-group input-group-lg" style="width: 80%">
						<span class="input-group-addon b-a-0 font-size-16"><i
							class="ion-search"></i></span> <input type="text"
							ng-model="dashboard.searchText" placeholder="Search Review..."
							class="form-control p-l-0 b-a-0 ng-pristine ng-untouched ng-valid ng-empty"
							aria-invalid="false">
					</div>
					<a href="#!/pages/reviews/"
						ui-sref="pages.search-results({searchText: dashboard.searchText})"
						class="md-raised md-primary md-button ">Search</a>
				</form>
			</div>



		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default"
				style="background-color: #fafafa !important; border: none">
				<div class="panel-title">
					Average Rating&nbsp;&nbsp;
					<add-stars rating="{{dashboard.rating}}"></add-stars>
					</br> <small class="text text-muted">{{dashboard.rating |
						number:2}} / 5 &nbsp;</small>
				</div>
			</div>
		</div>
	</div>
	<!-- Uploads -->
	<!-- 	<uib-tabset template-url="px/pages/dashboardchart.html" px-tab-resize>
  <uib-tab heading="Latest Trends">
	  <div class="panel panel-default"><div class="panel-body">
	   Show Trends
	  </div></div>
  </uib-tab>
</uib-tabset> -->

	<div class="row">
		<div class="col-md-3 text-center">
			<div class="box" style="background-color: #00b5c2 !important">
				<h1 class="text-white ">{{dashboard.totalStores}}</h1>
				<p class="text-white" style="font-size: large">Total Stores</p>
			</div>
		</div>
		<div class="col-md-3 text-center">
			<div class="box" style="background-color: #3e4d6c !important">
				<h1 class="text-white">{{dashboard.totalSubscriptionPlans}}</h1>
				<p class="text-white" style="font-size: large">Total
					Subscription Plans</p>
			</div>
		</div>
		<div class="col-md-3 text-center">
			<div class="box" style="background-color: #008efa !important">
				<h1 class="text-white">{{dashboard.totalCustomers.length}}</h1>
				<p class="text-white" style="font-size: large">Total Customers</p>
			</div>
		</div>
		<div class="col-md-3 text-center">
			<div class="box" style="background-color: #f75b36 !important">
				<h1 class="text-white">{{dashboard.totalMonthRevenue | currency}}</h1>
				<p class="text-white" style="font-size: large">~monthly income</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="panel panel-default"
				style="background-color: #fafafa !important; border: none">


				<div class="panel-title">
					<i class="fa fa-tachometer text-primary"></i>&nbsp;Review
					Statistics<span class="text text-default text-muted pull-right"
						ng-bind="dashboard.lastUpdatedOn"> </span>
				</div>
				<hr>
				<div class="panel-body">
					<div class="row">
						<div class=" col-md-4">
							<ul class="list-group">
								<li class="list-group-item "><span
									class="label label-primary pull-right"
									ng-bind="dashboard.positiveReview"></span> Positive</li>
								<li class="list-group-item "><span
									class="label label-danger pull-right"
									ng-bind="dashboard.negativeReview"></span> Negative</li>
								<li class="list-group-item "><span
									class="label label-info pull-right"
									ng-bind="dashboard.neutralReview"></span> Neutral</li>
								<li class="list-group-item "><div id="dashboardDonutData"
										style="height: 200px" /></li>
							</ul>
						</div>

						<div class=" col-md-8"
							style="background-color: #51bf99 !important">
							<div id="dashboardChartData" style="height: 300px"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default"
				style="background-color: #fafafa !important; border: none;">
				<div class="panel-title text-center">
					<md-button class="md-primary "
						ng-click="dashboard.createPromotion()">Promotion
					Counter</md-button>
				</div>
				<hr>
				<div class="panel-body text-center">
					<span style="font-size: 16px" class="text text-muted ">
						Total Request received for promotion</span> <br> <span
						style="font-size: 120px">{{dashboard.promotionRequestCounter}}</span>

				</div>
			</div>
		</div>
	</div>

	<div class="row"  >
		<div class="col-md-12">
			<div class="panel panel-default"
				style="background-color: #fafafa !important; border: none">
				<div class="panel-title">
					Generate Delivery Schedule for
					<md-datepicker ng-change="dashboard.getDeliverySchedule()"
						ng-model="dashboard.deliveryScheduleDate" ng-required=true></md-datepicker>
						<md-button ng-click="dashboard.printDeliverySchedule()" class="md-raised md-primary pull-right"><i class="fa fa-print" aria-hidden="true"></i></md-button>	
				</div>
				<div class="panel-subtitle">
					<span class="badge badge-success">&nbsp; found {{dashboard.deliveryCustomers.length}} customers&nbsp;</span></div>
				<hr>
				<div class="panel-body">
				<div class="row">	<div class="col-md-12">
						<div id='schedularMapId' style="height: 600px"></div>
					</div></div>
				
					<div class="row m-t-2">
						<div class="col-md-12">
							<table id="deliverySchedulePrintMe" datatable="ng" dt-options="dashboard.dtOptions"
								class=" table table-striped " >
								<thead>
									<tr >
										<th>Customer Detail</th>
										<th>Meal Plan</th>
									</tr>
								</thead>
								<tbody >
									<tr   ng-repeat="cust in dashboard.deliveryCustomers" class="printMe">
										<td><md-button class="md-primary"
												ng-click="dashboard.gotocustomer(cust.id)">
											{{cust.customer.firstName }} {{cust.customer.lastName}}</md-button><br>
											<span class="text text-default" style="font-size: 14px"><i
												class="fa fa-envelope">&nbsp;</i> {{cust.customer.email}} </span><br>
											<span class="text text-default" style="font-size: 14px"><i
												class="fa fa-phone">&nbsp;</i>{{cust.customer.phoneNumber}}</span><br>
											<span class="text text-default" style="font-size: 14px"><i
												class="fa fa-map-marker">&nbsp;</i>{{cust.address.street}}
												{{cust.address.area.cityName}} {{cust.address.postal}}
												{{cust.address.area.stateName}} {{cust.address.area.countryName}} </span></td>
										<td>
											<div ng-repeat="sbcr in cust.subscriptions">
												<span class="text text-muted">Customer Comment</span><br>
												<span class="text text-default" style="font-size: 14px">
													{{sbcr.description}} </span> <br> <span
													class="text text-muted">Meal Plan</span><br> <span
													class="text text-default" style="font-size: 14px">
													{{sbcr.storeOfferredPlan.name}} @
													{{sbcr.storeOfferredPlan.planPricing}} {{cust.store.serviceArea[0].currency}}
													{{sbcr.storeOfferredPlan.billingPeriod | uppercase}} </span> <br>


												<span class="text text-muted">Subscription End Date</span><br>
												<span class="text text-default" style="font-size: 14px">
													{{sbcr.endDate | meailydate}} </span> <br>

											</div>

										</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>



				</div>

			</div>
		</div>
	</div>
	<!-- Stats -->






</div>