<div ng-controller="DriverCtrl as driver" ng-init="driver.loadServiceArea()">
	<div class="page-header m-b-2">
		<div class="row">
			<div class="col-md-4">
				<h1>
					<i class="dropdown-icon fa fa-drivers-license">&nbsp;</i>Delivery <span
						class="text-default font-weight-light">Drivers</span>
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<!-- Latest transactions -->
			<div class="panel panel-default" >
				<div class="panel-title" >
					<strong>Your Delivery Drivers</strong>
					<div class="panel-heading-controls" style="margin-top: -10px">
						 <a ui-sref="dashboards.driverpool"
							class="md-button md-primary md-raised "> Looking for delivery drivers ?</a>
					</div>
				</div>

				<div class="panel-body">
						<table class="table" datatable="ng" dt-options="driver.dtOptions" class=" table table-responsive">
							<thead ng-hide="true">
								<tr>
									<th>Driver Details</th>
									<th>Assigned Service Area(s)</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								 
								<tr ng-repeat="app in driver.yourdrivers">
									<td>
										<span class="text text-default">{{app.deliveryDriver.reviewer.firstName}} {{app.deliveryDriver.reviewer.lastName}}</span><br>
										<span class="text text-default"><i  class="fa fa-phone" >&nbsp;</i>{{app.deliveryDriver.reviewer.phoneNumber}}</span><br>
										<span class="text text-default"><i  class="fa fa-envelope" >&nbsp;</i>{{app.deliveryDriver.reviewer.email}} </span><br>
										<span class="text text-default"><i class="fa fa-map-marker">&nbsp;</i>{{app.deliveryDriver.address.street}} {{app.deliveryDriver.address.city}} {{app.deliveryDriver.address.postal}} {{app.deliveryDriver.address.province}} {{app.deliveryDriver.address.country}}</span></br>  
										<span class="text text-muted">Applied On {{app.appliedOn | date}}</span> <br>
										</td>
										<td><span class="text text-default" ng-repeat="sa in app.jobPosting.serviceArea">{{sa.cityName}} &nbsp;</span><br>
										<span class="text text-default" ng-click="driver.editJob(app.jobPosting)">{{app.jobPosting.name}}&nbsp;<icon class="fa fa-edit"></icon></span></td>
										<td>
										<md-button class="md-default md-raised" ng-click="driver.removeApplication(app)">Remove</md-button>
									</td>
								</tr>
								 
							</tbody>
						</table>
				</div>
			</div>


			<!-- / Latest transactions -->
		</div>



		<!-- / Latest transactions -->
	</div>
	<div class="row">
		<div class="col-md-6">
			<!-- Latest transactions -->
			<div class="panel panel-default">
				<div class="panel-title">
					<strong>Applications Received for Delivery Jobs</strong></div>
					<div class="panel-subtitle"> <md-switch ng-change="driver.loadJobs()" class="md-primary" name="special" ng-model="driver.showAllApplications" required>
          {{driver.showAllApplications ? "show all the applications." : "showing newly received applications only."}}
        </md-switch></div>

				<div class="panel-body">
						<table style="" datatable="ng" dt-options="driver.dtOptions" class=" table table-responsive" >
							<thead>
								<tr>
									<th>Driver Details</th>
									<th>Job Name</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="app in driver.applications">
									<td>
										<span class="text text-default">{{app.deliveryDriver.reviewer.firstName}} {{app.deliveryDriver.reviewer.lastName}}</span><br>
										<span class="text text-default"><i  class="fa fa-phone" >&nbsp;</i>{{app.deliveryDriver.reviewer.phoneNumber}}</span><br>
										<span class="text text-default"><i  class="fa fa-envelope" >&nbsp;</i>{{app.deliveryDriver.reviewer.email}} </span><br>
										<span class="text text-default"><i class="fa fa-map-marker">&nbsp;</i>{{app.deliveryDriver.address.street}} {{app.deliveryDriver.address.city}} {{app.deliveryDriver.address.postal}} {{app.deliveryDriver.address.province}} {{app.deliveryDriver.address.country}}</span></br>  
										<span class="text text-muted">Applied On {{app.appliedOn | date}}</span> <br>
										<span class="label label-default">Application status is {{app.status | lowercase}}.</span><br>
										
										<md-button ng-show="app.status=='APPLIED'" class="md-primary" ng-click="driver.approveApplication(app)">Approve</md-button> 
										<md-button ng-show="app.status=='APPLIED'" class="md-primary" ng-click="driver.rejectApplication(app)">Reject</md-button>
									</td>
									<td>{{app.jobPosting.name}}&nbsp;<span class="text text-default " ng-click="driver.editJob(app.jobPosting)"><icon class="fa fa-edit"></icon></span>
									 </td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>


			<!-- / Latest transactions -->
		</div>
		<div class="col-md-6">
			<!-- Latest transactions -->
			<div class="panel panel-default" >
				<div class="panel-title" >
					<strong>Job Postings</strong>
					<a href data-toggle="modal" data-target="#jobModal"
							class="md-button pull-right md-raised "> Submit Job Posting</a>
					</div>

				<div class="panel-body"> <div class="row"><div class="col-md-12">
				<table datatable="ng" dt-options="driver.dtOptions" class=" table table-striped ">
								<thead ng-hide="true">
									<tr>
										<th>Customer Detail</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="job in driver.jobs"><td>
											<span style="font-size:16px">{{job.name}}</span> 
											<button class="md-button md-primary pull-right" ng-click="driver.editJob(job)"><icon class="fa fa-edit">&nbsp;</icon></button>
											<button class="md-button md-primary pull-right" ng-click="driver.removeJob(job.id)"><icon class="fa fa-remove">&nbsp;</icon></button>
											 <br>
											<span class="text text-muted">Contract End : {{job.duration | date}}  | Expiry Date : {{job.expiryDate | date}}</span><br>
											<span class="text text-success">Compensation : {{job.wageInformation}} </span> <br>
											<span class="text text-default">
											{{job.description | limitTo:400}}{{job.description.length > 400 ?
						'......': ''}}  </span> <br>
											<span class="text text-muted" style="font-size:8px">last updated on {{job.modifiedOn | date}}</span>
									</td></tr>
								</tbody>
				 </table>
				</div></div>
				
				
				</div>
			</div>


			<!-- / Latest transactions -->
		</div>

	



		<!-- / Latest transactions -->
	</div>


	<div class="modal fade" id="jobModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<span ng-bind="driver.jobPostingLabel" style="font-size: 18px" class="modal-title" id="myModalLabel"></span>
					<md-button class="md-raised md-warn pull-right"
						style="margin-top:-5px;" data-dismiss="modal">X</md-button>

				</div>
				<div class="modal-body">

					<form name="jobForm">
						<fieldset class="form-group">
							<label for="form-group-input-1">Job Name</label> <input required name="jobName"
								type="text" ng-model="driver.job.name" ng-disabled="driver.job.id!= null "
								class="form-control" id="form-group-input-1"
								placeholder="Enter name of your competitor">
								<span ng-show="jobForm.jobName.$touched && jobForm.jobName.$invalid">Job Name is required.</span>
						</fieldset>
						

						<fieldset class="form-group">
						    <div class="row">
						    		<div class="col-md-6"><label for="form-group-input-2">Contract End Date</label> <input required name="duration"
								type="date" ng-model="driver.job.duration"
								class="form-control" placeholder="Job Durations">
								<span ng-show="jobForm.duration.$touched && jobForm.duration.$invalid">Contract ending date or job duration is required.</span>
						    	
								</div>
								
								<div class="col-md-6">
								<fieldset class="form-group">
							<label for="form-group-input-2">Apply Before</label> <input
								required type="date" ng-model="driver.job.expiryDate" name="expiryDate"
								class="form-control" placeholder="Send Job Application before">
							<span ng-show="jobForm.expiryDate.$touched && jobForm.expiryDate.$invalid">Job Posting expiry date. Applicants are encouraged to apply before this date.</span>
						</fieldset>
								</div>
								
									<div class="col-md-12"><label for="form-group-input-2">Compensation</label> <input name="wageInformation"
								required type="text" ng-model="driver.job.wageInformation" ng-disabled="driver.job.id!= null "
								class="form-control" placeholder="Compensation">
								<span class="text text-danger" ng-show="jobForm.wageInformation.$touched && jobForm.wageInformation.$invalid">Compensation is required. e.g 14$ per hour / 5$ per delivery<br></span>
								<span class="text text-default"><strong>Note</strong> Compensation can not be changed once job is created successfully.</span>
								</div>
								
						    </div>
							
						 
							
						</fieldset>
						
						<fieldset class="form-group">
							<label for="form-group-input-2">Select Delivery Areas</label>  
								<ui-select multiple ng-model="driver.job.serviceArea"   limit=5 required
							name="serviceArea"> <ui-select-match
							placeholder="Select a city,state,country"> 
							{{$item.cityName}} , {{$item.stateName}}, {{$item.countryName}}
							</ui-select-match> 
							<ui-select-choices repeat="item in driver.locationMap | filter: $select.search ">
								{{item.cityName}} , {{item.stateName}}, {{item.countryName}}
							</ui-select-choices> 
						<ui-select-no-choice> No results found. </ui-select-no-choice> 
						<span ng-show="jobForm.serviceArea.$touched && jobForm.serviceArea.$invalid">Delivery areas are required. You can provide up to 5 cities.</span>
				</ui-select>
								
						</fieldset>

						

						<fieldset class="form-group">
							<label for="form-group-input-2">Job Description</label>
							<textarea required type="text" col="10"  name="description"
								ng-model="driver.job.description" class="form-control"
								placeholder="Job Description"></textarea>
						<span ng-show="jobForm.description.$touched && jobForm.description.$invalid">Job description is required.</span>
						</fieldset>

					</form>

				</div>
				<div class="modal-footer">
				   <span class="text text-success">{{driver.jobMessage}}</span>
					<md-button type="button" class="md-raised md-primary" ng-disabled="jobForm.$invalid"
						ng-click="driver.postJob()">Submit</md-button>
					<md-button type="button" class="md-raised" data-dismiss="modal">Close</md-button>

				</div>
			</div>
		</div>
	</div>
</div>




