<div ng-controller="DriverPoolCtrl as driverpool">
    <div class="page-header m-b-2">
        <div class="row">
            <div class="col-md-4">
                <h1>
                    <i class="dropdown-icon fa fa-drivers-license">&nbsp;</i>Available <span class="text-default font-weight-light">Drivers</span>
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <!-- Latest transactions -->
                <div class="panel panel-default" style="border: none; background: #fafafa">
                    <div class="panel-title">
                        <strong>Drivers Pool</strong> <span ng-bind="driverpool.jobMessage" style="font-size: 12px" class="text text-muted pull-right"></span>
                    </div>
                    <hr>
                    <div class="panel-body">
                        <div class="row m-b-2">
                            <div class="col-md-6">
                                <label for="keyword" class="text text-muted">Search by Keyword</label> <input type="text" name="keyword" class="form-control" id="keyword" ng-model="driverpool.jobKeyword" ng-change="driverpool.searchJobs()" placeholder="Search jobs..." aria-invalid="false">
                            </div>
                            <div class="col-md-6">
                                <label for="cityName" class="text text-muted">Filter Drivers by City</label> <input id="cityName" type="text" class="form-control" ng-change="driverpool.searchJobs()" ng-model="driverpool.cityKeyword" name="cityName" placeholder="Start typing city name.." aria-invalid="true">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="background-color: white !important;">
                                <table class="table table-hover " style="border: none">
                                    <thead ng-hide="true">
                                        <tr>
                                            <th>Customer Detail</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="job in driverpool.jobs track by job.id ">
                                            <td>
                                             <fieldset>
                                            <span class="text text-default" style="font-size: 20px">  
                                            <md-button style="margin-left:-5px" ng-click="driverpool.applyJob(job)" class="md-primary"> {{job.reviewer.firstName }} {{job.reviewer.lastName}}</md-button> 
                                             </span><br>
											<span class="text text-muted" style="font-size: 14px"><i class="fa fa-envelope">&nbsp;</i> {{job.reviewer.email}} </span>  
											<span class="text text-muted" style="font-size: 14px"><i class="fa fa-phone">&nbsp;</i>{{job.reviewer.phoneNumber}}</span> 
											 </fieldset>
											 
											 
                                            
                                            </td>
                                              <td>
                                             <fieldset ng-show="job.license">
											 <label for="license">License Details</label>
											 <div id="license">
											 <span class="text text-default">{{job.license.experience}} years of driving experience </span><br>
											  <span class="text text-default"> License Issued On  {{job.license.licenseIssueDate | date}} </span><br>
											  <span class="text text-default"> Notes :  {{job.license.notes}}</span>
											 </div>
											 </fieldset> 
                                               <fieldset ng-show="job.deliveryAreas">
											 <label for="areas">Preferred Delivery Areas</label>
											 <div id="areas"><span class="label label-default m-r-1" ng-repeat="sa in job.deliveryAreas">{{sa.cityName}},{{sa.stateName}}</span></div>
											 </fieldset>
                                           
                                              </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-hide="driverpool.jobs.length==0" class="text text-center">
                                    <tr><td></td><td> <md-button class="md-primary pull-left" ng-click="driverpool.loadJobs()">Load More...</md-button></td></tr>
                                               
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Latest transactions -->
            </div>
        </div>
    </div>
    
    
    
    	<div class="modal fade" id="candidateModal" tabindex="-1" role="dialog"
		aria-labelledby="candidateModal" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<span style="font-size: 18px" class="modal-title" id="myModalLabel">Select Driver for Job</span>
					<md-button class="md-raised md-warn pull-right"
						style="margin-top:-5px;" data-dismiss="modal">X</md-button>

				</div>
				<div class="modal-body">

					<form name="jobForm">
						<fieldset class="form-group">
							<span id="driverDetails1" class="text text-default">{{driverpool.assignment.deliveryDriver.reviewer.firstName }} {{driverpool.assignment.deliveryDriver.reviewer.lastName}}</span>  <br> 
							<span class="text text-default"  ><i class="fa fa-envelope">&nbsp;</i> {{driverpool.assignment.deliveryDriver.reviewer.email}} </span>  <br> 
							<span class="text text-default" ><i class="fa fa-phone">&nbsp;</i>{{driverpool.assignment.deliveryDriver.reviewer.phoneNumber}}</span> <br> <br> 
							
							<label class="text text-muted" for="driverDetails2">Preferred Delivery Areas</label> <br>
							<div class="row"><div class="col-md-3"  ng-repeat="areas in driverpool.assignment.deliveryDriver.deliveryAreas" class="text text-default">
							{{areas.cityName}},{{areas.stateName}}&nbsp;</div> 
							</div>
							<br> 
							
							<label class="text text-muted" for="driverDetails3">License Details</label> <br>
							<span   class="text text-default"><strong>{{driverpool.assignment.deliveryDriver.license.experience}} </strong>Years of driving experience</span> <br>
							<span   class="text text-default">License issued on <strong> {{driverpool.assignment.deliveryDriver.license.licenseIssueDate | date}} </strong></span> <br>
							<span   class="text text-default"><strong>Note</strong> {{driverpool.assignment.deliveryDriver.license.notes}}  </span> 
							 
						</fieldset>
						 
						 <hr>
						 <fieldset class="form-group">
							<label for="jobID">Assign Job</label> <br>
							<small>We encourage you to interview with candidate and validate above details before assigning a job.</small>
							 
							<select id="jobID" style="width: 100%; color: black;" class="form-control"
								name="repeatSelect"  ng-model="driverpool.assignment.jobPosting">
								<option ng-repeat="option in driverpool.activejobs"
									ng-value="option">
									
									{{option.name}} - {{option.wageInformation}} 
									
									
									</option>
							</select>  <br>
							<span class="text text-default"><strong>{{driverpool.assignment.jobPosting.name}}</strong></span><br>
							Service Area : <span class="text text-default" ng-repeat="area in driverpool.assignment.jobPosting.serviceArea">{{area.cityName}}&nbsp;</span><br>
							<span class="text text-muted">{{driverpool.assignment.jobPosting.description}}</span><br>

							 
						</fieldset>

					</form>

				</div> 
				<div class="modal-footer">
					<md-button type="button" class="md-raised md-primary" ng-disabled="jobForm.$invalid"
						ng-click="driverpool.assignJob()">Select {{driverpool.assignment.deliveryDriver.reviewer.firstName }} for Job</md-button>
					<md-button type="button" class="md-raised" data-dismiss="modal">Close</md-button>

				</div>
			</div>
		</div>
	</div>
    
</div>