
<link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet"></link>
<div ng-controller="PromoteBusinessCtrl as promoteBusiness">
	<div class="page-header m-b-0">
	<div class="row">
		<div class="col-md-4">
			<h1>
				<i class="page-header-icon ion-android-globe"></i>Promote Business<span
					class="text-default font-weight-light">&nbsp;Dashboard</span>
			</h1>
		</div>
	</div>
</div>
 
	<div class="row">
	    <div class="col-md-4">
	    <div class="panel panel-success " style="border:none;background-color: #607D8B;color: white;padding:20px;">
				<div ng-show="promoteBusiness.isCreate" class="panel-title">
					Create Promotions
				</div>
				<div ng-hide="promoteBusiness.isCreate" class="panel-title">
					Update Promotions
				</div>
				
				<hr>
	    <div class="panel-body"><form>
	    
	    <fieldset class="form-group">
							<label for="storeSelected"> Select Store </label> 
							<select id="storeSelectID" style="width: 100%; color: black;" class="form-control"
								name="repeatSelect"  ng-model="promoteBusiness.store">
								<option ng-repeat="option in promoteBusiness.availableStore"
									value="{{option.id}}">{{option.storeName}} - {{option.address.street}} {{option.address.city}} {{option.address.province}} {{option.address.postal}} {{option.address.country}}</option>
							</select>

						</fieldset>
	    
						<fieldset class="form-group">
							<label for="promotionTimeFrameId">Promotion Time Frame</label> <input
								type="text" id="promotionTimeFrameId" name="promotionTimeFrame"
								class="form-control pull-right">
						</fieldset>

						<fieldset class="form-group">
							<label for="form-group-input-1">Title</label> <input
								type="text" class="form-control"
								ng-model="promoteBusiness.promoteTitle" id="form-group-input-1"
								placeholder="Example input">
						</fieldset>

						<fieldset class="form-group">
							<label for="form-group-input-2">Description</label>
							<textarea type="text" class="form-control"
								ng-model="promoteBusiness.promoteDesc" id="form-group-input-2"
								rows="10" placeholder="Another input"></textarea>
						</fieldset>
<md-button type="submit" class="md-raised " ng-show="promoteBusiness.isCreate"
						ng-click="promoteBusiness.createPromotion()">Create
						Promotion</md-button>
<md-button type="submit" class="md-raised md-primary" ng-hide="promoteBusiness.isCreate"
						ng-click="promoteBusiness.createPromotion()">Update
						Promotion</md-button>						
						
					</form> </div>
	    </div>
	    </div>
		<div class="col-md-8">
			<div class="panel panel-default" style="border:none">
				<div class="panel-title">
					List of Promotions
				</div>

				<hr class="m-a-0">
				<div class="panel-body">
				
				
				<table id="promotionTable" datatable="ng" dt-options="promoteBusiness.dtOptions"
						class="table table-striped table-bordered">
						<thead>
								<tr>
									<th>Created On</th>
									<th>Promotion </th>
									<th>Start Date</th>
									<th>Expiry Date</th>
									<th>Store</th>
									<th>Actions</th>
								</tr>
							</thead>
						<tbody>
							<tr ng-repeat="promotion in promoteBusiness.promotions track by promotion.id">
									<td>{{promotion.createdOn | date}}</td>
									<td>{{promotion.title}} <br> <small> {{promotion.detail}}</small></td>
									<th>{{promotion.startDate | date }}</th>
									<td>{{promotion.endDate | date}}</td>
									<td><span class="label label-success m-l-1">{{promotion.store.storeName}} </span><br> 
									{{promotion.store.address.street}} {{promotion.store.address.city}} {{promotion.store.address.province}} {{promotion.store.address.postal}} {{promotion.store.address.country}}
									
									</td>
									<td><span
										ng-click="promoteBusiness.openPromotion(promotion)"><icon class="fa fa-edit"></icon></span>
										<span
										ng-click="promoteBusiness.delete(promotion)"><icon
												class="fa fa-remove m-l-2 text-danger"></icon></span>		
												
												</td>
								</tr>
						</tbody>
					</table>
				
				
				</div>

			</div>
		</div>

	
	</div>
   <div class="row">
    <div class="col-md-3" ng-repeat="promo in promoteBusiness.promotionCounters">
    <div class="panel panel-default"
				style="background-color: #fafafa !important;border:none;">
				<div class="panel-title text-center">
					<span class="text text-success">{{promo.storeName}}</span>
					<md-button class="md-primary"
						ng-click="promoteBusiness.resetCounter(promo)">Reset Counter</md-button>
					</div>
				<hr>
				<div class="panel-body text-center">
				<span style="font-size:16px"
						class="text text-muted "> Total Request received for promotion</span>
				
				<br>
						<span style="font-size:120px">{{promo.requestCounter}}</span> <br>
						
										<span
						class="text text-muted "> Last request received on {{promo.lastRequest | date}}</span>
							
					</div>
			</div>
    
    </div>
    </div>

	<script type="text/javascript">
$(document).ready(function() {
	$('input[name="promotionTimeFrame"]').daterangepicker();
	});
</script>
</div>
