<div id="reportData" ng-controller="WeeklyReportCtrl as report" ng-init="report.getReport()">
		<div class="row">
			<div class="col-md-12">
				<h2>
					<i class="page-header-icon fa fa-file"></i>Monthly Report <span
						class="text-default m-t-1 font-weight-light">&nbsp;{{report.report.report}}</span>
				
				<span style="cursor: pointer;" ng-click="report.printReport()"><i
					class="page-header-icon fa fa-print pull-right"></i></span></h2>
			  <span class="text text-muted">Reports are updated on 1st day of each month.</span>
			</div>
		</div><hr>
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-warning">
				<div class="panel-title">{{report.report.customers.length}} New Customers
				</div> 
				<div class="panel-body">
				      <div class="row" ng-repeat="cust in report.report.customers"> <hr>
										<div class="col-md-6"><md-button class="md-primary"
												ng-click="report.gotocustomer(cust.id)">
											{{cust.customer.firstName }} {{cust.customer.lastName}}</md-button><br>
											<span class="text text-default" style="font-size: 14px"><i
												class="fa fa-envelope">&nbsp;</i> {{cust.customer.email}} </span><br>
											<span class="text text-default" style="font-size: 14px"><i
												class="fa fa-phone">&nbsp;</i>{{cust.customer.phoneNumber}}</span><br>
											<span class="text text-default" style="font-size: 14px"><i
												class="fa fa-map-marker">&nbsp;</i>{{cust.address.street}}
												{{cust.address.city}} {{cust.address.postal}}
												{{cust.address.province}} {{cust.address.country}} </span></div>
										<div class="col-md-6">
											<div ng-repeat="sbcr in cust.subscriptions">
												<span class="text text-muted">Customer Comment</span><br>
												<span class="text text-default" style="font-size: 14px">
													{{sbcr.description}} </span> <br> <span
													class="text text-muted">Meal Plan</span><br> <span
													class="text text-default" style="font-size: 14px">
													{{sbcr.storeOfferredPlan.name}} @
													{{sbcr.storeOfferredPlan.planPricing}}
													{{sbcr.storeOfferredPlan.billingPeriod | uppercase}} </span> <br>


												<span class="text text-muted">Subscription End Date</span><br>
												<span class="text text-default" style="font-size: 14px">
													{{sbcr.endDate | date}} </span> <br>

											</div>

										</div>  
									</div>
				           
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default" style="border: none;background-color: #fafafa;">
				<div class="panel-title">Other Updates</div><hr>
				<div class="panel-body"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-warning">
				<div class="panel-title">{{report.report.reviews.length}} New Reviews </div><hr>
				<div class="panel-body">
				<div class="box" ng-repeat="review in report.report.reviews">
				        <div class="box-row">{{review.review}} <add-stars rating="{{review.rating}}"></add-stars></div>  
				   </div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-warning">
				<div class="panel-title">{{report.report.queries.length}} New Queries</div><hr>
				<div class="panel-body">
				   <div class="box" ng-repeat="query in report.report.queries">
				      <div class="box-row">{{query.query}}</div>  
				   </div>
				
				</div>
			</div>
		</div>
	</div>
</div>