<div class="container">
   <div class="row">
      <div class="col-md-2">
         <a class="md-button md-primary" href="/business/index" role="button"
            aria-haspopup="true" aria-expanded="false">Partner with us</a> </br> <span
            class="text text-muted" style="margin-left: 15px">For
         Restaurants</span><br> <span class="text text-muted"
            style="margin-left: 15px"> For Takeout Onlys</span><br> <span
            class="text text-muted" style="margin-left: 15px"> For
         Individuals</span>
      </div>
      
    <div class="col-md-2">
         <a class="md-button md-primary" href="/driver" role="button"
            aria-haspopup="true" aria-expanded="false">Delivery Drivers</a> <br>
         
         
         <span class="text text-muted" style="margin-left: 15px">For Delivery Drivers</span><br>         
<span class="text text-muted" style="margin-left: 15px">Food Delivery Jobs</span>
      </div>
      
      
      <div class="col-md-2">
         <a class="md-button md-primary" href="/public" role="button"
            aria-haspopup="true" aria-expanded="false">Access Your Data</a> <br>
         <span class="text text-muted" style="margin-left: 15px"> For
         Public Users</span>
      </div>
    
   </div>
   <hr>
   <div class="row">
      <div class="col-md-12">
         <span class="text text-muted" style="margin-left: 15px;">Meal
         Forest Inc.</span><br> <a class="md-button md-primary" href="/about"
            role="button" aria-haspopup="true" aria-expanded="false">About
         Us</a> <!-- <a class="md-button md-primary" href="/contact" role="button"
            aria-haspopup="true" aria-expanded="false">Contact Us</a> --> <!-- <a
            class="md-button md-primary" href="/feedback" role="button"
            aria-haspopup="true" aria-expanded="false">Send Feedback</a> <a
            class="md-button md-primary" href="/help" role="button"
            aria-haspopup="true" aria-expanded="false">Help</a> --> <a
            class="md-button md-primary" href="/privacy" role="button"
            aria-haspopup="true" aria-expanded="false">Privacy Policy</a>
            <a
            class="md-button md-primary" href="/privacy" role="button"
            aria-haspopup="true" aria-expanded="false">Terms of Service</a>
            <a class="md-button md-primary" href="/invite" role="button"
            aria-haspopup="true" aria-expanded="false">Send Invite</a>
            
			<a class="md-button md-primary" href="/demo" role="button"
				aria-haspopup="true" aria-expanded="false">Request Demo</a>
      </div>
   </div>
   	<div class="row"><div class="col-md-12" style="padding:25px">
	<span class="text text-muted">We are leading the agenda of less-user-data and password-less systems.</span> <br>
		<span class="text text-muted">Meaily Inc.</span>  
	</div></div>
    
</div>