<!-- Nav --><!-- 
<px-nav class="px-nav-left"
	template-url="'/dependent/assets/views/common/nav.html'" /> -->

<!-- Navbar -->
<px-navbar template-url="'/dependent/assets/views/common/navbar.html'" style="position:fixed"  />

<!-- Main view  -->
<div ui-view class="px-content container m-b-4"></div>

<px-footer class="px-footer px-footer-bottom" style="background-color:#fafafa"
	template-url="'/dependent/assets/views/common/footer.html'" />


