<button type="button" class="px-nav-toggle" data-toggle="px-nav">
	<span class="px-nav-toggle-arrow"></span> <span
		class="navbar-toggle-icon"></span> <span
		class="px-nav-toggle-label font-size-11">HIDE MENU</span>
</button>

<ul class="px-nav-content">
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="dashboards.default"><i
			class="px-nav-icon ion-ios-pulse-strong"></i><span
			class="px-nav-label">Dashboard</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="pages.search-results({searchText: ''})"><i
			class="px-nav-icon ion-chatbubbles"></i> <span class="px-nav-label">Manage
				Reviews</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="pages.queries"><i
			class="px-nav-icon ion-android-clipboard"></i> <span
			class="px-nav-label">Manage Queries</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="pages.action-items"><i
			class="px-nav-icon ion-android-done-all"></i> <span
			class="px-nav-label">Action Items</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="dashboards.competitor"><i class="px-nav-icon ion-podium"></i><span
			class="px-nav-label">Your Competitors</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="dashboards.performer"><i class="px-nav-icon ion-trophy"></i><span
			class="px-nav-label">Top Performers</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href="#"
		ui-sref="dashboards.weekly-report"> <i
			class="px-nav-icon fa fa-file"></i><span class="px-nav-label">Weekly
				Report</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href="#"
		ui-sref="dashboards.promote-business"><i
			class="px-nav-icon ion-android-globe"></i><span class="px-nav-label">Promote
				Business</span></a></li>
	<li class="px-nav-item" ui-sref-active="active"><a href
		ui-sref="pages.support-center"> <i class="px-nav-icon fa  fa-info"></i><span
			class="px-nav-label">Help</span></a></li>
</ul>
