<!-- Header -->
<div class="container navTop15">
    <div class="navbar-header">
 <span style="font-size:24px;" class="navbar-brand px-demo-brand" ng-click="main.goHome()"> 
	       		 Meaily for Business
	        </span> BETA   </div>

    <!-- Navbar togglers -->
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#px-demo-navbar-collapse" aria-expanded="false">
        <i class="navbar-toggle-icon"></i>
    </button>

    <div class="collapse navbar-collapse " id="px-demo-navbar-collapse">

        <ul class="nav navbar-nav navbar-right">

            <li ui-sref-active="active" class="dropdown"><a href data-toggle="dropdown"><i
					class="fa fa-bookmark m-r-1"></i>Actions</a>
                <div class="dropdown-multi-column">
                    <ul class="dropdown-menu dropdown-column col-md-12">
                        <li class="px-nav-item" ui-sref-active="active"><a href ui-sref="dashboards.default"><span class="px-nav-label">Dashboard</span></a></li>
                        <li class="px-nav-item" ui-sref-active="active"><a href ui-sref="pages.search-results({searchText: ''})"><span
								class="px-nav-label"> Reviews</span></a></li>
                        <li class="px-nav-item" ui-sref-active="active"><a href ui-sref="pages.queries"><span class="px-nav-label">
									Queries</span></a></li>
									 <li class="px-nav-item" ui-sref-active="active"><a href="#" ui-sref="dashboards.promote-business({storeId: ''})"><span
								class="px-nav-label"> Promotions</span></a></li>
                        <li class="px-nav-item" ui-sref-active="active"><a href ui-sref="pages.action-items"><span class="px-nav-label">Action
									Items</span></a></li>
                       <!--  <li class="px-nav-item" ui-sref-active="active"><a href ui-sref="dashboards.competitor"><span class="px-nav-label">Your
									Competitors</span></a></li>
                        <li class="px-nav-item" ui-sref-active="active"><a href ui-sref="dashboards.performer"><span class="px-nav-label">Top
									Performers</span></a></li> -->
                        <li class="px-nav-item" ui-sref-active="active"><a href="#" ui-sref="dashboards.weekly-report"><span class="px-nav-label">Monthly
									Report</span></a></li>
									
                       
                    </ul>
                </div>
            </li>

          <!--    -->

            <li ui-sref-active="active"><a ui-sref="pages.stores"><i
					class="dropdown-icon fa fa-shopping-cart"></i>&nbsp;&nbsp;Stores</a></li>

           <li ui-sref-active="active"><a ui-sref="pages.customers"><i
					class="dropdown-icon fa fa-users"></i>&nbsp;&nbsp;Customers</a></li>
					
					  <li ng-show="main.driveAccess" ui-sref-active="active"><a ui-sref="dashboards.drivers"><i
					class="dropdown-icon fa fa-drivers-license"></i>&nbsp;&nbsp;Delivery Drivers</a></li>

            <li ui-sref-active="active"><a ui-sref="pages.account"><i
					class="dropdown-icon fa fa-cog"></i>&nbsp;&nbsp;Account</a></li>

            <li ui-sref-active="active" class="dropdown">
                <a href data-toggle="dropdown"> <i class="px-navbar-icon ion-email-unread font-size-24"></i>
                    <!-- <span
				class="px-navbar-icon-label">Notifications</span> --><span ng-hide="main.newNotification==0" style="padding:3px;" class="px-navbar-label label label-warning font-size-12">{{main.newNotification}}</span>

                </a>
                <div class="dropdown-menu p-a-0" style="width: 400px;" class="container">
                    <perfect-scrollbar style="height: 280px; position: relative;padding:20px">
                        <div class="row" style="margin-top:10px" ng-repeat="notification in main.notifications">
                            <notification notificationId="{{notification.notificationId}}" type="{{notification.type}}" clientUserName="{{notification.clientUserName}}" notificationText="{{notification.notificationText}}" notificationTime="{{notification.notificationTime}}" read="{{notification.isRead}}"></notification>
                        </div>
                    </perfect-scrollbar>

                    <span ui-sref="pages.notifications" class="md-button btn-block" style="margin-left:-5px">More Notifications</span>
                </div>
            </li>
 			<li ui-sref-active="active"><a href ui-sref="pages.support-center"><span class="px-nav-label">Help</span></a></li>
            <li ui-sref-active="active"><a href="../home/logout"><i
					class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;Log Out</a></li>

        </ul>
    </div>
</div>
<!-- /.navbar-collapse -->