<ol class="breadcrumb page-breadcrumb">
	<li><a href="/business/">Home</a></li>
	<li class="active">Action Items</li>
</ol>
<div id="actionItemCtrlID" ng-controller="ActionItemsCtrl as actionItem"
	ng-init="actionItem.init()">
	<div class="page-header">
		<div class="row">
			<div class="col-md-12 text-xs-center text-md-left text-nowrap">
				<h1>
					<i class="page-header-icon ion-android-done-all"></i>Review <span
						class="text-default font-weight-light">Action Items</span>
				</h1>
			</div>
			<hr class="page-wide-block visible-xs visible-sm">
			
		</div>
	</div>


	<div class="alert alert-success alert-dark"
		ng-show="actionItem.message">
		<md-button type="button" class="hide" data-dismiss="alert">x</md-button>
		{{actionItem.messageText}}
	</div>
	<div class="panel panel-default" style="border:none">
		<div ng-repeat="data in actionItem.actionItems"> 
			<action-item reviewId="{{data.id}}"
				reviewContent="{{data.review.review}}" rating="{{data.review.rating}}"
				postedBy="{{data.review.reviewer.firstName}}" postedEmail="{{data.review.reviewer.email}}"
				postedDate="{{data.review.reviedOn}}" reviewType=></action-item>
		</div>
	</div>
</div>