<ol class="breadcrumb page-breadcrumb">
	<li><a href="/business/">Home</a></li>
	<li class="active">Manage Stores</li>
</ol>
<div ng-controller="AddStoresCtrl as store">
	<div class="page-header">
		<div class="row">
			<div class="col-md-12 text-xs-center text-md-left text-nowrap">
				<h1 ng-hide="store.storeId">
					<i class="page-header-icon ion-android-clipboard"></i>Add <span
						class="text-default font-weight-light">Store</span>
				</h1>
				<h1 ng-show="store.storeId">
					<i class="page-header-icon ion-android-clipboard"></i>Update <span
						class="text-default font-weight-light">Store</span>
				</h1>
				<md-button type="submit" ui-sref="pages.stores"
					class="md-raised md-raised-md pull-right md-raised-primary ">Go Back</md-button>
			</div>
			<hr class="page-wide-block visible-xs visible-sm">

		</div>
	</div>
	<form name="profileForm">
	     <div class="row"><strong><p ng-show="store.message" ng-bind="store.message" class="alert alert-danger ng-binding" style="border:none;"></p></strong></div>
		<div class="row">
			<div class="col-md-12">

			<fieldset class="form-group form-group-md">
				<label for="account-name">Name</label> <input required type="text"
					class="form-control" ng-model="store.details.storeName"
					name="storeName" placeholder="Enter account name"> <span
					class="text-danger" ng-hide="profileForm.storeName.$valid">Invalid
					Account Name</span>
			</fieldset>
			
			<fieldset class="form-group form-group-md">
				<label for="account-detail">Store History</label> <textarea type="text"
					class="form-control" id="account-detail" ng-model="store.details.storeDetail"
					name="storeDetail" placeholder="Enter account name"></textarea> 
					<span class="text text-danger" ng-show="store.details.storeDetail.length >= 3000"> <strong>Warning</strong> Store history is too long. We can only save upto 3000 chars only.</span>
					<small class="text text-muted pull-right">{{store.details.storeDetail.length}} / 3000</small> 
					
			</fieldset>
			
			<fieldset class="form-group form-group-md">
				<div class="row">
					<div class="col-md-6">
						<label for="account-email">E-mail</label> <input required
					type="email" class="form-control" name="storeEmail"
					ng-model="store.details.storeEmail" placeholder="Enter email">
				<span class="text-danger" ng-hide="profileForm.storeEmail.$valid">Invalid
					Email</span>
					</div>
					<div class="col-md-6">
						<label for="account-email">Business Phone Number</label> <input
					required type="text" class="form-control" name="storeContactNumber"
					ng-model="store.details.storeContactNumber"
					placeholder="Enter storeContactNumber"> <span
					class="text-danger" ng-hide="profileForm.storeContactNumber.$valid">Invalid
					storeContactNumber</span>
					</div>
				</div>
			</fieldset>
			
			<div class="row">
			<div class="col-md-6">	<fieldset class="form-group form-group-md ">
			<label>Working Hours </label>
			<hr>
				<!-- <span
						class="text-danger" ng-hide="profileForm.workingHours.mondayTimeFrame.$valid">&nbsp;&nbsp;<u>Invalid
								workingHours</u></span> -->
				<!-- <input required type="text" class="form-control" ng-hide="true" name="workingHours" ng-model="store.details.workingHours"  placeholder="Enter workingHours"> -->

				<div class="form-group row">
					<label for="monday" class="col-md-2  col-form-label">Monday</label>
					<div class="col-md-6">
						<input required type="text" name="mondayTimeFrame"
							ng-model="store.details.workingHours.monday"
							class="form-control  form-control-sm" id="monday"
							placeholder="Enter monday working hours">
					</div>
				</div>

				<div class="form-group row">
					<label for="tuesday" class="col-md-2 col-form-label">Tuesday</label>
					<div class="col-md-6">
						<input required type="text" name="tuesdayTimeFrame"
							ng-model="store.details.workingHours.tuesday"
							class="form-control  form-control-sm" id="tuesday"
							placeholder="Enter tuesday working hours">
					</div>
				</div>

				<div class="form-group row">
					<label for="wednesday" class="col-md-2 col-form-label">Wednesday</label>
					<div class="col-md-6">
						<input required type="text" name="wednesdayTimeFrame"
							ng-model="store.details.workingHours.wednesday"
							class="form-control  form-control-sm" id="wednesday"
							placeholder="Enter wednesday working hours">
					</div>
				</div>

				<div class="form-group row">
					<label for="thursday" class="col-md-2 col-form-label">Thursday</label>
					<div class="col-md-6">
						<input required type="text" name="thursdayTimeFrame"
							ng-model="store.details.workingHours.thursday"
							class="form-control  form-control-sm" id="thursday"
							placeholder="Enter thursday working hours">
					</div>
				</div>

				<div class="form-group row">
					<label for="friday" class="col-md-2 col-form-label">Friday</label>
					<div class="col-md-6">
						<input required type="text" name="fridayTimeFrame"
							ng-model="store.details.workingHours.friday"
							class="form-control  form-control-sm" id="friday"
							placeholder="Enter friday working hours">
					</div>
				</div>

				<div class="form-group row">
					<label for="saturday" class="col-md-2 col-form-label">Saturday</label>
					<div class="col-md-6">
						<input required type="text" name="saturdayTimeFrame"
							ng-model="store.details.workingHours.saturday"
							class="form-control  form-control-sm" id="saturday"
							placeholder="Enter saturday working hours">
					</div>
				</div>

				<div class="form-group row">
					<label for="sunday" class="col-md-2 col-form-label">Sunday</label>
					<div class="col-md-6">
						<input required type="text" name="sundayTimeFrame"
							ng-model="store.details.workingHours.sunday"
							class="form-control  form-control-sm" id="sunday"
							placeholder="Enter sunday working hours">
					</div>
				</div>

			</fieldset>

		</div>
			<!-- <div class="col-md-6">
			
			<fieldset ng-show="false" class="form-group form-group-md">
				<label>Select Service Area</label>
				<ui-select multiple ng-model="store.selectedServiceArea" required limit=3
							name="state"> <ui-select-match
							placeholder="Select a city,state,country"> 
							{{$item.cityName}} , {{$item.stateName}}, {{$item.countryName}}
							</ui-select-match> 
							<ui-select-choices repeat="item in store.locationMap | filter: $select.search ">
								{{item.cityName}} , {{item.stateName}}, {{item.countryName}}
							</ui-select-choices> 
						<ui-select-no-choice> No results found. </ui-select-no-choice> 
				</ui-select>
				<span class="text text-muted">This store is available for customers for above selected cities only. You can only select up to 3 cities only.</span>
			</fieldset>
			
			</div> -->
			</div>
	
			<fieldset class="form-group">
				<div class="row m-t-2">
				
				    <div class="col-md-5">
				    <label for="businessStreet">Address</label> <input required
					type="text" ng-model="store.details.address.street"
					name="businessStreet" ng-minlength="5" class="form-control"
					placeholder="Street Name"> <span class="text-danger"
					ng-hide="profileForm.businessStreet.$valid">Please enter
					street address.</span>
				    </div>
				
					<!-- <div class="col-md-4">
						<input required type="text" ng-model="store.details.address.city"
							ng-minlength="3" name="businessCity" class="form-control"
							placeholder="City"> <span class="text-danger"
							ng-hide="profileForm.businessCity.$valid">Please enter
							city.</span>
					</div> -->
					<div class="col-md-3">
					 <label for="businessPostal">Postal Code</label>
						<input required type="text" name="businessPostal"
							ng-model="store.details.address.postal" ng-minlength="6"
							ng-maxlenght="6" class="form-control" placeholder="Postal Code">
						<span class="text-danger"
							ng-hide="profileForm.businessPostal.$valid">Please enter
							valid postal code.</span>
					</div>

					<!-- <div class="col-md-3">
						<input required type="text" ng-model="account.businessProvince" class="form-control" placeholder="Province">
						<select class="custom-select form-control" id="sortById"
							ng-model="store.details.address.province"
							ng-options="option for option in store.details.businessProvinceList track by option">
						</select>
					</div> -->

					<!-- <div class="col-md-2">
						<input required type="text" ng-model="store.details.businessCountry" class="form-control" placeholder="Country">
						<select class="custom-select form-control" id="sortByCountryId"
							ng-model="store.details.address.country"
							ng-selected="account.selectCountry()"
							ng-options="option for option in store.details.businessCountryList track by option">
						</select>
					</div> -->
					
						<div class="col-md-4">
						<label>City, State and Country</label>
						<div ng-model="store.selectedCityStateCountry" id='geocoder'></div> 	
					</div>
					
					 
					
				</div>
			</fieldset>
			<fieldset class="form-group form-group-md">
				<label for="account-url">Website</label> <input type="url" required
					name="businessWebsite" class="form-control" id="account-url"
					ng-model="store.details.storeUrl" placeholder="Enter website">
				<span class="text-danger"
					ng-hide="profileForm.businessWebsite.$valid">Please enter
					valid web address.</span> <small class="text-default">Your home
					page, blog or company site, e.g. <strong>http://website.com</strong>
				</small>

			</fieldset></div>
		</div>
		<div class="row "> 
		<div class="col-md-12">	<meaily-agreement></meaily-agreement>
		</div>
		<div class="col-md-12">
			<md-button ng-hide="store.storeId" type="submit" ng-click="store.addStore()"
				class="md-raised md-raised-md pull-right md-raised-primary m-t-3">Add Store</md-button>
				
				<md-button ng-show="store.storeId" type="submit" ng-click="store.addStore()"
				class="md-raised md-raised-md pull-right md-raised-primary m-t-3">Update Store</md-button>
		</div>
</div>
	</form>
</div>
	<script type="text/javascript"
		src="/dependent/assets/js/controllers/dashboards/daterangepicker.js"></script>