<div ng-controller="SubscriptionPlanCtrl as subscription"
	ng-init="subscription.getstoreDetail()">
	<ol class="breadcrumb page-breadcrumb">
		<li><a href="/business/">Home</a></li>
		<li class="active">Manage Subscription Plans</li>
	</ol>

	<div class="page-header">
		<div class="row">
			<div class="col-md-12">
				<h1>
					<i class="page-header-icon ion-android-clipboard"></i>Manage <span
						class="text-default font-weight-light">Subscription Plans</span>
				</h1>

				<div class="pull-right">
					<md-button type="submit" ng-disabled="profileForm.$invalid"
						ng-click="subscription.createStoreOfferredPlan()"
						class="md-raised md-raised-md   md-raised-danger ">
						<span ng-show="!subscription.planId">Create</span> 
						<span ng-show="subscription.planId">Update</span> 
						
						Subscription Plan</md-button>
					<md-button type="submit" ui-sref="pages.stores"
						class="md-raised md-raised-md  md-raised-primary ">Go Back</md-button>
				</div>

			</div>
		</div>
		<hr class="page-wide-block visible-xs visible-sm">
	</div>
	 <div class="row"><strong><p ng-show="subscription.message" ng-bind="subscription.message" class="alert alert-danger ng-binding" style="border:none;"></p></strong></div>

	<div class="row">
		<div class="col-md-12">
			<form name="profileForm" action="">
				<fieldset class="form-group ">
					<span class="font-size-28 text-success">{{subscription.details.clientName}}	</span>		
							<div class="text text-default">
								<i class="fa fa-map-marker">&nbsp;</i>{{subscription.details.address}}
							</div>
				</fieldset>

				<fieldset class="form-group ">
					<label for="planName">Meal Plan Name</label> <input
						id="planName" required type="text" class="form-control"
						ng-model="subscription.plan.name" name="planName"
						placeholder="Enter Subscription Plan Name"> <span
						class="text-danger" ng-hide="profileForm.planName.$valid">Invalid
						Subscription Plan Name</span>
				</fieldset>
				
				<fieldset class="form-group ">
					<label for="deliveryOption">Delivery Options</label>
					<div class="form-check">
						<input type="checkbox" ng-model="subscription.plan.homeDelivered" class="form-check-input" checked id="homeDelivery">
						<label class="form-check-label" for="homeDelivery">Home Delivered</label>
						<span class="m-l-2"></span>
						<input type="checkbox" ng-model="subscription.plan.takeOut" class="form-check-input" id="pickup">
						<label class="form-check-label" for="pickup">Take out</label>
					</div>
				</fieldset>
				
				<fieldset class="form-group ">
				<label >Do you provide food samples ?</label>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" ng-model="subscription.plan.foodSample"  id="foodSample">
						<label class="text text-default form-check-label"  for="foodSample">&nbsp;{{subscription.plan.foodSample ? "Yes, We do provide food samples." : "No, We dont want to provide food samples." }}</label>
						</div>
				</fieldset>
				
				<fieldset class="form-group ">
					<label for="planAvailability">Available On</label> 
					<div class="form-check">
						
						<input type="checkbox" class="form-check-input" ng-model="subscription.plan.availableOnMonday"  id="monday">
						<label class="form-check-label"  for="monday">Monday</label>
						<span class="m-l-2"></span>
						<input type="checkbox" class="form-check-input" ng-model="subscription.plan.availableOnTuesday"  id="tuesday">
						<label class="form-check-label" for="tuesday">Tuesday</label>
						<span class="m-l-2"></span>
						<input type="checkbox" class="form-check-input" ng-model="subscription.plan.availableOnWednesday" id="wednesday">
						<label class="form-check-label" for="wednesday">Wednesday</label>
						<span class="m-l-2"></span>
						<input type="checkbox" class="form-check-input"  ng-model="subscription.plan.availableOnThursday" id="thursday">
						<label class="form-check-label" for="thursday">Thursday</label>
						<span class="m-l-2"></span>
						<input type="checkbox" class="form-check-input" ng-model="subscription.plan.availableOnFriday" id="friday">
						<label class="form-check-label" for="friday">Friday</label>
						<span class="m-l-2"></span>
						<input type="checkbox" class="form-check-input" ng-model="subscription.plan.availableOnSaturday" id="saturday">
						<label class="form-check-label" for="saturday">Saturday</label>
						<span class="m-l-2"></span>
						<input type="checkbox" class="form-check-input" ng-model="subscription.plan.availableOnSunday" id="sunday">
						<label class="form-check-label" for="sunday">Sunday</label>
						
					</div>
				</fieldset>

				<fieldset class="form-group ">
					<div class="row">
						<div class="col-md-4">
							<label for="planName">Billing </label> 
								
								<div class="input-group">
 <input min="1" max="1000" id="planPricing" required type="number" class="form-control" ng-model="subscription.plan.planPricing" name="planPricing" placeholder="Enter Subscription Pricing">
  <div class="input-group-addon">
    <span class="input-group-text">{{subscription.currencyType}}</span>
  </div>
</div>
								
								 <span
								class="text-danger" ng-hide="profileForm.planPricing.$valid">Invalid
								Subscription Pricing</span>
						</div>
						<div class="col-md-4">

							<label for="planPeriod"> Select Billing Period </label> <select
								required name="planPeriod" ng-model="subscription.plan.billingPeriod"
								class="form-control">
								<option value="weekly">Weekly</option>
								<option value="monthly">Monthly</option>
								<option value="yearly">Yearly</option>
							</select><span class="text-danger" ng-hide="profileForm.planPeriod.$valid">Invalid
								Subscription Billing Period</span>

						</div>
					</div>

				</fieldset>
				
				<fieldset class="form-group ">
					<label for="planImage">Upload Image</label>
					<div class="file-upload-wrapper">
						<input type="file" id="planImage" name="planImage" required
							class="form-control" file-model="subscription.planImage" data-max-file-size="50M" />
					</div>
				</fieldset>
				
				<fieldset class="form-group " ng-show="subscription.plan.imageUrl.length">
					<label for="planImage">Current Plan Image</label>
					<md-card style="width:25%"><img ng-src="{{subscription.plan.imageUrl}}" class="md-card-image" ></md-card>
						
				</fieldset>

				<fieldset class="form-group">
					<label for="planDesc">Details</label>
					<textarea id="planDesc" required type="text" class="form-control" 
						ng-model="subscription.plan.description" name="planDesc"
						placeholder="Enter Subscription Plan Details"> </textarea><span
							class="text-danger" ng-hide="profileForm.planDesc.$valid">Invalid
					Subscription Plan Details</span>
			
				</fieldset>	
				
				<md-button  ng-disabled="profileForm.$invalid"
						ng-click="subscription.createStoreOfferredPlan()"
						class="md-raised md-raised-md   md-raised-danger ">
						<span ng-show="!subscription.planId">Create</span> 
						<span ng-show="subscription.planId">Update</span> 
						Subscription Plan</md-button>
				</form>



		
		</div>
		
	</div>

</div>
