<div ng-controller="CustomerDetailCtrl as customerDetail">
   <ol class="breadcrumb page-breadcrumb">
      <li><a href="/business/">Home</a></li>
      <li class="active">Manage Customer</li>
   </ol>
   <div class="row">
      <div class="col-md-6" style="font-size: 26px;">
         Customer <span class="text-default font-weight-light">Detail</span>
      </div>
      <div class="col-md-6">
         <!-- <md-button class=" md-raised pull-right" type="submit"
            ui-sref="pages.customers">Go Back</md-button> 
         <md-button ng-show="customerDetail.customerId"
            class=" md-raised pull-right" type="submit"
            ng-click="customerDetail.updateCustomer()">Save Changes</md-button>-->
         <md-button ng-hide="customerDetail.customerId"
            class=" md-raised pull-right" type="submit"
            ng-click="customerDetail.updateCustomer()">Create
            Customer
         </md-button>
      </div>
   </div>
   <div class="row m-t-2">
    <div class="col-md-12"><div class="panel panel-default"
            style="border: none; background: #fafafa">
            
            <div class="panel-title">
               Customer Subscription Status
                 <span class="label label-warning  ">{{customerDetail.subscription.status}}</span>
            </div>
            
            <div class="panel-body">    <hr>
               <div class="col-md-12">
       
               
               
               <p> 
               <label fpr="commentId">Add Comment</label>
						  <textarea id="commentId" style="border: none;width: -webkit-fill-available;height: auto;" maxlength="5000" rows="5" aria-invalid="false" 
						  required ng-model="customerDetail.subscription.businessComment"  ></textarea>
						  
						  
						  <br>
               
               
               <md-button class="md-raised" type="submit" ng-disabled="customerDetail.subscription.businessComment.length==0"
                  ng-click="customerDetail.updateStatus('active',customerDetail.subscription.businessComment)">Active</md-button>
               <md-button class=" md-raised " type="submit" ng-disabled="customerDetail.subscription.businessComment.length==0"
                  ng-click="customerDetail.updateStatus('inactive',customerDetail.subscription.businessComment)">Inactive User</md-button>
               <md-button class=" md-raised " type="submit" ng-disabled="customerDetail.subscription.businessComment.length==0"
                  ng-click="customerDetail.updateStatus('cancelled',customerDetail.subscription.businessComment)">CANCEL Subscription</md-button>
               </p></div></div></div>
      </div>
      <div class="col-md-4">
         <div class="panel panel-default"
            style="border: none; background: #fafafa">
            <div class="panel-title"> Customer <md-button ng-show="customerDetail.customerId"
            class=" md-raised pull-right" type="submit"
            ng-click="customerDetail.updateCustomer()">Save Changes</md-button><br> </div>
            <div class="panel-body">
               <hr>
               <p>
                  <span class="text text-muted">First Name</span><br> <input
                     required type="text" class="form-control "
                     ng-model="customerDetail.subscription.customer.firstName"
                     name="firstname" placeholder="Enter First Name">
               </p>
               <p>
                  <span class="text text-muted">Last Name</span><br> <input
                     required type="text" class="form-control "
                     ng-model="customerDetail.subscription.customer.lastName"
                     name="lastName" placeholder="Enter Last Name">
               </p>
               <p>
                  <span class="text text-muted">Email</span><br> <input
                     required type="text" class="form-control "
                     ng-model="customerDetail.subscription.customer.email"
                     name="email" placeholder="Enter Email">
               </p>
               <p>
                  <span class="text text-muted">Phone Number</span><br> <input
                     required type="text" class="form-control "
                     ng-model="customerDetail.subscription.customer.phoneNumber"
                     name="phoneNumber" placeholder="Enter Phone Number">
               </p>
               <p>
                  <span class="text text-muted">Address</span><br> <input
                     required type="text"
                     ng-model="customerDetail.subscription.address.street"
                     name="businessStreet" ng-minlength="5" class="form-control"
                     placeholder="Street Name" /> <input required type="text"
                     name="businessPostal"
                     ng-model="customerDetail.subscription.address.postal"
                     ng-minlength="6" ng-maxlenght="6" class="form-control"
                     placeholder="Postal Code" />
                     <input class="form-control" ng-disabled="true" required type="text" ng-model="customerDetail.selectedCityStateCountry" />
                  <!-- <ui-select ng-model="customerDetail.selectedCityStateCountry"
                     required name="state">
                     <ui-select-match
                        placeholder="Select a city,state,country"> <span
                        ng-bind="($select.selected.cityName +',&nbsp;' + $select.selected.stateName +',&nbsp;'+ $select.selected.countryName) "></span>
                     </ui-select-match>
                     <ui-select-choices
                        repeat="item in customerDetail.locationMap | filter: $select.search ">
                        <span
                           ng-bind="(item.cityName +',&nbsp;' + item.stateName +',&nbsp;' + item.countryName )"></span>
                     </ui-select-choices>
                     <ui-select-no-choice> No results found. </ui-select-no-choice>
                  </ui-select> -->
               </p>
            </div>
         </div>
      </div>
      <div class="col-md-8">
         <div class="panel panel-default"
            style="border: none; background: #fafafa">
            <div class="panel-title">
               Subscriptions 
                 <md-button ng-show="customerDetail.customerId"
            class=" md-raised pull-right" type="submit"
            ng-click="customerDetail.updateCustomer()">Save Changes</md-button> <br> 
            </div>
            <div class="panel-body"> <hr>
               <div class="col-md-12">
                  <!-- <md-card
                     ng-repeat="plan in customerDetail.subscription.subscriptions">
                     <md-card-content>
                     
                     <p>
                     
                     </p> -->
                  <p>
                     <span class="text text-muted">Subscription Period</span>
                     <md-button class="md-raised pull-right"
                        ng-click="customerDetail.changePeriod()">Change
                        Period
                     </md-button>
                     <br> <span ng-show="!customerDetail.showTimeFrame">{{customerDetail.subscriptionStart
                     | date }} to {{customerDetail.subscriptionEnd | date }}</span> <input
                        ng-show="customerDetail.showTimeFrame" type="text"
                        id="promotionTimeFrameId" required name="promotionTimeFrame"
                        ng-model="customerDetail.subscriptionTimeframe"
                        class="form-input">
                  </p>
                  <p>
                     <span class="text text-muted">Store(s)</span> <br> <span
                        class="text text-default" style="font-size: 16px">
                     {{customerDetail.storeName}} </span>
                  </p>
                  <p>
                     <span class="text text-muted">Meal Plan(s)</span> <br>
                     <md-card
                        ng-repeat="plan in customerDetail.subscription.subscriptions">
                        <md-card-content>
                           <span
                              class="text text-default" style="font-size: 16px">{{plan.storeOfferredPlan.name}}<br>
                           <strong ng-show="{{plan.storeOfferredPlan.planPricing}}"
                              style="font-size: 14px" class="text text-danger">{{plan.storeOfferredPlan.planPricing}}&nbsp;{{customerDetail.currencyType}}&nbsp;{{plan.storeOfferredPlan.billingPeriod
                           | uppercase}}</strong>
                           </span> <br>
                           <strong
                              ng-show="plan.storeOfferredPlan.homeDelivered || plan.storeOfferredPlan.takeOut">Delivery
                           Options</strong> <span ng-show="plan.storeOfferredPlan.homeDelivered"
                              class="text text-danger">Home Delivered,</span> <span
                              ng-show="plan.storeOfferredPlan.takeOut"
                              class="text text-danger">Take Out</span> <br>
                           <strong
                              ng-show="plan.storeOfferredPlan.availableOnMonday || plan.storeOfferredPlan.availableOnTuesday || plan.storeOfferredPlan.availableOnWednesday || plan.storeOfferredPlan.availableOnThursday || plan.storeOfferredPlan.availableOnFriday || plan.storeOfferredPlan.availableOnSaturday || plan.storeOfferredPlan.availableOnSunday">Availability</strong>
                           <span ng-show="plan.storeOfferredPlan.availableOnMonday"
                              class="text text-success">Monday,</span> <span
                              ng-show="plan.storeOfferredPlan.availableOnTuesday"
                              class="text text-success">Tuesday,</span> <span
                              ng-show="plan.storeOfferredPlan.availableOnWednesday"
                              class="text text-success">Wednesday,</span> <span
                              ng-show="plan.storeOfferredPlan.availableOnThursday"
                              class="text text-success">Thursday,</span> <span
                              ng-show="plan.storeOfferredPlan.availableOnFriday"
                              class="text text-success">Friday,</span> <span
                              ng-show="plan.storeOfferredPlan.availableOnSaturday"
                              class="text text-success">Saturday,</span> <span
                              ng-show="plan.storeOfferredPlan.availableOnSunday"
                              class="text text-success">Sunday</span> <br>
                           <br>
                           <span class="text text-muted"> Plan Details </span> <br>
                           <span required class="text text-default "
                              ng-bind="plan.storeOfferredPlan.description" name="comments">
                           </span> <br>
                           
                           <span class="text text-muted"> Customer comment for meal plan </span> <br>
                           <span required class="text text-default "
                              ng-bind="plan.description" name="comments">
                           </span>
              
              
               </md-card-content>
               </md-card> 
               </p> 
               
              <p>
                     <span class="text text-muted">Customer Comment</span> <br> <span
                        class="text text-default" style="font-size: 16px">
                     {{customerDetail.subscription.customerComment}} </span>
                  </p>
               
               
               </div>
               <!-- </md-card-content> </md-card> -->
            </div>
         </div>
      </div>
     
   </div>
</div>