
<div ng-controller="CustomerCtrl as customer">
<ol class="breadcrumb page-breadcrumb">
	<li><a href="/business/">Home</a></li>
	<li class="active">Manage Customers</li>
</ol>

<div class="row">
		<div class="col-md-12" style="font-size: 26px;">
				Manage <span
					class="text-default font-weight-light">Customers</span>
		</div>
		<!-- <div class="col-md-6">

			<md-button class=" md-raised pull-right" type="submit"
				ui-sref="pages.customerdetail({customerId:''})">Add New Customer</md-button>
	

		</div> -->
	</div><hr>
	<div class="row">
  <md-content  style="margin-top:2%;background-color:#ffffff">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="New Meal Requests ({{customer.count.new.size}})">
        <md-content class="md-padding panel" style="background-color:#ffffff;border-top:none;">
          <span class="md-display-1" style="font-size:22px;" >New Requests </span><br>
          <span style="font-size:16px;" class="text text-muted">Showing new meal plan subscription requests from below customers</span>
          <div class="row"><div class="col-md-12"><table id="customerID" datatable="" dt-options="customer.dtOptions"
		dt-columns="customer.dtColumns"
		class="table  table-striped">
	</table></div></div>
        </md-content>
      </md-tab>
      <md-tab label="Active Customers">
         <md-content class="md-padding panel" style="background-color:#ffffff;border-top:none;">
            <span class="md-display-1" style="font-size:22px;" >Active </span><br>
          <span style="font-size:16px;" class="text text-muted">Showing customers whose subscription is active</span>
          <div class="row"><div class="col-md-12"> <table id="approveID" datatable="" dt-options="customer.dtActiveOptions"
		dt-columns="customer.dtActiveColumns"
		class="table ">
	</table> </div></div>
        </md-content>
      </md-tab>
      <md-tab label="Inactive">
          <md-content class="md-padding panel" style="background-color:#ffffff;border-top:none;">
            <span class="md-display-1" style="font-size:22px;" >Inactive</span><br>
          <span style="font-size:16px;" class="text text-muted">Showing customers whose subscription is expired.</span>
          <div class="row"><div class="col-md-12"> <table id="expireID" datatable="" dt-options="customer.dtExpiredOptions"
		dt-columns="customer.dtExpiredColumns"
		class="table  table-striped">
	</table> </div></div>
        </md-content>
      </md-tab>
      <md-tab label="Cancelled">
         <md-content class="md-padding panel" style="background-color:#ffffff;border-top:none;">
             <span class="md-display-1" style="font-size:22px;" >Cancelled</span><br>
          <span style="font-size:16px;" class="text text-muted">Showing customers whose meal plan subscription is cancelled.</span>
          <div class="row"><div class="col-md-12"> <table id="rejectID" datatable="" dt-options="customer.dtRejectedOptions"
		dt-columns="customer.dtRejectedColumns"
		class="table  table-striped">
	</table> </div></div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content></div></div>
<link href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
               
