<div ng-controller="NotificationsCtrl as notify"
	ng-init="notify.init()">
	<div class="page-header">
		<div class="row">
			<div class="col-md-12 text-xs-center text-md-left text-nowrap">
				<h1>
					Your Notifications 
				</h1>
			</div>
			
		</div>
	</div>
		 <div class="row" ng-repeat="notification in notify.all">  
                 <notification notificationId="{{notification.notificationId}}" type="{{notification.type}}" clientUserName="{{notification.clientUserName}}" notificationText="{{notification.notificationText}}" notificationTime="{{notification.notificationTime}}" read="{{notification.isRead}}"></notification>
          </div>
          <div class="row">
          <span ng-click="notify.loadMore()" class="md-button md-primary btn-block">Load 50 More</span>
          </div>

	 
</div>