<ol class="breadcrumb page-breadcrumb">
	<li><a href="/business/">Home</a></li>
	<li class="active">Manage Queries</li>
</ol>
<div id="searchReviewID"
	ng-controller="SearchReviewCtrl as searchReview" >
	<div class="page-header">
		<div class="row">
			<div class="col-md-11 text-xs-center text-md-left text-nowrap">
				<h1>
					<i class="page-header-icon ion-android-clipboard"></i>Manage <span
						class="text-default font-weight-light">Public Queries</span>
				</h1>
			</div>
			<hr class="page-wide-block visible-xs visible-sm">

		</div>
	</div>
	
	<div class="row">
	
	
	<div class="col-md-12">
			<div class="input-group input-group-lg" style="width: inherit;">
				<input type="text" name="s" class="form-control"
					ng-change="searchReview.searchQuery()"
					ng-model="searchReview.searchText" placeholder="Search Queries..."
					aria-invalid="false"> <span class="input-group-addon"
					style="border: none; background-color: white; padding: 0;"">
					<md-button type="submit" ng-click="searchReview.searchQuery()"
						style="margin-top:0px" class="md-raised md-primary"> <i
						class="fa fa-search"></i> Search </md-button>
				</span>
			</div>

		</div>
				
				
				
				
		<div class="col-md-12">
			<div class="input-group input-group-lg">
					<label for="storeName" class="text text-muted">Filter by
						Store</label> <input id="storeName" type="text" class="form-control"
						ng-model="searchReview.filterStore" ng-change="searchReview.searchQuery()" name="storeName"
						placeholder="filter by store name" aria-invalid="true">
				</div>
		</div>
	</div>
	
	<div class="row">
	<div class="col-md-12">				<md-button class="md-raised pull-right md-default" ng-click="searchReview.printData('queryDataTableID','Customer Questions')"><i class="fa fa-print" aria-hidden="true"></i></md-button>
	</div>
	<div class="col-md-12">
<table id="queryDataTableID" datatable="" dt-options="searchReview.dtQueryOptions" dt-columns="searchReview.dtQueryColumns"
						class="table table-striped table-bordered">
					</table>
</div></div>



	<div id="modal-success" class="modal fade in">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<md-button type="button" class="close" data-dismiss="modal">X&nbsp;</md-button>
					<h4 class="modal-title" id="myModalLabel">Reply Query</h4>
				</div>
				<div class="modal-body">
					<span id="reviewBoxContentId" ng-hide="true"></span>
					<div class="panel panel-default">
						<div class="panel-title">
							<span class="text text-default" id="reviewBoxContentPosterName"></span>
							<br> <small><span class="text text-default"
								id="reviewBoxContentPosterEmail"></span> </small>
						</div>
						<div class="panel-subtitle">
							<span id="reviewBoxContentText"></span>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="comment">Send Reply</label>
								<textarea class="form-control" placeholder="write reply..."
									required ng-model="searchReview.queryAnswer" 
									rows="3"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class="md-button md-raised md-primary"
						ng-click="searchReview.replyQuery()" data-dismiss="modal">Post
						Query Answer</button>
				</div>
			</div>
		</div>
	</div>

</div>