<div id="searchReviewID" class="container"
	ng-controller="SearchReviewCtrl as searchReview">
	<ol class="breadcrumb page-breadcrumb">
		<li><a href="/business/">Home</a></li>
		<li class="active">Manage Reviews</li>
	</ol>
	<div class="row">
	
	
	<div class="col-md-12">
			<div class="input-group input-group-lg" style="width: inherit;">
				<input type="text" name="s" class="form-control"
					ng-change="searchReview.search()"
					ng-model="searchReview.searchText" placeholder="Search Review..."
					aria-invalid="false"> <span class="input-group-addon"
					style="border: none; background-color: white; padding: 0;"">
					<md-button type="submit" ng-click="searchReview.searchStart()"
						style="margin-top:0px" class="md-raised md-primary"> <i
						class="fa fa-search"></i> Search </md-button>
				</span>
			</div>

		</div>
				
				
				
				
		<div class="col-md-12">
			<div class="input-group input-group-lg">
					<label for="storeName" class="text text-muted">Filter by
						Store</label> <input id="storeName" type="text" class="form-control"
						ng-model="searchReview.filterStore" ng-change="searchReview.search()" name="storeName"
						placeholder="filter by store name" aria-invalid="true">
				</div>
				
				
		</div>
	</div>

	<div class="row ">
		<div class="col-md-12">
			<div id="searchMessageID" class="alert alert-success "
				ng-show="searchReview.searchResultStatus">
				<strong>No Reviews Found.</strong> Please try again with another
				review keyword.
				<button type="button" class="close md-button md-raised"
					onclick="$('#searchMessageID').hide()">x</md-button>
			</div>
			<md-button class="md-raised pull-right md-default" ng-click="searchReview.printData('reviewsDataTableID','Customer Reviews')"><i class="fa fa-print" aria-hidden="true"></i></md-button>
			
		</div>
	</div>

	<!-- Page size -->
	<div class="row" ng-show="searchReview.totalResults!=0">
		<div class="col-md-9 text-default font-size-12">
			<strong><span ng-bind="searchReview.totalResults" /></strong>
			review(s) found
		</div>
		<div class="col-md-3 pull-right">
			<select class="custom-select form-control" id="sortById"
				ng-change="searchReview.pageSortChange()"
				ng-model="searchReview.selectedSortType"
				ng-options="option.sortType for option in searchReview.availableSortTypes track by option.id">
			</select>
		</div>
	</div>

	<div class="row m-t-4">
		<div class="col-md-12">
			<table id="reviewsDataTableID" datatable="" style="border:none;background-color:#fafafa"
				dt-options="searchReview.dtOptions"
				dt-columns="searchReview.dtColumns"
				class="table table-striped ">
			</table>
		</div>
	</div>



	<div id="modal-success" class="modal fade in">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="md-button md-raised close" data-dismiss="modal">X&nbsp;</button>
					<h4 class="modal-title" id="myModalLabel">Reply Review</h4>
				</div>
				<div class="modal-body">

					<span id="reviewBoxContentId" ng-hide="true"></span>

					<div class="panel panel-default">
						<div class="panel-title">
						<span class="text text-default" style="font-size:18px" id="reviewBoxContentText"></span><br>
						<span class="text text-muted">	<small>Posted By : <span class="text text-default" id="reviewBoxContentPosterName"></span></small>
							<br> <small>Email :<span class="text text-default"
								id="reviewBoxContentPosterEmail"></span> </small></span>
						</div>
						
						<div class="panel-body">
							<div class="form-group">
								<label for="comment">Send Reply</label>
								<textarea class="form-control" placeholder="write reply..."
									required ng-model="searchReview.reviewReplyText"
									md-maxlength="500" rows="3"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class=" md-button md-raised"
						onclick="replyItemFinally()" data-dismiss="modal">Post
						Reply</button>
				</div>
			</div>
		</div>
	</div>


	<div id="modalDiscounts" class="modal fade in">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="md-raised md-button  close" data-dismiss="modal">X</button>
					<h4 class="modal-title">Send Discount</h4>
				</div>
				<div class="modal-body">

					<div class="panel panel-default">
						<div class="panel-title">
							<span class="text text-default" id="posterName"></span> <br>
							<small><span class="text text-default" id="posterEmail"></span>
							</small>
						</div>
						<div class="panel-subtitle">
							<span id="posterText"></span>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="comment">Draft Message</label>
								<textarea class="form-control" placeholder="write reply..."
									required ng-model="searchReview.discountReplyText"
									md-maxlength="500" rows="3"></textarea>
							</div>
						</div>
					</div>
					<button type="submit" class="md-raised md-button" ng-click="searchReview.sendDiscount()" data-dismiss="modal">Send
						Discount via Email</button>
				</div>
			</div>
		</div>
	</div>

</div>