<div ng-controller="StoresCtrl as store">
	<ol class="breadcrumb page-breadcrumb">
		<li><a href="/business/">Home</a></li>
		<li class="active">Manage Stores</li>
	</ol>
	<div class="row">
		<div class="col-md-6" style="font-size: 30px;">
				<i class="page-header-icon ion-android-clipboard"></i>Manage <span
					class="text-default font-weight-light">Stores</span>
		</div>
		<div class="col-md-6">

			<md-button class=" md-raised pull-right" type="submit"
				ng-click="store.goStore()">Create New Store</md-button>
	

		</div>
	</div>
	<div ng-if="store.status" id="status">
		<hr>
		<b layout="row" layout-align="center center" class="text text-danger">
			{{store.status}} </b>
	</div>
	<hr>

	<div class="row">
		<div class="col-md-4" ng-repeat="str in store.list" >

<md-card >
   <md-card-title>
      <md-card-title-text>
         <span class="md-title text-success">{{str.storeName}} <span class="label label-danger" ng-hide="str.active">Closed</span></span> 
         <span class="md-subtitle text text-muted"><i class="fa fa-map-marker">&nbsp;</i>{{str.address.street}}
         {{str.address.area.cityName}} {{str.address.postal}}
         {{str.address.area.stateName}} {{str.address.area.countryName}}</span>
          <span class="md-subtitle text text-default"><i class="fa fa-phone">&nbsp;</i>{{str.storeContactNumber}} </span>
          <span class="md-subtitle text text-default"> <i class="fa fa-envelope">&nbsp;</i>{{str.storeEmail}} </span>
          <span class="md-subtitle text text-default"><i class="fa fa-globe">&nbsp;</i>{{str.storeUrl}}</span>
          <div class="row">
        <md-button class=" md-primary" ng-click="store.viewedit(str.id)">Manage Store</md-button>
		<md-button class=" md-primary" ng-show="str.active" ng-click="store.closeStore($event,str.id)"> Close Store </md-button>
		<md-button class=" md-primary" ng-hide="str.active" ng-click="store.openStore($event,str.id)"> Re-Open Store </md-button>
    	 </div>
      </md-card-title-text>
   </md-card-title>
 
</md-card>

			

		</div>
	</div>
	
	

	
	
</div>

