
<div ng-controller="SubscriptionPlanCtrl as subscription">
<ol class="breadcrumb page-breadcrumb">
	<li><a href="/business/">Home</a></li>
	<li class="active">Manage Subscription Plans</li>
</ol>

	<div class="page-header">
		<div class="row">
			<div class="col-md-12">
				<h1>
					<i class="page-header-icon ion-android-clipboard"></i>Manage <span
						class="text-default font-weight-light">Subscription Plans</span>
				</h1>
				
				
				<md-button type="submit" ui-sref="pages.addsubscriptionplan"
					class="md-raised md-raised-md pull-right md-raised-primary ">Create New Subscription Plan</md-button>
			</div>
		</div>
		<hr class="page-wide-block visible-xs visible-sm">
	</div>

	<table datatable="" dt-options="subscription.dtOptions"
		dt-columns="subscription.dtColumns"
		class="table table-striped ">
	</table>
</div>
               
