<!-- Custom templates -->
<div id="accountCtrlID" ng-controller="AccountCtrl as account">
<script id="px/pages/support-center/tabs.html" type="text/ng-template">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <ul class="nav nav-sm nav-pills nav-stacked m-b-3" ng-transclude></ul>
    </div>
    <div class="col-md-8 col-lg-9">
      <div class="tab-content p-a-0">
        <div class="tab-pane" ng-repeat="tab in tabset.tabs" ng-class="{active: tabset.active === tab.index}" uib-tab-content-transclude="tab"></div>
      </div>
    </div>
  </div>
</script>

<script id="px/pages/support-center/accordion.html"
	type="text/ng-template">
  <div role="tab" id="{{::headingId}}" aria-selected="{{isOpen}}" ng-keypress="toggleOpen($event)">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href aria-expanded="{{isOpen}}" aria-controls="{{::panelId}}" tabindex="0" class="p-y-2 font-size-14 accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading" ng-disabled="isDisabled" uib-tabindex-toggle><span uib-accordion-header ng-class="{'text-default': isDisabled}">{{heading}}</span></a>
    </h4>
  </div>
  <div id="{{::panelId}}" aria-labelledby="{{::headingId}}" aria-hidden="{{!isOpen}}" role="tabpanel" class="panel-collapse collapse" uib-collapse="!isOpen">
    <hr class="m-y-0">
    <div class="panel-body" ng-transclude></div>
  </div>
</script>
<!-- / Custom templates -->

<ol class="breadcrumb page-breadcrumb">
	<li><a href="/business/">Home</a></li>
	<li class="active">Help</li>
</ol>

<div class="row" style="font-size:16px">
	<div class="col-md-6">
		 
		<div class="panel panel-default text-center" style="border:none;background:#fafafa;"  >
				<div class="panel-title">
				Have a question?<br>
		  <a class="md-button md-primary" href="mailto:support@meaily.com" role="button"
				aria-haspopup="true" aria-expanded="false">support@meaily.com </a>  
		</div>
		</div>
		</div>
		<div class="col-md-6">
		<div class="panel panel-default text-center" style="border:none;background:#fafafa;"  >
				<div class="panel-title">
				Would you like to know more about product ?<br>
			<a class="md-button md-primary" href="/demo" role="button"
				aria-haspopup="true" aria-expanded="false">Request Demo</a>
		</div>
		</div>
	</div>


</div>

<uib-tabset template-url="px/pages/support-center/tabs.html" style="font-size:16px">
<uib-tab heading="General"> <uib-accordion>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="What is store ?">
	It is your online store. Available to your customer 24x7 365 days a year. You can count on us for availability - We run our systems on state of art cloud platform with 99.95% up time.
	You can manage address, working hours, customers, reviews and queries, meal plans and email subscribers.
	</div>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="What is meal plan ?">
	Meal plans are offered by stores. Meal plans are available to customers of multiple cities. Customers can send meal plan subscription request. Business owner can approve or reject the request. Once meal plan approved - customer will be notified. 
	Business owner will be responsible to deliver the meal to the customers. We provide access to delivery drivers if needed. Customer can choose to cancel or extend meal plan.
	 </div>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="How do i reply to customer reviews ?">
	Login to business portal. Go to Actions > Reviews. Find the customer review and explore "Reply" functionality.</div>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="How do i reply to customer questions?">
	Login to business portal. Go to Actions > Queries. Find the customer query and explore "Answer" functionality.</div>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="What is service area option while creating store ?">
	Service Area(s) are the neighbouring cities where your store is located - Where you would like to offer your services.
	Your store will be displayed in search results if customer is from the city of your store's service area.
	</div>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading=" What happen after activating/deactivating store or meal plans ?">
	Only active store/meal plans will be available in search results. If you would like to start maintenance or stop service - you can disable store or meal plans.
	Disabled meal plan or store will not appear in search results.</div>
</uib-accordion> </uib-tab> <uib-tab heading="Onboarding"> <uib-accordion>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="How do request business account ?">
	Go to business login page by clicking in "Partner with Us" > Create New Account. Fill out the form and submit. Once account created you will receive confirmation email. Please login with your credentials and start creating stores and meal plans.</div>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="Who can help if i can't login to my account?"> Go to business login page by clicking in "Partner with Us" > Forgot password. 
	Try to login with new password. If you still have - login issues, Please reach out to support@meaily.com</div>
</uib-accordion> </uib-tab> <uib-tab heading="Business Account"> <uib-accordion>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="How do i activate subscription ?">
	By default, you will be subscribed automatically to Default plan upon creating business account. You will not be charged for Default Plan. Default plan allows you to have 1 store, 2 meal plans and up to 50 customers.
	We offer Pay-As-Grow Plan which allows you to have unlimited stores, up to 10 meal plans per store and unlimited customers. Please explore "Pricing" for more details.
	</div>
<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="Can i cancel/resume subscription?"> You can cancel your subscription any time. Once subscription has been cancelled , you will not be charged once your current billing period expired.
	You can resume your cancelled subscription any time.
	</div>
	<div uib-accordion-group
	template-url="px/pages/support-center/accordion.html"
	heading="Can deactivate/delete my business account ?">Deactivating business account means closure of your business on our platform. 
	Please reach us out at <a class="md-button md-primary" href="mailto:support@meaily.com" role="button"
				aria-haspopup="true" aria-expanded="false">support@meaily.com </a>   to delete/deactivate your business account. We have to close all the stores ,deactivate meal plans and manage your meal plan subscribee customers under your account.
	</div>
</uib-accordion> </uib-tab> <uib-tab heading="Pricing"> 
   <div class="row">
   		<div class="col-md-6">
   				<div class="panel panel-default">
   					<div class="panel-title">
   					<span class="text  text-success">Default Plan</span><br>
   					<span class="text  text-default">Free</span>
   					</div><hr>
   					<div class="panel-body">

				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Reply Reviews</span><br>
					<span class="text text-muted">Yes</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Reply Questions</span><br>
					<span class="text text-muted">Yes</span>
				</p>
				<p>
					<span class="text text-default">Create Online Store</span><br>
					<span class="text text-muted">Limited to 1 Store</span>
				</p>
				<p>
					<span class="text text-default">  Create Meal Plans</span><br>
					<span class="text text-muted">Limited to 2 Meal Plans per Store</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Manage Store Details</span><br>
					<span class="text text-muted">Yes</span>
				</p>
				<p>
					<span class="text text-default">Manage Customer</span><br>
					<span class="text text-muted">Limited to 50 Customers</span>
				</p>
				<p>
					<span class="text text-default">Manage Delivery Drivers</span><br>
					<span class="text text-muted">No access</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Generate Delivery Schedules</span><br>
					<span class="text text-muted">Yes</span>
				</p>
					<p class="text-center">
				<a style="margin-left:-5px" class="md-button md-primary" href="#" >Default</a></p>

			</div>  					
   				</div>
   		
   		
   		</div>
   		<div class="col-md-6"><div class="panel panel-default">
   					<div class="panel-title">
   					<span class="text  text-success">Pay-As-Grow Plan</span><br>
   					<span class="text  text-default">Starts at CA$49.99 Monthly</span><br>
   					</div><hr>
   					<div class="panel-body">
   					
   					<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Reply Reviews</span><br>
					<span class="text text-muted">Yes</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Reply Questions</span><br>
					<span class="text text-muted">Yes</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Create Online Store</span><br>
					<span class="text text-muted">Unlimited Store</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i> Create Meal Plans</span><br>
					<span class="text text-muted">Limited to 10 Meal Plans per Store</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Manage Store Details</span><br>
					<span class="text text-muted">Yes</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Manage Customer</span><br>
					<span class="text text-muted">CA$0.00 per Customer for 1-50 Customers</span><br>
					<span class="text text-muted">CA$0.75 per Customer for 51 - Unlimited</span><br>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Manage Delivery Drivers</span><br>
					<span class="text text-muted">Access and employ independent delivery drivers from the pool.</span>
				</p>
				<p>
					<span class="text text-default"><i class="fa text text-success fa-check-circle" >&nbsp;</i>Generate Delivery Schedules</span><br>
					<span class="text text-muted">Yes</span>
				</p>
				<p class="text-center">
				<a style="margin-left:-5px" class="md-button md-primary" href
							ui-sref="pages.account">Subscribe</a></p>
   					
   					</div>  					
   				</div></div>
   			
   				
   </div>

 </uib-tab> </uib-tabset>
 
 
 


</div>