
<div ng-controller="ViewStoresCtrl as store">
	<div class="page-header">
		<div class="row">
			<div class="col-md-12 text-xs-center text-md-left text-nowrap">
				<h1>
					<i class="page-header-icon ion-android-clipboard"></i>Store<span
						class="text-default font-weight-light">&nbsp;Details</span>
				</h1>
				<md-button type="submit" ui-sref="pages.stores" class="md-raised md-raised-md pull-right md-raised-primary ">Go
				Back</md-button>
			</div>
		</div>
	</div>
<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default" style="border:none;">
				<div class="panel-title">
					<div class="row">
						<div class="col-md-6">
							<span class="font-size-28 text-success" scroll-to-item scroll-to="#aboutStoreID">{{store.details.clientName}}
							</span>	<span class="label label-danger" ng-hide="store.details.active">Closed</span>	
							<md-button type="button" ng-click="store.editStore()" class="md-raised ">Edit</md-button>
							<!-- <md-button type="button" ng-click="store.deactivateStore($event)" class="md-raised md-warn ">Deactivate</md-button> -->
							<div class="text text-default">
								<i class="fa fa-map-marker">&nbsp;</i>{{store.details.ui_address}}
							</div>
							<div class="text text-default">
								 <span><i ng-hide="!store.details.clientBusinessEmail"  class="fa fa-envelope">&nbsp;</i><a href="mailto:{{store.details.clientBusinessEmail}}">{{store.details.clientBusinessEmail}} </a> </span> <br>
         						<span> <i ng-hide="!store.details.clientBusinessWebsite"  class="fa fa-globe">&nbsp;</i><a href="{{store.details.clientBusinessWebsite}}">{{store.details.clientBusinessWebsite}}
						</a></span> <br>
         						<span><i ng-hide="!store.details.clientBusinessPhoneNumber" class="fa fa-phone">&nbsp;</i><a href="tel:{{store.details.clientBusinessPhoneNumber}}">{{store.details.clientBusinessPhoneNumber}}
						</a></span> <br>
						
						<small class="m-t-1">
							 <span
								class="text text-success "
								ng-show="store.details.openToday"><u>Store is open for business.</u></span> <span
								class="text text-danger "
								ng-show="!store.details.openToday"><u>Store might be closed for today.</u></span>
							</small>
         						
         						
         						</div>
							<hr>
							<div class="font-weight-bold font-size-18">
								<add-stars rating="{{store.details.averageRating}}"></add-stars>
							</div>
							<span class="font-weight-light">{{store.details.totalReviews}}
								Reviews,</span> <span class="font-weight-light">{{store.details.totalReplies}}
								Replies,</span> <span class="font-weight-light">{{store.details.totalQueries}}
								Queries</span>
						</div>
						<div class="col-md-6">
							<div id='map' style="height: 200px"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div> 	
	
	<div class="row" >

		<div class="col-md-6">

			<div class="panel panel-default" style="border:none;background-color: #fafafa !important;">
				<div class="panel-title">
					Meal Plans
					<md-button type="button" ng-click="store.createSubscribe()"
						class="md-raised  pull-right">
						Create New Subscription
					</md-button>
				</div>
				<div class="panel-subtitle">
				<span class="text text-muted" ng-show="store.details.serviceArea.length">Only Available for <span class="m-r-1"  ng-repeat="area in store.details.serviceArea">{{area.cityName}}</span> </span>
				</div>
				<hr>
				<div class="panel-body">
					<div class="col-md-6" ng-repeat="plan in store.details.subscriptionPlans">
						
						<md-card>
						<img ng-show="{{plan.imageUrl.length}}" ng-src="{{plan.imageUrl}}" class="md-card-image" >
						<md-card-title>
							<md-card-title-text><span class="md-headline">{{plan.name}}
							<span class="label label-danger" ng-hide="plan.active">Closed</span>
							<strong ng-show="{{plan.planPricing}}" style="font-size:14px" class="text text-danger">{{plan.planPricing}}&nbsp;{{store.currencyType}}&nbsp;/&nbsp;{{plan.billingPeriod}}</strong>
							
							</span>
							<md-button type="button" ng-click="store.editPlan(plan.id)" class="md-raised md-warning ">Edit</md-button></span>
							<md-button type="button" ng-show="plan.active" ng-click="store.deactivatePlan($event,plan.id)" class="md-raised md-warn">Deactivate</md-button></span>
							<md-button type="button" ng-hide="plan.active" ng-click="store.activatePlan($event,plan.id)" class="md-raised md-primary">Activate</md-button></span>
							</md-card-title-text>
						
						</md-card-title>
						<md-card-content><p> <strong ng-show="plan.homeDelivered || plan.takeOut">Delivery Options</strong>
						<span ng-show="plan.homeDelivered" class="text text-danger">Home Delivered,</span>
						<span ng-show="plan.takeOut" class="text text-danger">Take Out</span> <br>
						
						<strong ng-show="plan.foodSample">Food Sample </strong>
						<span ng-show="plan.foodSample" class="text text-danger">Available.</span> <br>
						
						<strong ng-show="plan.availableOnMonday || plan.availableOnTuesday || plan.availableOnWednesday || plan.availableOnThursday || plan.availableOnFriday || plan.availableOnSaturday || plan.availableOnSunday">Availability</strong>
						<span ng-show="plan.availableOnMonday" class="text text-success">Monday,</span>
						<span ng-show="plan.availableOnTuesday" class="text text-success">Tuesday,</span>
						<span ng-show="plan.availableOnWednesday" class="text text-success">Wednesday,</span>
						<span ng-show="plan.availableOnThursday" class="text text-success">Thursday,</span>
						<span ng-show="plan.availableOnFriday" class="text text-success">Friday,</span>
						<span ng-show="plan.availableOnSaturday" class="text text-success">Saturday,</span>
						<span ng-show="plan.availableOnSunday" class="text text-success">Sunday</span>
						</p>
						<hr>
						<p>{{plan.description}}</p></md-card-content>
						</md-card>
						
						
					</div>
				</div>
			</div>


			

			<!--   </md-tabs> -->



		</div>
		
		<div class="col-md-6">
		
			 <div class="panel panel-default" style="background-color: #fafafa !important;border:none;">
				<div class="panel-title">
					<md-button ng-click="store.updateServiceArea()" class="md-raised pull-right">Update</md-button>
					Service Area
				</div>
				<div class="panel-subtitle">This store is available for customers for above selected cities only. You can only select up to 3 cities only.</div>
				<div class="panel-body"><hr>
				<ui-select multiple ng-model="store.details.serviceArea" required limit=3
							name="state"> <ui-select-match
							placeholder="Select a city,state,country"> 
							{{$item.cityName}} , {{$item.stateName}}, {{$item.countryName}}
							</ui-select-match> 
							<ui-select-choices repeat="item in store.locationMap  | filter: $select.search ">
								{{item.cityName}} , {{item.stateName}}, {{item.countryName}}
							</ui-select-choices> 
						<ui-select-no-choice> No results found. </ui-select-no-choice> 
				</ui-select>
				
				
				</div>
			</div>
			
		
    <div class="panel panel-default" ng-repeat="promo in store.promotionCounters"
				style="background-color: #fafafa !important;border:none;">
				<div class="panel-title text-center">
				<span style="font-size:16px"
						class="text text-muted "> Total Request received for promotion</span>
				
				<br><span style="font-size:10px"
						class="text text-muted "> Last request received on {{promo.lastRequest | date}}</span><br>
						<span style="font-size:50px">{{promo.requestCounter}}</span> <br>
						
										
						<md-button class="md-primary"
						ng-click="store.resetCounter(promo)">Reset Counter</md-button>
							
					</div>
			</div>
    
 			
			<div class="panel panel-default" style="border:none;background-color: #fafafa !important;">
				<div class="panel-title">
					Promotion Offers
					<md-button type="button" ng-click="store.createPromotion()"
						class="md-raised md-raised-primary pull-right">Create New Promotion</md-button>

				</div><hr>
				<div class="panel-body">

					

					<div ng-show="store.details.requestPromotionMessage"
						class="text text-primary">
						<md-button type="button" class="close" data-dismiss="alert"></md-button>
						<strong>Good News !</strong> Business Owner notified about the
						request.
					</div>

					<div class="box-container m-y-1">
					<div ng-hide="store.promotions" class="text text-default">
						No Promotions or Deals available at the moment.
					</div>
						<div ng-repeat="promote in store.promotions">
							<div class=" text-success font-weight-semibold font-size-17">
								{{promote.title}}
								<div class="font-size-12 text-primary">Expiry
									Date : {{promote.endDate | date}}</div>
							</div>

							<div class="font-size-12">{{promote.detail}}</div>
<hr>
						</div>

					</div>
				</div>
				<!-- <div class="panel-footer text-center">
                    <small class="text text-right">Load more ...</small>
                </div> -->
			</div>
			
			</div>
		
	</div>
<div class="row">
	<div class="col-md-12">
		
		<div class="panel panel-default" style="border:none;background-color: #fafafa !important;">
				<div class="panel-title">
					Store Customers
				<md-button class=" md-raised pull-right" type="submit" ng-click="store.createCustomer()" >Add New Customer</md-button>
				</div><hr>
				<div class="panel-body">
					 <table id="viewstoreId" datatable="" dt-options="store.dtOptions"
		dt-columns="store.dtColumns"
		class="table  table-striped ">
	</table>
				</div>
			</div>
		
		</div>

 			
	
	
	</div>
	
	
	<div class="row">
	<div class="col-md-12">
		
		<div class="panel panel-default" style="border:none;background-color: #fafafa !important;">
				<div class="panel-title">
					Store Email Subscribers
					
				</div><hr>
				<div class="panel-body">
					 <table id="emailDataTableID" datatable="" dt-options="store.dtEmailOptions"
		dt-columns="store.dtEmailColumns"
		class="table  table-striped ">
	</table>
				</div>
			</div>
		
		</div>

 		<div class="col-md-12" id="aboutStoreID" ng-show="store.details.clientDetail">
			<div class="panel panel-default"
				style="border: none; background-color: #fafafa !important;">
				<div class="panel-title ">
					About {{store.details.clientName}}
				</div>
				<div class="panel-body">
					{{store.details.clientDetail}}
				</div>

			</div>
		</div> 	
	
	
	</div>
	
	<div class="row">
	<div class="col-md-4">
		
		<div class="panel panel-default" style="border:none;background-color: #fafafa !important;">
				<div class="panel-title">
					Rules
					<md-button class=" md-raised pull-right" type="submit" ng-click="store.rules()" >Submit</md-button>
				</div><hr>
				<div class="panel-body">
          <textarea style="border: none;/* margin: 0px; */width: -webkit-fill-available;height: auto;" ng-model="store.details.storePolicies.storePolicy" maxlength="5000" rows="5"></textarea>
			<span class=" pull-right text text-muted">{{store.details.storePolicies.storePolicy.length}} / 5000</span>
			</div>
		
		</div> 
	
	
	</div>
	<div class="col-md-4">
		
		<div class="panel panel-default" style="border:none;background-color: #fafafa !important;">
				<div class="panel-title">
					Cancellation Policies
					<md-button class=" md-raised pull-right" type="submit" ng-click="store.rules()" >Submit</md-button>
				</div><hr>
				<div class="panel-body">
          <textarea style="border: none;/* margin: 0px; */width: -webkit-fill-available;height: auto;" ng-model="store.details.storePolicies.cancellationPolicy" maxlength="5000" rows="5"></textarea>
			<span class=" pull-right text text-muted">{{store.details.storePolicies.cancellationPolicy.length}} / 5000</span>
			</div>
		
		</div> 
	
	
	</div>
	<div class="col-md-4">
		
		<div class="panel panel-default" style="border:none;background-color: #fafafa !important;">
				<div class="panel-title">
					Refund Policies
					<md-button class=" md-raised pull-right" type="submit" ng-click="store.rules()" >Submit</md-button>
				</div><hr>
				<div class="panel-body">
			          <textarea style="border: none;/* margin: 0px; */width: -webkit-fill-available;height: auto;" ng-model="store.details.storePolicies.refundPolicy" maxlength="5000" rows="5"></textarea>
			<span class=" pull-right text text-muted">{{store.details.storePolicies.refundPolicy.length}} / 5000</span>
			</div>
		
		</div> 
	
	
	</div>

</div>
</div>