<div class="container m-t-4" ng-controller="AboutCtrl as about">
	<div class="panel panel-default" style="border: none;padding:5%">
		<div class="panel-title" style="font-size:20px">About Meaily</div>
		<div class="panel-subtitle text text-muted">Since 2019</div>
		<hr>
		<div class="panel-body " style="font-size:15px">
			<div class="row">
				<div class="col-md-12"> 
				<span   class="text text-default">  
				  We are technology company. We provide platform to restaurants, take-outs, franchises and  individuals to setup online store(s) and offer subscription based meal plan(s).
				  Customers can access meal plans and send subscription request using public portal. Upon receiving subscription requests, business can manage it.
				   We would like to help businesses to grow and expand their operations  at the same time providing legendary service to our customers.Businesses can focus on quality while we help with managing the operations.
				  <br><br>
				  Also, We would like to think meaily is a bird.
				  
				  </span>
				</div> 
				</div>
			 <br>
			 
			 <div class="row"><div class="col-md-12 text-center">  <hr>
				<a class="md-button md-primary" href="/public" role="button"
				aria-haspopup="true" aria-expanded="false">For Customers</a>
					<a class="md-button md-primary" href="/business/index" role="button"
				aria-haspopup="true" aria-expanded="false">For Businesses</a><a class="md-button md-primary" href="/driver" role="button"
				aria-haspopup="true" aria-expanded="false">For Food Delivery</a>
				<a class="md-button md-primary" href="/demo" role="button"
				aria-haspopup="true" aria-expanded="false">Request Demo</a><hr></div>
			</div>
		 
		  <div class="row" ng-hide="true" style="font-size:16px;">
		  	<div class="col-md-4">
						<div class="well" style="background-color:#fff;border:none">
							<p class="display-2 text-warning">Customers</p>
							<span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>  Access to wide pool of active meal plan options from your favourite near by food joint.
						    </span><br>
						<span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>	 Fresh food delivered at door step every day at reasonable price. Pick up options available.</span>
						<br><span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon> Centralize portal to subscribe meal plans from local food businesses
						</span>
						<br><span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon> Send Feedback. Share your experience and Manage subscription at No Cost to you.
						</span>
						</div>
						
						 
						
			</div>
					<div class="col-md-4"> 
					<div class="well" style="background-color:#fff;border:none">
							<p class="display-2 text text-success" >Business</p>
							<span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>
						     Create Online Store(s) and Offer meal subscription plan(s).
						</span><br>
						<span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>
							 Know exact amount of food needs to be cooked for the day.</span><br>
							 <span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>
						     Know exact number of customers needs to be served for the day.</span><br>
						      <ion-icon size="small" name="remove"></ion-icon>
						     Generate delivery schedule</span><br>
						     <span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>
						     Maintain existing customers and Create new leads.
						</span>
						</div>
					 
						 
					</div>
				<div class="col-md-4">	 
				
				<div class="well" style="background-color:#fff;border:none">
							<p class="display-2 text text-danger">Food Delivery</p>
							<span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>  Apply to delivery jobs. Make money by delivering food.</span>
						<br>  <span class="text text-default">
						    <ion-icon size="small" name="remove"></ion-icon>  Create Driving Profile and Share your availability for delivery areas.</span>
						</div> 
							
					
				</div>
		  </div>	
		  
		  
		 
			</div>
			
			 
			
		</div>
		
	</div>

</div>
