<div class="container m-b-2" ng-controller="AdminCtrl as admin" ng-init="admin.loadInitial()">
	<div class="row " style="margin-top: 5%">
	<div class="col-md-12">
			<div class="panel panel-success">
				<div class="panel-title">Business Accounts </div>
				<div class="panel-subtitle"> search users , update invoice , enable/disable users</div>
				<hr>
				<div class="panel-body">
					<table datatable="ng" dt-options="admin.dtOptions"  class="table table-striped ">
								<thead ng-hide="true">
									<tr>
										<th>Queries</th>
									</tr>
								</thead>
								<tbody class="m-y-1">
					
					<tr  ng-repeat="user in admin.platform.users"><td>
					<span style="font-size:16px;" class="text text-default">{{user.username}}</span>
					<md-button ng-click="admin.updateBilling(user)" class="md-icon-button pull-right md-success"><ion-icon size="small" name="card-outline"></ion-icon></md-button>
					<md-button ng-click="admin.activateAccount(user)" class="md-icon-button md-warn pull-right"><ion-icon size="small" name="lock-closed-outline"></ion-icon></md-button>
					<br>
					<span class="text text-default">
						<ion-icon size="small" name="location-outline"></ion-icon>{{user.address.street}}
						{{user.address.area.cityName}} {{user.address.postal}}
						{{user.address.area.stateName}} {{user.address.area.countryName}} 						
					</span><br>
					<span class="text text-default">
					<ion-icon size="small" name="call-outline">&nbsp;</ion-icon> {{user.clientBusinessPhoneNumber}}&nbsp;
					</span>
					<span class="text text-default">
					<ion-icon size="small" name="mail-outline">&nbsp;</ion-icon> {{user.email}}&nbsp;
					</span>
					<span class="label label-muted">{{user.paymentId}}</span>
					<span class="label label-muted">{{user.membership}}</span>
					
					<hr></td>
					</tr></tbody></table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-title">Manage Demo Requests</div>
				<hr>
				<div class="panel-body "> 
					
				<div class="row">
							<table datatable="ng" dt-options="admin.dtOptions"  class="table table-striped ">
								<thead ng-hide="true">
									<tr>
										<th>Queries</th>
									</tr>
								</thead>
								<tbody class="m-y-1">
								 
									
									<tr   ng-repeat="demo in admin.platform.demos"> <td>
					<span style="font-size:16px" class="text text-default">{{demo.businessName}} </span> <label class="badge badge-success">{{demo.status}}</label>
					<span class="text text-default"><u>{{demo.demoDate | date:"medium"}}</u></span>
					<md-button ng-click="admin.demoCompleted(demo)" class="md-icon-button pull-right md-success"><ion-icon size="small" name="checkbox-outline"></ion-icon></md-button> <br>
					
					<span class="text text-default">
						<ion-icon size="small" name="location-outline"></ion-icon>{{demo.address.street}}
						{{demo.address.city}} {{demo.address.postal}}
						{{demo.address.province}} {{demo.address.country}} 						
					</span><br>
					<span class="text text-default">
					<ion-icon size="small" name="call-outline">&nbsp;</ion-icon> {{demo.contactNumber}}&nbsp;
					</span>
					<span class="text text-default">
					<ion-icon size="small" name="mail-outline">&nbsp;</ion-icon> {{demo.email}}&nbsp;
					</span>
					<span class="text text-default">
					<ion-icon size="small" name="earth-outline">&nbsp;</ion-icon> {{demo.website}}&nbsp;
					</span>
					
					<hr></td>
					</tr> 
									
									
								</tbody>
							</table>
						</div>	
					
					
					
					
					</div>
			</div>

		</div>
		


		<div class="col-md-6">
			<div class="panel panel-success">
				<div class="panel-title">Manage Platform Errors & Exceptions</div>
				<hr>
				<div class="panel-body "> 
					 
					
					<div class="row">
							<table datatable="ng" dt-options="admin.dtOptions"  class="table table-striped ">
								<thead ng-hide="true">
									<tr>
										<th>Queries</th>
									</tr>
								</thead>
								<tbody class="m-y-1">
									<tr ng-repeat="error in admin.platform.health | orderBy : '-createdOn'" >
										<td> {{error.message}} <br>
					<small   class="text text-muted">{{error.createdOn | date:"medium"}}</small>
					<md-button class="md-default" ng-click="admin.delError(error)">X</md-button>
					<hr ></td>
									</tr>
								</tbody>
							</table>
						</div>
					
					
					
				</div>
			</div>
		</div>
		
		 
	</div>
</div>