<div id="publicDataControllerId"
	ng-controller="DriverLoginCtrl as public" class="container">
	


	<div  id="userAuthModal" class="row m-t-4">
		<div class="col-md-6">
			<div class="panel panel-default text-center"
				style="border: none; background: #51bf99;padding:10%;">
				<div class="panel-title">
					<span class="text text-default m-t-2" style="font-size: 18px">Meal
						Forest</span> <br> <span class="text"
						style="font-size: 16px">Delivery Driver Login</span>
				</div>
				<div class="panel-body">

					<p ng-show="public.message.length>0">
						<span style="font-size: 16px" class="text text-danger">
							{{public.message}}</span>
					</p>
					<div style="margin-top: 15px; margin-bottom: 15px;">

						<div class="input-group input-group-lg " ng-hide="public.signupMode">
							<input type="email" class="form-control" id="username"  
								ng-change="public.emailChange()" name="username"
								placeholder="Email" ng-model="public.email" required> <input 
								type="password" class="form-control m-t-1" id="password" width=inherit
								ng-model="public.token" name="password"
								placeholder="Enter access token" required> <small  
								class="tooglePassword ion-eye cursor text text-muted"
								style="margin-left: 5px">&nbsp;Show Access Token</small>
						</div>
						
							<input ng-show="public.signupMode" type="email" class=" input-group input-group-lg form-control" id="username"  
								ng-change="public.emailChange()" name="username"
								placeholder="Email" ng-model="public.email" required> 
								
							<div class="checkbox" ng-show="public.signupMode">
						<label> <input type="checkbox" ng-model="public.terms" id="acceptCondition"
					name="acceptCondition"> 										 						
					<meaily-agreement ng-show="public.signupMode"></meaily-agreement>

						</label>
					</div>	
					</div>

					<md-button ng-hide="public.signupMode"
						ng-disabled="public.email.length==0 || public.token.length==0"
						type="submit" class="md-raised md-primary"
						ng-click="public.validateToken()"> Sign In </md-button>
						<md-button ng-show="public.signupMode"
						ng-disabled="public.email.length==0 || !public.terms"
						type="submit" class="md-raised md-primary"
						ng-click="public.getToken()"> Create Profile </md-button>

					<p>
						<md-button ng-disabled="public.email.length==0" ng-hide="public.signupMode"
							ng-click="public.getToken()" style="margin-left:0px"
							class="md-primary">request access token </md-button>
					 
						<md-button ng-hide="public.signupMode" ng-click="public.signupDriver()" style="margin-left:0px"
							class="md-primary">Sign up : Food Delivery Job </md-button>
					</p>

					<p style="font-size: 16px"  ng-show="public.sendTokenSuccess">
						<span class="text text-success"> Access token has been sent to {{public.email}}.  </span>
						<br><span ng-show="public.signupMode">{{public.tokenMessage}}</span>
						<br>Please <span stype="cursor:pointer;" ng-click="public.retryLogin()"><u>Login</u></span> using sent token.
					</p>
						<p style="font-size: 16px"  ng-show="!public.sendTokenSuccess">
						<span class="text text-warning" > {{public.tokenMessage}}</span>
						</p>

				</div>
			</div>
		</div>
		<div class="col-md-6">
	
	<div class="panel panel-default" style="border:none;padding:10%;">
		<p>
			<span style="font-size: x-large;">How it works</span><br>
			<small class="text text-muted" style="font-size:16px">quick three steps</small>
			<hr>
		</p>
		<div class="row">
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                <p class="display-3">
		                <span class="text text-success"><strong> Step 1 : </strong> &nbsp;Sign up : Food Delivery Job</span>
		                 </p>
		                <span class="text text-default">
		                Sign up and Create Driver Profile. Once Profile created you have access to available food delivery jobs.
		                We will need your email address and preferred food delivery area only.
		                 </span>
		               
				</div>
			</div>
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                 <p class="display-3"> <span class="text text-success"><strong> Step 2 : </strong> 
		                &nbsp; Search Food Delivery Jobs</span>
		                </p>
		                <span class="text text-default" > Search food delivery job by keyword or service area.</span>
		                
				</div>
			</div>
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                 <p class="display-3">
		                <span class="text text-success"><strong> Step 3 : </strong> 
		                &nbsp; Apply</span>
		                </p> 
		                <span class="text text-default" >Once you have found job(s) - click on apply button to send application.
		                 </span>
		                
				</div>
			</div>
		</div>
	</div>
	
	</div>

	</div>



</div>
<script type="text/javascript">
	$(".tooglePassword").click(function() {
		var input = $("#password");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			$(this).addClass("ion-eye-disabled");
			$(this).removeClass("ion-eye");
		} else {
			input.attr("type", "password");
			$(this).addClass("ion-eye");
			$(this).removeClass("ion-eye-disabled");
		}
	});
</script>




