<div id="publicDataControllerId"
	ng-controller="DriverDataCtrl as public" class="container">
	<div class="row">
		<div class="panel panel-default" style="border: none">
			<div class="panel-title">

				<md-button class="md-raised md-warn pull-right"
					ng-click="public.logout()">Logout</md-button>
			</div>
			<div class="panel-body">
   <div class="row"> 
              <notification ng-repeat="notify in public.notifications" notificationId="{{notify.id}}" type="" clientUserName="" notificationText="{{notify.message}}" notificationTime="{{notify.time}}" read="{{notify.isRead}}"></notification>
		</div>
<hr>
				<div class="row">
					<div class="col-md-6">

						<div class="panel panel-default"
							style="border: none; background-color: #5f9ea0 !important; color: #ffffff !important;">
							<div class="panel-title" style="border: none;">
								Your <span class=" font-weight-light">Profile</span>

								<md-button class=" md-raised pull-right"
									ng-click="public.updateDriverProfile()">Save
								Changes</md-button>
							</div>
							<hr>
							<div class="panel-body">
								<form name="wizardAccount" novalidate=""
									class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-compare-to ng-valid-email">

									<fieldset class="form-group"
										ng-class="{ 'has-error': public.hasErr(wizardAccount, 'username|fullName') }">
										<div class="row">
											<div class="col-md-6">
												<label>First Name</label> <input
													ng-model="public.driverProfile.reviewer.firstName" required="" type="text"
													name="username"
													class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
													aria-invalid="true">
												<div ng-show="public.hasErr(wizardAccount, 'username')"
													style="color: #ffd700 !important;" aria-hidden="true"
													class="ng-hide">First name is required.</div>
											</div>
											<div class="col-md-6">
												<label>Last Name</label> <input ng-model="public.driverProfile.reviewer.lastName"
													required type="text" name="fullName" class="form-control">
												<div ng-show="public.hasErr(wizardAccount, 'fullName')"
													style="color: #ffd700 !important;">Name is required.</div>
											</div>
										</div>
									</fieldset>

									<fieldset class="form-group"
										ng-class="{ 'has-error': public.hasErr(wizardAccount, 'email|phoneNumber') }">
										<div class="row">
											<div class="col-md-8">
												<label for="wizard-email">E-mail</label> <input
													ng-model="public.driverProfile.reviewer.email" ng-disabled=true required="" type="email"
													name="email"
													class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required"
													aria-invalid="true">
												<div
													ng-show="public.hasErr(wizardAccount, 'email', 'required')"
													style="color: #ffd700 !important;" aria-hidden="true"
													class="ng-hide">Email is required.</div>
												<div ng-show="public.hasErr(wizardAccount, 'email', 'email')"
													style="color: #ffd700 !important;" aria-hidden="true"
													class="ng-hide">Please enter a valid email address.</div>
											</div>
											<div class="col-md-4">
												<label>Contact Number</label> <input
													ng-model="public.driverProfile.reviewer.phoneNumber" required="" type="text"
													name="phoneNumber"
													class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
													aria-invalid="true">
												<div ng-show="public.hasErr(wizardAccount, 'phoneNumber')"
													style="color: #ffd700 !important;" aria-hidden="true"
													class="ng-hide">Phone number is required.</div>
											</div>
										</div>


									</fieldset>
<hr>	
									<fieldset class="form-group"
										ng-class="{ 'has-error': public.hasErrs(wizardAccount, 'street|postal|state') }">
										<div class="row">
											<div class="col-md-6">
												<label for="form-group-input-2">Street Name</label> <input
													required="" type="text" ng-model="public.driverProfile.address.street"
													name="street"
													class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
													placeholder="Street Name" aria-invalid="true">
											</div>
											<div class="col-md-4">
												<label for="form-group-input-2">Postal</label> <input
													required="" type="text" ng-model="public.driverProfile.address.postal"
													name="postal"
													class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
													placeholder="Postal Code" aria-invalid="true">
											</div>



											<div class="col-md-12">
												<label>City, State and Country</label>
												<div ng-model="public.selectedCityStateCountry" id="geocoder"></div>
											</div>
										</div>
									</fieldset>
									
							<hr>
							<fieldset class="form-group"
										ng-class="{ 'has-error': public.hasErrs(wizardAccount, 'deliveryAreas') }">
										<div class="row"><div class="col-md-12">
				<label>Preferred Food Delivery Areas</label>
				<ui-select multiple ng-model="public.driverProfile.deliveryAreas" required limit=5
							name="deliveryAreas"> <ui-select-match
							placeholder="Select a city,state,country"> 
							{{$item.cityName}} , {{$item.stateName}}, {{$item.countryName}}
							</ui-select-match> 
							<ui-select-choices repeat="item in public.locationMap | filter: $select.search ">
								{{item.cityName}} , {{item.stateName}}, {{item.countryName}}
							</ui-select-choices> 
						<ui-select-no-choice> No results found. </ui-select-no-choice> 
				</ui-select>		</div></div>
			</fieldset>	
			<hr>
			
			<fieldset class="form-group" ng-class="{ 'has-error': public.hasErr(wizardAccount, 'experience') }">
				<div class="row">
					<div class="col-md-6">
						<label for="wizard-email">Driving Experience (in years)</label> <input
							ng-model="public.driverProfile.license.experience"
							required=""  name="experience" type="number" min=0
							class="form-control ng-pristine ng-untouched ng-empty ng-valid-email ng-invalid ng-invalid-required"
							aria-invalid="true">
						<div
							ng-show="public.hasErr(wizardAccount, 'experience', 'required')"
							style="color: #ffd700 !important;" aria-hidden="true"
							class="ng-hide">Driving Experience is required.</div>
						<div
							ng-show="public.hasErr(wizardAccount, 'experience', 'email')"
							style="color: #ffd700 !important;" aria-hidden="true"
							class="ng-hide">Please enter a valid number.</div>
					</div>
					<div class="col-md-6">
						<label>License Issue Date</label> <input id="issueDate"
							ng-model="public.driverProfile.license.licenseIssueDate"
							 type="date" name="licenseIssueDate"
							class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
							aria-invalid="true">
					</div>
					<div class="col-md-6">
						<label>Notes</label> <textarea
							ng-model="public.driverProfile.license.notes"
							 name="notes"
							class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required"
							aria-invalid="true"> </textarea>
					</div>
				</div>
	
	
			</fieldset>
			<hr>
			<fieldset class="form-group">
				<input type="checkbox" ng-model="public.driverProfile.available" class="form-check-input" checked id="available">
				<label ng-show="public.driverProfile.available" for="available"> Yes, I am available for food delivery jobs.</label>
				<label ng-hide="public.driverProfile.available" for="available"> No, I am not available for food delivery jobs.</label>
			</fieldset>
			
									
									
									<!-- / #wizard-finish -->
								</form>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<!-- Latest transactions -->
						<div class="panel panel-default"
							style="border: none; background: #fafafa">
							<div class="panel-title">Your <strong>Application Status</strong></div>
							<div class="panel-subtitle"> <md-switch ng-change="public.loadPublicDetails()" class="md-primary" name="special" ng-model="public.showAllApplications" required>
          {{public.showAllApplications ? "show all the applications." : "show only recently applied applications."}}
        </md-switch></div>

							<hr class="m-a-0">
							<div class="panel-body">
								 

								<table datatable="ng" dt-options="public.dtOptions"
									class="table table-striped ">
									<thead ng-hide="true">
										<tr>
											<th>Applications</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
 
										
										<tr ng-repeat="job in public.applications"> 
													<td>
														<span style="font-size: 16px">{{job.jobPosting.name}} 
																<button ng-click="public.jobDetails(job)" class="btn-sm btn">Details</button>
																</span><br>
														<span class="text text-muted">Contract End :
															{{job.jobPosting.duration | date}} | Expiry Date : {{job.jobPosting.expiryDate
															| date}}</span><br> <span class="text text-success">Compensation
															: {{job.jobPosting.wageInformation}} </span>  

														<br> <span class="text text-default">
															{{job.jobPosting.description | limitTo:100}}{{job.jobPosting.description.length
															> 100 ? '......': ''}} </span> <br> <span
														class="text text-muted" style="font-size: 10px">applied on {{job.appliedOn | date}}</span> <br>
														<span class="label label-default">Application status is {{job.status | lowercase}}.</span>
														</td>
															<td>
															<md-button ng-show="job.status=='APPLIED' || job.status=='SELECTED'" ng-click="public.withdrawApplication(job)"  class="md-primary pull-right">Withdraw</md-button>
															</td>


												</tr>


									</tbody>
								</table>
							</div>
						</div>


						<!-- / Latest transactions -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<!-- Latest transactions -->
						<div class="panel panel-default"
							style="border: none; background: #fafafa">
							<div class="panel-title">
							<strong>Food Delivery Jobs</strong> <span ng-bind="public.jobMessage"
									style="font-size: 12px" class="text text-muted pull-right"></span>
							</div>

							<hr>
							<div class="panel-body">


								<div class="row m-b-2">


									<div class="col-md-6">

										<label for="keyword" class="text text-muted">Search by
											Keyword</label> <input type="text" name="keyword"
											class="form-control" id="keyword"
											ng-model="public.jobKeyword" ng-change="public.searchJobs()"
											placeholder="Search jobs..." aria-invalid="false">



									</div>
									<div class="col-md-6">
										<label for="cityName" class="text text-muted">Filter
											Jobs by City</label> <input id="cityName" type="text"
											class="form-control" ng-change="public.searchJobs()"
											ng-model="public.cityKeyword" name="cityName"
											placeholder="Start typing city name.." aria-invalid="true">
									</div>
								</div>



								<div class="row">


									<div class="col-md-12"
										style="background-color: white !important;">



										<table class="table table-hover " style="border: none">
											<thead ng-hide="true">
												<tr>
													<th>Customer Detail</th>
													<th>Apply</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="job in public.jobs track by job.id">
													<td><md-button ng-click="public.applyJob(job)" class="md-primary pull-right">Apply</md-button>
														<span style="font-size: 16px">{{job.name}} <button ng-click="public.jobDetails(job)" class="btn-sm btn">Details</button></span><br>
														<span class="text text-muted">Contract End :
															{{job.duration | date}} | Expiry Date : {{job.expiryDate
															| date}}</span><br> <span class="text text-success">Compensation
															: {{job.wageInformation}} </span> <br> <span
														class="label label-default m-r-1"
														ng-repeat="sa in job.serviceArea">{{sa.cityName}},{{sa.stateName}}</span>

														<br> <span class="text text-default">
															{{job.description | limitTo:400}}{{job.description.length
															> 400 ? '......': ''}} </span> <br> <span
														class="text text-muted" style="font-size: 8px">last
															updated on {{job.modifiedOn | date}}</span></td>


												</tr>
											</tbody>
											<tfoot ng-hide="public.jobs.length==0"
												class="text text-center">
												<tr>
													<td><md-button class="md-primary"
															ng-click="public.loadJobs()">Load More...</md-button></td>
												</tr>
											</tfoot>
										</table>
									</div>
								</div>


							</div>
						</div>


						<!-- / Latest transactions -->
					</div>
				</div>



			</div>
		</div>
	</div>
	
	<div class="modal fade" id="jobModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<span ng-bind="driver.jobPostingLabel" style="font-size: 18px" class="modal-title" id="myModalLabel"></span>
					<md-button class="md-raised md-warn pull-right"
						style="margin-top:-5px;" data-dismiss="modal">X</md-button>

				</div>
				<div class="modal-body">

					<form name="jobForm">
						<fieldset class="form-group">
							<label for="form-group-input-1">Job Name</label> 
							<span ng-bind="public.jd.name" class="form-control"></span>
						</fieldset>
						

						<fieldset class="form-group">
						    <div class="row">
						    		<div class="col-md-6"><label for="form-group-input-2">Contact End Date</label>
						    		<span ng-bind="public.jd.duration" class="form-control"></span>
						    		  
						    	
								</div>
									<div class="col-md-6"><label for="form-group-input-2">Compensation</label>
									<span ng-bind="public.jd.wageInformation" class="form-control"></span>
									 
								</div>
								
						    </div>
							
						 
							
						</fieldset>
						
						<fieldset class="form-group">
							<label for="form-group-input-2">Delivery Areas</label>  
							<span class="label label-default m-r-1"
														ng-repeat="sa in public.jd.serviceArea">{{sa.cityName}},{{sa.stateName}}</span>
						</fieldset>

						<fieldset class="form-group">
							<label for="form-group-input-2">Apply Before</label>
								<span ng-bind="public.jd.expiryDate" class="form-control"></span>
							 
						</fieldset>

						<fieldset class="form-group">
							<label for="form-group-input-2">Job Description</label>
							<textarea required type="text" rows="10"  name="description" ng-disabled=true
								ng-model="public.jd.description" class="form-control"
								placeholder="Job Description"></textarea>
						</fieldset>

					</form>

				</div> 
			</div>
		</div>
	</div>





</div>
<script type="text/javascript">
	$(".tooglePassword").click(function() {
		var input = $("#password");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			$(this).addClass("ion-eye-disabled");
			$(this).removeClass("ion-eye");
		} else {
			input.attr("type", "password");
			$(this).addClass("ion-eye");
			$(this).removeClass("ion-eye-disabled");
		}
	});
</script>




