
<div ng-controller="ForgotController as myctrl">
	<div class="container">
		<div class="row m-t-4">

			<div class="col-md-6">
				
				
				<div class="panel panel-default"  style="border:none;background:#51bf99;padding:10%;">
				<div class="panel-title">
					<span class="text text-default m-t-2" style="font-size:18px">Meaily</span> <br>
						<span class="text" style="font-size:16px">Business Account - Forgot Password</span>
			   </div>


<div class="panel-body">
				<form action="login" name="loginform" method="post"
					class="form-signin" novalidate>


				

						<div class="input-group input-group-lg " style="width:100%">
								<input type="text" class="form-control" id="email"
							ng-model="myctrl.clientEmail" name="clientEmail"
							placeholder="Username or Email" required>
						</div>

						<md-button ng-disabled="loginform.$invalid" ng-click="myctrl.retrievePassword()" style="margin-left:0px"
							class="md-raised md-primary">Submit</md-button>
					 
<p>
					<a style="margin-left:-5px" class="md-button md-primary" href
							ui-sref="pages.main">Redirect : Log In </a> 
					</p>
				</form>
<p>
<span class="text text-success" ng-show="myctrl.showMessage">
				Your password has been reset to <strong>{{myctrl.messageText}}</strong>.
				Please make sure to change after login.
			</span> 
			<span class="text text-success" ng-show="myctrl.showError">
				{{myctrl.messageText}}</span>
</p>


			</div>
				
				
				
			</div>

		</div> 
					<div class="col-md-6">
	
	<div class="panel panel-default" style="border:none; padding:10%">
		<p>
			<span style="font-size: x-large;">How it works</span><br>
			<small class="text text-muted" style="font-size:16px">quick three steps</small>
			<hr>
		</p>
		<div class="row">
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                <p class="display-3">
		                <span class="text text-success"><strong> Step 1 : </strong> &nbsp;Create Store</span>
		                 </p>
		                <span class="text text-default">Create online store(s). Manage store working hours, address and contact details. 
		                </span>
		               
				</div>
			</div>
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                 <p class="display-3"> <span class="text text-success"><strong> Step 2 : </strong> 
		                &nbsp;Create Meal Plan </span>
		                </p>
		                <span class="text text-default" >
		                Offer subscription based meal plans. Each store can have multiple meal plans. Customer can search meal plan and send subscription request.
		                </span>
		                
				</div>
			</div>
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                 <p class="display-3">
		                <span class="text text-success"><strong> Step 3 : </strong> 
		                &nbsp;Expand Business</span>
		                </p> 
		                <span class="text text-default" >
		                Congratulation ! You have created online store and your subscription based the meal plan are live now. 
		                Your job is to provide quality and We will help you with managing customer service, 
		                maintain existing customers and add new customers. 
		                 </span>
		                
				</div>
			</div>
		</div>
	</div>
	
	</div>
	</div>

</div>