<div class="container" ng-controller="LandingCtrl as ctrl">
	<div class="container-fluid">
		<div class="panel ">
			<div class="panel-title text-center">
				<span class="text text-default"> Meaily for Businesses
					<br> <a ui-sref="public.registerBusiness"><icon
							class="fa text-primary fa-check-circle"></icon> Register</a>
				</span>
			</div>
		</div>
	</div>
</div>
