<div class="container" ng-controller="InviteCtrl as invite">
	<div class="row">
	
	<div class="col-md-12">
		 
			<div class="panel panel-default" style="border:none;background-color: #51bf99; !important;color: #ffffff !important;margin-top:5%;padding:5%">
			<div class="panel-title" style="font-weight: 600">Send Invitation <span class=" font-weight-light"><br>
			 Invite your favorite food joint or friend</span>
				</div><hr>
				<div class="panel-body" ng-show="invite.showForm">
					<form name="wizardAccount" novalidate>
					
  						<div class="row">
						<fieldset class="form-group form-input"	ng-class="{ 'has-error': invite.hasErr(wizardAccount, 'phoneNumber|email|message') }">
						 
						<div class="col-md-12">
									<label>Address</label>
									<div ng-model="invite.invite.address" id='geocoder'></div> 
									<div ng-show="invite.addressMissing"
								style="color: #ffd700 !important;">Please enter a valid invitee address.</div>
						</div> 
						<div class="col-md-8"><label>Invitee Name</label> <input
								ng-model="invite.invite.inviteeName" required placeholder="Name of Place or Person you're inviting"
								name="phoneNumber" class="form-control">
							<div ng-show="invite.hasErr(wizardAccount, 'phoneNumber')"
								style="color: #ffd700 !important;">Name is required.</div></div>
							<div class="col-md-4"><label for="wizard-email">Invitee E-mail</label> <input
								ng-model="invite.invite.email" required type="email" name="email" placeholder="test@meaily.com"
								class="form-control">
							<div ng-show="invite.hasErr(wizardAccount, 'email', 'required')"
								style="color: #ffd700 !important;">Email is required.</div>
							<div ng-show="invite.hasErr(wizardAccount, 'email', 'email')"
								style="color: #ffd700 !important;">Please enter a valid email address.</div></div>
								
								
								
								
						</fieldset>
						</div>
						
					<div class="row"> <br><div class="col-md-6"> <label>Inviter Name</label>  <input
								ng-model="invite.invite.inviterName" required placeholder="Enter your name"
								name="name" class="form-control">
							<div ng-show="invite.hasErr(wizardAccount, 'name')"
								style="color: #ffd700 !important;">Name is required.</div>
								</fieldset><br>
								</div>
								<div class="col-md-12" ng-show="invite.invite.inviterName.length>0 && invite.invite.inviteeName.length>0">
								<label for="wizard-message">{{invite.invite.inviterName}}'s Message for {{invite.invite.inviteeName}}</label> 
<textarea required name="message" ng-model="invite.invite.message" style="color:black;border: none;width: -webkit-fill-available;height: auto;" maxlength="2000" rows="5" aria-invalid="false" ></textarea>
								<span class="text text-default pull-right">{{invite.invite.message.length}} / 500</span>
								<div ng-show="invite.hasErr(wizardAccount, 'message', 'required')"
								style="color: #ffd700 !important;">Message is required.</div>
								
								</div>
								</div>

						<md-button  ng-disabled="wizardAccount.$invalid " style="margin-left:0px;"
							type="button"  
							class="md-raised md-raised-block md-info"
							ng-click="invite.send()">Send Invite</md-button>

						<!-- / #wizard-finish -->
					</form>
				</div>
					<div style="font-size:16px" class="panel-body" ng-hide="invite.showForm">
						Dear {{invite.invite.inviterName}}, <br><br>
						Thank you for all your support. <br>We have sent invitation to <strong>{{invite.invite.inviteeName}}</strong> on your behalf. <br><br>
						
						Meaily.
					</div>
			</div>
		</div>
	
	 
		
	</div>
	

	
</div>
<style type="text/css">
#geocoder {
z-index: 1;
width: 100%;
text-align: center;
top: 20px;
}
.mapboxgl-ctrl-geocoder {
min-width: 100%;
}
 
ion-icon {
	font-size: 32px;
	color: #6f6f6f;
} 
</style> 
