<div class="container" ng-controller="LandingCtrl as ctrl" ><div class="col-md-12">
	<div class="panel panel-default" style="background-color: #51bf99;border:none;padding:10%;">
		 
		<div class="row">
			<div class="col-md-4" style="font-size: 18px;text-align: center;">
				<div class="well text-default" style="background-color: #51bf99;border: none;">
		                <p class="display-3"> <ion-icon name="search-circle"></ion-icon> 
		                 </p>
		                <span class="text ">Search Meal Plans
		       </span>
		               
				</div>
			</div>
			<div class="col-md-4" style="font-size: 18px;text-align: center;">
				<div class="well text-default" style="background-color: #51bf99;border: none;">
		                 <p class="display-3"> <ion-icon name="checkmark-circle"></ion-icon> 
		                  </p>
		                <span class="text " >Send Subscription Request
		                </span>
		                
				</div>
			</div>
			<div class="col-md-4" style="font-size: 18px;text-align: center;">
				<div class="well text-default" style="background-color: #51bf99;border: none;">
		                 <p class="display-3"> <ion-icon name="restaurant"></ion-icon>
		                </p> 
		                <span class="text" >Enjoy</span>
		                
				</div>
			</div>
		</div>
		
		
		<div class="row" style="margin-top:10%;margin-bottom:10%;">
		<div class="col-md-12 text-center"><small class="text" style="color:#fff;font-size:16px">Search meal plans by keywords...</small></div>
			<div class="col-md-12"><form ng-submit="$event.preventDefault()" style="margin-top: 5px">
			<md-autocomplete id="virtual-autocomplete"
				ng-disabled="ctrl.isDisabled" 
				md-no-cache="ctrl.noCache"
				md-selected-item="ctrl.selectedItem"
				md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
				md-search-text="ctrl.searchText"
				md-selected-item-change="ctrl.selectedItemChange(item.id)"
				md-items="item in ctrl.querySearch(ctrl.searchText)"
				md-item-text="item.storeName" md-min-length="0"
				md-escape-options="clear"
				input-aria-describedby="virtual-autocomplete-description"
				input-aria-label="Current Repository"
				placeholder="Search meal plans...."
				md-menu-class="autocomplete-virtual-template"
				md-menu-container-class="virtual-container" md-mode="virtual">
			<md-item-template md-highlight-text="ctrl.searchText">


			<div class="widget-comments-item">
				<div class="widget-comments-header text-default">
				<span class="text text-muted pull-right">
						 <i ng-show="ctrl.searchText"> matching score <strong> {{item.storeDetail}}</strong></i>
				    </span>
					<span class="text text-default" style="font-size: large">
						{{item.storeName | limitTo:40}}{{item.storeName.length > 40 ?
						'...': ''}}</span>
						

				</div>
				<div class="widget-comments-text">
					<p class="text text-muted">
						<i class="fa fa-map-marker">&nbsp;</i>{{item.address.street}}
						{{item.address.area.cityName}} {{item.address.postal}}
						{{item.address.area.stateName}} {{item.address.area.countryName}} 						
					</p>
					<p class="text text-success">
						<span><i class="fa fa-globe">&nbsp;</i>{{item.storeUrl}} </span>
						<span class="m-l-2"><i class="fa fa-phone">&nbsp;</i>{{item.storeContactNumber}} </span>
						<span class="m-l-2"><i class="fa fa-envelope">&nbsp;</i>{{item.storeEmail}}</span><br>
					</p>
					
					<!-- <p class="text text-default"
						ng-repeat="plan in item.storeOfferredPlans">
						{{plan.name}} <small ng-show="plan.planPricing"
							class="text text-default">at {{plan.planPricing}} CAD /
							{{plan.billingPeriod}}</small>
					</p> -->
				</div>
			</div>


			</md-item-template> <!-- <md-not-found>
				<p class="m-l-2"> <ion-icon size="small" name="alert-circle-outline"></ion-icon> 
				<span class="text font-size-16">No store(s) found matching "{{ctrl.searchText}}" in {{main.selectedCityStateCountry.cityName ? main.selectedCityStateCountry.cityName : main.selectedCityStateCountry}}. 
				Please change service area and give it a try.</span> </p> 
			          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
				</md-not-found> --> </md-autocomplete>
		</form></div>
			<div class="col-md-12 text-center">  <md-button ng-click="ctrl.searchMealPlans()"   class="md-default md-raised">Search Meal Plans</md-button></div>
		</div>
		
      
      	<div class="row m-t-2" ng-show="ctrl.searchPopular.length>0"><div class="col-md-12" style="color:#fff;">
			<strong>Trending</strong> <span ng-repeat="popular in ctrl.searchPopular track by popular" ng-click="ctrl.setSearch(popular)" class="text m-l-1" style="color:#fff;">{{popular}}</span> 
	    </div></div>
      
		<div class="row" ng-show="ctrl.repos.length==0" class="text-center m-t-2">
			<div class="col-md-12">
				<span class="text  font-size-14" style="color:#fff;"> <br>
				<strong><ion-icon size="small" name="alert-circle-outline"></ion-icon> No store(s) found in {{main.selectedCityStateCountry.cityName ?
					main.selectedCityStateCountry.cityName :
					main.selectedCityStateCountry}}. </strong>
					<br> Try changing service area or Search using different key word
				</span></div>
			</div>
		
		
		
	</div>
	 

 




</div>

<style type="text/css">
ion-icon {
 color: #ffffff;
} 
</style>
</div>
