<div ng-controller="LandingCtrl as ctrl">
	<div class="container">

		<div class="row ">
			<div class="col-md-6 ">
				<p>
					<a href ui-sref="public.landing({index:0})">Review Business</a>
					Search for any active business by name and location and write
					review
				</p>
				<a href ui-sref="public.landing({index:0})"><span
					class="md-raised md-raised-primary md-raised-block">Go Business</span></a>
				<hr>
			</div>
			<div class="col-md-6 ">
				<div class="panel ">
					<div class="panel-title ">
						<a href ui-sref="public.product"> Review Product</a>
					</div>

					<div class="panel-subtitle">Search for the any available
						product by name and write review</div>

					<div class="panel-footer">
						<a href ui-sref="public.product"><span
							class="md-raised md-raised-primary md-raised-block">Go Product</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
