<div class="container" ng-controller="MyController as myctrl">
	<div class="row m-t-4" >  
		<div class="col-md-6" >

			<div class="panel panel-default text-center" style="border:none;background:#51bf99;padding:10%"  >
				<div class="panel-title">
					<span class="text text-default m-t-2" style="font-size:18px">Meaily</span> <br>
						<span class="text" style="font-size:16px">Business Account Login</span>
			   </div>


<div class="panel-body">
				<form action="login" name="loginform" method="post"
					class="form-signin" novalidate>

				
					<span style="font-size:16px" class="text text-danger" ng-show="myctrl.showErrorMessage.length >0">
						 {{myctrl.showErrorMessage}}
					</span> 
					<span class="text text-success" style="font-size:16px" 
						ng-show="myctrl.showLogoutMessage"> You
							have been logged out successfully. 
					</span>
					<div style="margin-top: 15px; margin-bottom: 15px;">

						<div class="input-group input-group-lg ">
							<input type="text" class="form-control" id="username"
								name="username" placeholder="Username or Email" required>

							<input type="password" class="form-control m-t-1" id="password"
								name="password" placeholder="Password" required> <small
								class="tooglePassword ion-eye cursor text text-muted">&nbsp;Show
								Password</small>
						</div>
					</div>

					<div class="checkbox">
						<label> <input type="checkbox" id="rememberme"
							name="remember-me"> Remember Me
						</label>
					</div>

					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />

					<div class="form-actions">
						<md-button type="submit" class="md-primary md-raised" ng-disabled="loginform.$invalid" style="margin-left:0px"
							class="md-raised">Log in </md-button>

					</div>
					 

				</form>



			</div>
			
			
				<div class="panel-body">
			<a style="margin-left:-5px" class="md-button md-primary" href
							ui-sref="pages.second">Create new account</a>
						<a style="margin-left:-5px" href class="md-button md-primary" ui-sref="pages.third">forgot password</a> 
					
		</div>
		
				
			
		</div>
		
		
		
		  
	</div>
	
	<div class="col-md-6">
	
	<div class="panel panel-default" style="border:none;padding:10%">
		<p>
			<span style="font-size: x-large;">How it works</span><br>
			<small class="text text-muted" style="font-size:16px">quick three steps</small>
			<hr>
		</p>
		<div class="row">
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                <p class="display-3">
		                <span class="text text-success"><strong> Step 1 : </strong> &nbsp;Create Store</span>
		                 </p>
		                <span class="text text-default">Create online store(s). Manage store working hours, address and contact details. 
		                </span>
		               
				</div>
			</div>
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                 <p class="display-3"> <span class="text text-success"><strong> Step 2 : </strong> 
		                &nbsp;Create Meal Plan </span>
		                </p>
		                <span class="text text-default" >
		                Offer subscription based meal plans. Each store can have multiple meal plans. Customer can search meal plan and send subscription request.
		                </span>
		                
				</div>
			</div>
			<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                 <p class="display-3">
		                <span class="text text-success"><strong> Step 3 : </strong> 
		                &nbsp;Expand Business</span>
		                </p> 
		                <span class="text text-default" >
		                Congratulation ! You have created online store and your subscription based the meal plan are live now. 
		                Your job is to provide quality and We will help you with managing customer service, 
		                maintain existing customers and add new customers. 
		                 </span>
		                
				</div>
			</div>
			
			
		</div>
		
		<div class="row text-center">
			<hr>
			<span class="text text-muted" style="font-size:16px">	Would you like to know more about product ?</span>
			<a class="md-button md-primary" href="/demo" role="button"
				aria-haspopup="true" aria-expanded="false">Request Demo</a>
		</div>
		 </div>
		 
	</div>
	
	</div>
	 
</div>

 


<script type="text/javascript">
	$(".tooglePassword").click(function() {
		var input = $("#password");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			$(this).addClass("ion-eye-disabled");
			$(this).removeClass("ion-eye");
		} else {
			input.attr("type", "password");
			$(this).addClass("ion-eye");
			$(this).removeClass("ion-eye-disabled");
		}
	});
</script>