<div ng-controller="MasterLoginCtrl as public" class="container">
	

	<div    class="row text-center">  <div class="col-md-2"></div>
	 <div class="col-md-6">			<div class="panel panel-default" style="border:none;background:#fafafa;margin-top:15%;margin-bottom:60%">
				<div class="panel-title">
					<span class="text text-default m-t-2" style="font-size:18px">Meaily</span> <br>
						<span class="text text-muted" style="font-size:16px">Admin Login</span>
			   </div> 
				<div class="panel-body">

<p ng-show="public.message.length>0" >
					<span style="font-size:16px" class="text text-danger"> {{public.message}}</span>
					</p>
					<div style="margin-top: 15px; margin-bottom: 15px; ">

						<div class="input-group input-group-lg ">
							<input type="email" class="form-control" id="username" ng-change="public.emailChange()"
								name="username" placeholder="Email" ng-model="public.email" required>

							<input type="password" class="form-control m-t-1" id="password" ng-model="public.token" 
								name="password" placeholder="Access token" required> <small
								class="tooglePassword ion-eye cursor text text-muted" style="margin-left:5px">&nbsp;Show
								Access Token</small>
						</div>
					</div>

					
					
					<p> <md-button ng-disabled="public.email.length==0 || public.token.length==0" type="submit" class="md-raised md-primary" ng-click="public.validateToken()" >
					Login
					</md-button>
					</p>
					
				 
					
				</div>
			</div></div> <div class="col-md-2"></div>
	 


</div>
<script type="text/javascript">
	$(".tooglePassword").click(function() {
		var input = $("#password");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			$(this).addClass("ion-eye-disabled");
			$(this).removeClass("ion-eye");
		} else {
			input.attr("type", "password");
			$(this).addClass("ion-eye");
			$(this).removeClass("ion-eye-disabled");
		}
	});
</script>
