<div class="container" ng-controller="RequestOnBoardingCtrl as ctrl"
	id="accountContainer" ng-init="ctrl.serviceArea()">
	<div class="row">
	
	<div class="col-md-6">
		 
			<div class="panel panel-default" style="border:none;background-color:#51bf99; !important; color: #ffffff !important;padding:10%">
			<div class="panel-title" style="font-weight: 600">Sign Up |	Create New Business <span class=" font-weight-light">Account</span>
				</div><hr>
				<div class="panel-body">
					<form name="wizardAccount" novalidate>

						<fieldset class="form-group"
							ng-class="{ 'has-error': ctrl.hasErr(wizardAccount, 'username') }">
							<label>Username</label> <input ng-model="ctrl.data.username"
								required type="text" name="username" class="form-control">
							<div ng-show="ctrl.hasErr(wizardAccount, 'username')"
								style="color: #ffd700 !important;">Username is required.</div>
						</fieldset>

						<fieldset class="form-group"
							ng-class="{ 'has-error': ctrl.hasErr(wizardAccount, 'password|passwordConfirmation') }">
							<div class="row">
							<div class="col-md-6">
							<label>Password</label> <input ng-model="ctrl.data.password"
								required minlength="6" maxlength="20" type="password"
								name="password" class="form-control">
							<div ng-show="ctrl.hasErr(wizardAccount, 'password', 'required')"
								style="color: #ffd700 !important;">This field is required.</div>
							<div
								ng-show="ctrl.hasErr(wizardAccount, 'password', 'minlength')"
								style="color: #ffd700 !important;">Please enter at least 6 characters.</div>
							<div
								ng-show="ctrl.hasErr(wizardAccount, 'password', 'maxlength')"
								style="color: #ffd700 !important;">Please enter no more than 20
								characters.</div>
						 </div>
							<div class="col-md-6">
							<label>Repeat password</label> <input ng-model="pwdcnfrm"
								required minlength="6" maxlength="20"
								compare-to="form[name=wizardAccount] input[name=password]"
								type="password" name="passwordConfirmation" class="form-control">
							<div ng-show="ctrl.hasErr(wizardAccount, 'passwordConfirmation')"
								style="color: #ffd700 !important;">Please enter the same value again.</div></div></div>
						</fieldset>

 
 

						<fieldset class="form-group"	ng-class="{ 'has-error': ctrl.hasErr(wizardAccount, 'phoneNumber|email') }">
						
						
						<div class="row">
							<div class="col-md-4"><label for="wizard-email">E-mail</label> <input
								ng-model="ctrl.data.email" required type="email" name="email" placeholder="test@meaily.com"
								class="form-control">
							<div ng-show="ctrl.hasErr(wizardAccount, 'email', 'required')"
								style="color: #ffd700 !important;">Email is required.</div>
							<div ng-show="ctrl.hasErr(wizardAccount, 'email', 'email')"
								style="color: #ffd700 !important;">Please enter a valid email address.</div></div>
							<div class="col-md-8"><label>Business Phone Number</label> <input
								ng-model="ctrl.data.phoneNumber" required type="tel" placeholder="xxxxxxxxxx"  pattern="[0-9]{10}"
								name="phoneNumber" class="form-control">
							<div ng-show="ctrl.hasErr(wizardAccount, 'phoneNumber')"
								style="color: #ffd700 !important;">Phone number is required.</div></div>
						</div>
						
							
						</fieldset>
						<hr>

						<fieldset class="form-group"
							ng-class="{ 'has-error': ctrl.hasErrs(wizardAccount, 'street|postal|state') }">
							<div class="row">
								<div class="col-md-8">
									<label for="form-group-input-2">Address</label> <input
										required type="text" ng-model="ctrl.data.address.street"
										name="street" class="form-control" placeholder="Street Name">
								</div>
								<div class="col-md-4">
									<label for="form-group-input-2">Postal</label> <input required
										type="text" ng-model="ctrl.data.address.postal" name="postal"
										class="form-control" placeholder="Postal Code">
								</div>



								<div class="col-md-12">
									<label>City, State and Country</label>
									<div ng-model="ctrl.selectedCityStateCountry" id='geocoder'></div> 
								</div>

								<div class="col-md-12">
									
								</div>

							</div>
						</fieldset>
						<meaily-agreement></meaily-agreement>					
						<md-button id="finishButton" ng-disabled="wizardAccount.$invalid"
							type="button" style="margin-left:0px"
							class="md-raised md-raised-block md-info"
							ng-click="ctrl.finish($event)">Create Business Account</md-button>

						<!-- / #wizard-finish -->
					</form>
				</div>
			</div>
		</div>
	
	 <div class="col-md-6">
		<div class="panel panel-default" style="border:none;padding:5%"  >
		
				<div class="panel-title" style="font-weight: 600">Partner with Us</div>
				<div class="panel-subtitle text text-muted">Let us help you with growth.</div>
			<hr> 
				<div class="panel-body">
				<div class="well well-default" style="font-size:16px;background-color: white;border: none;">
		                 <p class="display-3">  <ion-icon name="restaurant-outline"></ion-icon><br>Restaurants & Takeout Only
		                </p>
		                <span class="text text-default" >
Increase your online presence and Create brand. Setup online store and create subscription based meal plans for 
					your customers.	We can help you to manage meal plan subscriptions, customers, reviews, question, promotions and delivery schedules. 
					You can focus on quality and let us help you to manage customer service.		                </span>
		                
				</div>
				
				<div class="well well-default" style="font-size:16px;background-color: white;border: none;">
		                 <p class="display-3">   <ion-icon name="person-outline"></ion-icon><br>Individuals
		                </p>
		                <span class="text text-default" > Would you like to start a food business ? We can help. 
					Create online store and offer meal plans.You focus on quality and We will manage your customer service. 
					 </span>
		                
				</div> 
			 </div>
		</div>	
	</div> 
		
	</div>
	
	<div class="row">

		<div class="col-md-12 " >
		
			<div class="panel panel-default" 
				style="border: none;padding:5%">
				<div class="panel-title" style="font-weight: 600">Benefits at glance</div>
				<div class="panel-subtitle text text-muted">Best of Five Features</div>
			<hr>
			<div class="panel-body"> 
			<div class="col-md-4  panel panel-default"
				style="border: none;">
				<div class="panel-title" style="font-weight: 600"><ion-icon  name="home-outline">&nbsp;</ion-icon><br>Setup Online Store</div>
				<div class="panel-body" style="font-size:16px">
					<span class="text text-default">You can setup online store(s)
						available to serve your customer 24x7 365 days a year. We rely on
						state of the art cloud platforms to offer our services. You can
						count on us for availability. 
						Manage store address, working hours, contact details and promotions.
						</span>
				</div>

			</div>
			<div class="col-md-4  panel panel-default "
				style="border: none;">
				<div class="panel-title" style="font-weight: 600"><ion-icon  name="fast-food-outline">&nbsp;</ion-icon><br>Offer Meal Plans</div>
				<div class="panel-body" style="font-size:16px">
					<span class="text text-default">Once Store is setup you can
						start creating meal plans. While creating meal plan you have
						option to mention multiple cities where you want to provide your services.
					    You can deactivate / activate the meal plan	anytime you want. Only active meal plans can be seen in search results.
					</span>

				</div>

			</div>
			<div class="col-md-4  panel panel-default"
				style="border: none;">
				<div class="panel-title" style="font-weight: 600"><ion-icon  name="people-outline">&nbsp;</ion-icon><br>Manage Customer</div>
				<div class="panel-body" style="font-size:16px">
					<span class="text text-default">Customer can subscribe to
						meal plans offered by store. Once customer send you meal plan subscription request. You as a Business owner are given opportunity to manage the subscriptions.
						Business owner can extend/cancel the subscription period, edit customer details. Customers are given opportunity to add notes to meal plans and extend/cancel subscription.
						</span>

				</div>

			</div>
			<div class="col-md-4  panel panel-default"
				style="border: none;">
				<div class="panel-title" style="font-weight: 600"><ion-icon  name="send-outline">&nbsp;</ion-icon><br>Manage Reviews & Queries</div>
				<div class="panel-body" style="font-size:16px">
					<span class="text text-default">Online reputation is key component of any business.We can help you to manage it.Customers are given
						opportunity to write reviews, provide feedback, ask for questions and email subscribe for updates. You as Business owner can reply
						to reviews ,answer questions, send discounts to targeted customers and take action to improve your
						service</span>

				</div>

			</div>
			<div class="col-md-4  panel panel-default "
				style="border: none;">
				<div class="panel-title" style="font-weight: 600"><ion-icon  name="alarm-outline">&nbsp;</ion-icon><br>Manage Delivery Schedule & Hire Food Delivery Drivers</div>
				<div class="panel-body" style="font-size:16px">
					<span class="text text-default"> You can generate food delivery schedule for any given date. Access independent food delivery drivers from the pool 
					and assign them delivery jobs according to delivery schedule and driver's availability. We encourage you to explore this
						service more.</span>

				</div>

			</div> </div> </div>

<!-- 			<div class="panel panel-default "
				style="border: none; background-color: #fafafa !important;">
				<div class="panel-title">Custom Features</div>
				<div class="panel-body">
					<span class="text text-default">Feel free to reach out if
						you need to develop custom feature to help with your business. We
						believe your growth is our growth.</span>

				</div>

			</div>-->
		</div>
		
				</div>
	
</div>
<style type="text/css">
#geocoder {
z-index: 1;
width: 100%;
text-align: center;
top: 20px;
}
.mapboxgl-ctrl-geocoder {
min-width: 100%;
}
 
ion-icon {
	font-size: 32px;
	color: #6f6f6f;
}
input:invalid {
    border-color: red;
} 
</style> 