<div id="publicDataControllerId"
	ng-controller="PublicLoginCtrl as public" class="container">
	

	<div  id="userAuthModal" class="row m-t-4"> 
	 <div class="col-md-6">			<div class="panel panel-default" style="border:none;background:#51bf99;padding:10%;">
				<div class="panel-title">
					<span class="text text-default m-t-2" style="font-size:18px">Meaily</span> <br>
						<span class="text" style="font-size:16px">Public User Login</span>
			   </div> 
				<div class="panel-body">

<p ng-show="public.message.length>0" >
					<span style="font-size:16px" class="text text-danger"> {{public.message}}</span>
					</p>
					<div style="margin-top: 15px; margin-bottom: 15px; ">

						<div class="input-group input-group-lg ">
							<input type="email" class="form-control" id="username" ng-change="public.emailChange()"
								name="username" placeholder="Email" ng-model="public.email" required>

							<input type="password" class="form-control m-t-1" id="password" ng-model="public.token" 
								name="password" placeholder="Access token" required> <small
								class="tooglePassword ion-eye cursor text text-muted" style="margin-left:5px">&nbsp;Show
								Access Token</small>
						</div>
					</div>

					
					
					<p> <md-button ng-disabled="public.email.length==0 || public.token.length==0" type="submit" class="md-raised md-primary" ng-click="public.validateToken()" >
					Access Your Data
					</md-button>
						<md-button ng-disabled="public.email.length==0" ng-click="public.getToken()" style="margin-left:0px" class="md-primary">Request Access Token </md-button>
					</p>
					
					
					<p ng-show="public.sendTokenSuccess">
					<span style="font-size:16px" class="text text-success"><strong>Note </strong>Access token has been sent to {{public.email}}. Please use it to login.</span>
					</p>
					
				</div>
			</div></div>
	  <div class="col-md-6">
	  
	  	
	
	<div class="panel panel-default" style="border:none; padding:5%;">
		<div class="panel-body">
	<div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                <p class="display-3">
		                <span class="text text-success">Manage Your Data</span>
		                 </p>
		                <span class="text text-default">
		                We take customer privacy very seriously. We only need valid email address to manage your profile.
			If you have posted review, question or subscribed a meal plan, you can request access token using email id to logi and access your details stored on our platform.
		                 </span>
		               
				</div>
			</div>
		
	 <div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                <p class="display-3">
		                <span class="text text-success"> Access Reviews and Queries</span>
		                 </p>
		                <span class="text text-default">
		               		User can access posted reviews and questions. If you would like to remove the review or question you can do so.
		                 </span>
		               
				</div>
			</div>
			 <div class="col-md-12" style="font-size:16px">
				<div class="well text-default" style="background-color: white;border: none;">
		                <p class="display-3">
		                <span class="text text-success"> Manage Meal Plans</span>
		                 </p>
		                <span class="text text-default">
		               		User can manage meal plan subscription using this portal. 
			User can change subscription period or update meal plan.
		                 </span>
		               
				</div>
			</div>
		</div>
		 
		
		</div> 
		
	</div>
	 

	</div>



</div>
<script type="text/javascript">
	$(".tooglePassword").click(function() {
		var input = $("#password");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			$(this).addClass("ion-eye-disabled");
			$(this).removeClass("ion-eye");
		} else {
			input.attr("type", "password");
			$(this).addClass("ion-eye");
			$(this).removeClass("ion-eye-disabled");
		}
	});
</script>
