
<div id="publicSiteControllerId"
	ng-controller="PublicReviewCtrl as reviewCtrl" class="container">


	<div class="row">
		<div class="col-md-12">
			<div class="panel m-t-2 panel-default" style="border: none;">
				<div class="panel-title">
					<div class="row">
						<div class="col-md-6">
							<span class="font-size-24 text" scroll-to-item scroll-to="#aboutStoreID">{{reviewCtrl.clientName}}</span>
							<div class="text text-muted">
								<ion-icon size="small" name="location"></ion-icon>&nbsp;{{reviewCtrl.address}}
							</div>
							<div class="text text-default m-b-4">
							<span><a href="tel:{{reviewCtrl.clientBusinessPhoneNumber}}"><ion-icon ng-hide="!reviewCtrl.clientBusinessPhoneNumber" size="small" name="call-outline"></ion-icon>&nbsp; {{reviewCtrl.clientBusinessPhoneNumber}}
								</a> <a
									href="mailto:{{reviewCtrl.clientBusinessEmail}}"><ion-icon ng-hide="!reviewCtrl.clientBusinessEmail" size="small" name="mail-outline"></ion-icon>&nbsp;{{reviewCtrl.clientBusinessEmail}}
								</a> </span> <br> <span><a
									href="{{reviewCtrl.clientBusinessWebsite}}">{{reviewCtrl.clientBusinessWebsite}}
								</a></span> 
							</div>
							
							<div class="m-t-2 font-weight-bold "> <span style="cursor: help;"
									class="text text-success back-to-top " ng-show="reviewCtrl.openToday" scroll-to-item scroll-to="#workingHoursID">
									<u> Open</u> </span> <span style="cursor: help;" class="back-to-top text text-danger " scroll-to-item scroll-to="#workingHoursID"
									ng-show="!reviewCtrl.openToday"> <u>Closed</u> <br><small>Please check working hours. </small></span>
								</div>
							
							<div class="m-t-2 font-weight-bold font-size-18">
								<add-stars rating="{{reviewCtrl.averageRating}}"></add-stars>
							</div>
							<span class="font-weight-light">Rating <strong>{{reviewCtrl.averageRating}}</strong></span>  
						</div>
						<div class="col-md-6">
							<div id='map' style="height: 270px"></div>
						</div>

					</div>
				</div>

			</div>
		</div>
	</div>


	<div class="row" ng-show="reviewCtrl.subscriptionPlans.length">

		<div class="col-md-12">

			<div class="panel panel-default"
				style="border: none; background-color: #fff !important;">
				<div class="panel-title">
					Meal Plans
					<md-button type="button" ng-click="reviewCtrl.stateSubscribe()"
						class="md-raised md-primary pull-right  "> Start
					Subscription </md-button>
				</div>
				<div class="panel-subtitle" ng-show="reviewCtrl.serviceArea.length">
					<span class="font-size-16"><strong>Note : </strong>Meal
						plans are available only for following cities - <span style="margin-right:5px" class="text text-default"
						ng-repeat="area in reviewCtrl.serviceArea">{{area.cityName}}.</span>
					</span>
				</div>
				<hr>
				<div class="panel-body">
					<div class="col-md-4"
						ng-repeat="plan in reviewCtrl.subscriptionPlans">

						<md-card> <img ng-show="plan.imageUrl"
							ng-src="{{plan.imageUrl}}" class="md-card-image"> <md-card-title>
						<md-card-title-text> <span
							class="md-headline">{{plan.name}} <br><strong
							ng-show="{{plan.planPricing}}" style="font-size: 14px"
							class="text text-danger">{{plan.planPricing}}&nbsp;{{reviewCtrl.serviceArea[0].currency}}&nbsp;{{plan.billingPeriod | uppercase}}</strong>
						</span> </md-card-title-text> </md-card-title> <md-card-content>
						<p>
							<strong ng-show="plan.homeDelivered || plan.takeOut">Delivery
								Options</strong> <span ng-show="plan.homeDelivered"
								class="text text-danger">Home Delivered,</span> <span
								ng-show="plan.takeOut" class="text text-danger">Take Out</span>
							<br> 
							<strong ng-show="plan.foodSample">Food Sample </strong>
						<span ng-show="plan.foodSample" class="text text-danger">Available.</span> <br>
							
							<strong
								ng-show="plan.availableOnMonday || plan.availableOnTuesday || plan.availableOnWednesday || plan.availableOnThursday || plan.availableOnFriday || plan.availableOnSaturday || plan.availableOnSunday">Availability</strong>
							<span ng-show="plan.availableOnMonday" class="text text-success">Monday,</span>
							<span ng-show="plan.availableOnTuesday" class="text text-success">Tuesday,</span>
							<span ng-show="plan.availableOnWednesday"
								class="text text-success">Wednesday,</span> <span
								ng-show="plan.availableOnThursday" class="text text-success">Thursday,</span>
							<span ng-show="plan.availableOnFriday" class="text text-success">Friday,</span>
							<span ng-show="plan.availableOnSaturday"
								class="text text-success">Saturday,</span> <span
								ng-show="plan.availableOnSunday" class="text text-success">Sunday</span>
						</p>
						<hr>
						<p>{{plan.description}}</p>
						</md-card-content> </md-card>


					</div>
				</div>
			</div>




			<!--   </md-tabs> -->



		</div>
	</div>


    <div class="row">

		<div class="col-md-6">
			<div class="panel panel-default" style="border: none; background-color: #fff !important;">
				<div class="panel-title">
					Reviews
					<md-button type="button" ng-click="reviewCtrl.stateReview()"
						class="md-raised md-primary  pull-right"> <i
						class="fa fa-pen"></i>&nbsp;Write Review </md-button>
					<!-- <br> <small class="text text-default">{{reviewCtrl.totalReviews}}
						Reviews</small> -->

				</div>
				<hr>
				<div class="panel-body">
					 
					<div class="row">
					
					<div class="col-md-12">
			<div class="input-group input-group-lg" style="width: inherit;">
				<input type="text" name="s" class="form-control"
					ng-change="reviewCtrl.searchR()"
					ng-model="reviewCtrl.searchText" placeholder="Search Review..."
					aria-invalid="false"> <span class="input-group-addon"
					style="border: none; background-color: white; padding: 0;"">
				</span>
			</div>

		</div>
					
						<div class="col-md-12">
						
						<table id="reviewsDataTableID"  datatable="" style="border:none;background-color:#fff;width:100%;"
				dt-options="reviewCtrl.dtOptions"
				dt-columns="reviewCtrl.dtColumns"
				class="table table-striped ">
			</table> 
						</div>
					</div>



				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default"
				style="border: none; background-color: #fff !important;">
				<div class="panel-title">
					Queries
					<md-button type="button" ng-click="reviewCtrl.stateAskBlank()"
						class="md-raised md-primary pull-right">Ask
					Question</md-button>
					<!-- <br> <small class="text text-default">{{reviewCtrl.totalQueries}}
						Queries</small> -->
				</div>
				<hr>
				<div class="panel-body">

				<div class="col-md-12">
							<div class="input-group input-group-lg" style="width: inherit;">
								<input type="text" name="s" class="form-control"
									ng-change="reviewCtrl.searchQ()"
									ng-model="reviewCtrl.searchQuery" placeholder="Search Query..."
									aria-invalid="false"> <span class="input-group-addon"
									style="border: none; background-color: white; padding: 0;"">
								</span>
							</div>
				
						</div>
					
						<div class="col-md-12">
						
						<table id="queryDataTableID"  datatable="" style="border:none;background-color:#fff;width:100%;"
				dt-options="reviewCtrl.dtOptionsQ"
				dt-columns="reviewCtrl.dtColumnsQ"
				class="table table-striped ">
			</table> 
						</div>
					 

					<!-- <div class="widget-tree-comments-item"
						style="margin-left: 0px !important;"
						ng-repeat="query in reviewCtrl.queries | orderBy :'postedDate' ">
						<div class="widget-tree-comments-header">
							<span class="text text-default" style="font-size: 14px;">{{query.query}}</span>
							<span class="text text-default">&nbsp;&nbsp;{{query.postedDate
								| date}}</span>
						</div>
						<div class="widget-tree-comments-text text-success"
							style="word-wrap: break-word;">{{query.reply.reply}}</div>
					</div> -->


					<div class="row">
						<div class="col-md-12">
							<!-- <table datatable="ng" dt-options="reviewCtrl.dtOptions"
								dt-columns="reviewCtrl.dtColumns1" class="table table-striped ">
								<thead ng-hide="true">
									<tr>
										<th>Queries</th>
									</tr>
								</thead>
								<tbody class="m-y-1">
									<tr
										ng-repeat="query in reviewCtrl.queries | orderBy :'postedDate' ">
										<td><div class="widget-tree-comments-header">
												<span class="text text-default m-r-1" style="font-size: 14px;">{{query.query}}</span>
												<span class="text text-muted ">{{query.queriedOn | date}}</span>
											</div>
											<div class="widget-tree-comments-text text-success"
												style="word-wrap: break-word;">{{query.reply.reply}}</div></td>
									</tr>
								</tbody>
							</table> -->
						</div>
					</div>


				</div>
				<!-- <div class="panel-footer text-center">
                    <small class="text text-right">Load more ...</small>
                </div> -->
			</div>
		</div>
	</div>
	
	
		<div class="row">


		<div class="col-md-4" id="workingHoursID">
			<div class="panel panel-default"
				style="border: none; background-color: #fff !important;">
				<div class="panel-title">
					Working Hours <span class="text text-success pull-right"
						ng-show="reviewCtrl.openToday"><u>Open</u></span> <span
						class="text text-danger pull-right"
						ng-show="!reviewCtrl.openToday"><u>Closed</u></span>
				</div>
				<div class="panel-subtitle">Shown in 24 Hours format</div>
				<hr>
				<div class="panel-body text-center"
					style="font-size: 16px; word-wrap: break-word;">
					<p ng-hide="!reviewCtrl.workingHours.monday">
						<b>
							 <span ng-show="reviewCtrl.today == 'Monday'" class="text text-default">Today</span>
							 <span ng-show="reviewCtrl.today == 'Monday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.monday}}</span>
						</b>
						<span ng-hide="reviewCtrl.today == 'Monday'" class="text text-default">Monday</span> 
						<span ng-hide="reviewCtrl.today == 'Monday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.monday}}</span>
						
					</p>
					<p ng-hide="!reviewCtrl.workingHours.tuesday">
					   <b><span ng-show="reviewCtrl.today == 'Tuesday'" class="text text-default">Today</span> 
						<span ng-show="reviewCtrl.today == 'Tuesday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.tuesday}}</span></b>
						<span ng-hide="reviewCtrl.today == 'Tuesday'" class="text text-default">Tuesday</span> 
						<span ng-hide="reviewCtrl.today == 'Tuesday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.tuesday}}</span>
					</p>
					<p ng-hide="!reviewCtrl.workingHours.wednesday">
					<b><span ng-show="reviewCtrl.today == 'Wednesday'" class="text text-default">Today</span> 
						<span ng-show="reviewCtrl.today == 'Wednesday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.wednesday}}</span></b>
					
						<span ng-hide="reviewCtrl.today == 'Wednesday'" class="text text-default">Wednesday</span> 
						<span ng-hide="reviewCtrl.today == 'Wednesday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.wednesday}}</span>
					</p>
					<p ng-hide="!reviewCtrl.workingHours.thursday">
					<b><span ng-show="reviewCtrl.today == 'Thursday'" class="text text-default">Today</span> 
						<span ng-show="reviewCtrl.today == 'Thursday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.thursday}}</span></b>
						<span ng-hide="reviewCtrl.today == 'Thursday'" class="text text-default">Thursday</span> 
						<span ng-hide="reviewCtrl.today == 'Thursday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.thursday}}</span>
					</p>
					<p ng-hide="!reviewCtrl.workingHours.friday">
					   <b><span ng-show="reviewCtrl.today == 'Friday'" class="text text-default">Today</span> 
						<span ng-show="reviewCtrl.today == 'Friday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.friday}}</span></b>
						<span ng-hide="reviewCtrl.today == 'Friday'" class="text text-default">Friday</span> 
						<span ng-hide="reviewCtrl.today == 'Friday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.friday}}</span>
					</p>
					<p ng-hide="!reviewCtrl.workingHours.saturday">
					  <b><span ng-show="reviewCtrl.today == 'Saturday'" class="text text-default">Today</span> 
						<span ng-show="reviewCtrl.today == 'Saturday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.saturday}}</span></b>
						<span ng-hide="reviewCtrl.today == 'Saturday'" class="text text-default">Saturday</span> 
						<span ng-hide="reviewCtrl.today == 'Saturday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.saturday}}</span>
					</p>
					<p ng-hide="!reviewCtrl.workingHours.sunday">
					<b><span ng-show="reviewCtrl.today == 'Sunday'" class="text text-default">Today</span> 
						<span ng-show="reviewCtrl.today == 'Sunday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.sunday}}</span></b>
						<span ng-hide="reviewCtrl.today == 'Sunday'" class="text text-default">Sunday</span> 
						<span ng-hide="reviewCtrl.today == 'Sunday'" class="text text-default m-l-1">{{reviewCtrl.workingHours.sunday}}</span>
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-5">
			<div class="panel panel-default" ng-show="reviewCtrl.promotions.length"
				style="border: none; background-color: #fff !important;">
				<div class="panel-title">
				    <span class="text text-default">Promotions</span>
					<md-button ng-hide="reviewCtrl.requestPromotionMessage" type="button" ng-click="reviewCtrl.requestForPromotion()"
						class="md-primary md-raised pull-right">Send Request</md-button>
				</div>
				<div class="panel-subtitle"><span ng-show="reviewCtrl.requestPromotionMessage"
						class="text text-muted">
						Business Owner notified about your promotion request. Please sign up for email subscription to receive notification about store updates.
					</span></div>
				<hr>
				<div class="panel-body">
					<div class="box-container m-y-1">
						<div ng-hide="reviewCtrl.totalPromotions"
							class="text text-default">No Promotions or Deals available
							at the moment.</div>
						<div class="row" ng-repeat="promote in reviewCtrl.promotions">
							<div class=" text  font-size-17" style="padding:10px;">
								{{promote.title}} <br>
								<span class="font-size-12 text text-danger">Expiring on {{promote.endDate | date}}</span> <br>
								<span class="font-size-12">{{promote.detail}}</span>
							</div>
							
						</div>

					</div>
				</div>
				<!-- <div class="panel-footer text-center">
                    <small class="text text-right">Load more ...</small>
                </div> -->
			</div>

		</div>
 <div class="col-md-3">
			<div class="panel panel-default"
				style="border: none; background-color: #fff !important;">
				<div class="panel-title ">
					Would you like to subscribe the updates from <strong>
						{{reviewCtrl.clientName}} </strong> ?
				</div><hr>
				<div class="panel-body">
					<form name="form" novalidate>

								<fieldset class="form-group form-group-lg">
									<input type="email" class="form-control" name="uEmail" required
										ng-model="reviewCtrl.subscribeEmail"
										placeholder="Please share your email with us.">
								</fieldset>

								<div ng-show="form.$submitted || form.uEmail.$touched">
									<!-- <span class="text text-default"
										ng-show="form.uEmail.$error.required">Please share your
										email with us.</span> --> <span class="text text-default"
										ng-show="form.uEmail.$error.email">Invalid Email.</span>
								</div>

						<md-button ng-click="reviewCtrl.subscribe()" style="margin-left:0"
							ng-disabled="form.$invalid" class="md-raised md-warn">Subscribe</md-button>

						<span ng-show="reviewCtrl.subscribeStatus"
							class="text text-default"><br> Congratulation! Your
							subscription has been confirmed. </span>
					</form>
				</div>

			</div>
		</div>


	</div>


	
	
	<div class="row">
		
		
		<div class="col-md-12" id="aboutStoreID" ng-show="reviewCtrl.clientDetail">
			<div class="panel panel-default"
				style="border: none; background-color: #fff !important;">
				<div class="panel-title ">
					About {{reviewCtrl.clientName}}
				</div>
				<div class="panel-body">
					{{reviewCtrl.clientDetail}}
				</div>

			</div>
		</div> 
	</div>

</div>
 
<style type="text/css"> 
html {
  scroll-behavior: smooth;
}
ion-icon {
 color: #818a91!important;
} 
</style>