<div id="publicDataControllerId"
	ng-controller="PublicDataCtrl as public" class="container">
	<div   class="row">
	   <div class="panel panel-default" style="border:none">
	  	<div class="panel-title">
	   <md-button class="md-raised md-warn pull-right" ng-click="public.logout()">Logout</md-button>
	    </div>
	    <div class="panel-body">
	    <div class="row"> 
              <notification ng-repeat="notify in public.notifications" notificationId="{{notify.id}}" type="" clientUserName="" notificationText="{{notify.message}}" notificationTime="{{notify.time}}" read="{{notify.isRead}}"></notification>
		</div>
<hr>
	    
	    <div class="row">
		<div class="col-md-3">
			<div class="panel panel-default"
				style="border: none; background: #fafafa">
				<div class="panel-title">
					<strong>Your Profile</strong><br>
					<span class="text text-default">{{public.email}}</span>					
				</div>
				<hr>
				<div class="panel-body">
					<div ng-repeat="profile in public.profile">
						<span class="text text-muted">Name</span><br> <span
							class="text text-default">{{profile.firstName}}
							{{profile.lastName}}</span><br> 
						<span class="text text-muted">Phone Number</span> <br>
						<span class="text text-default">{{profile.phoneNumber}}</span>
						<hr>
					</div>
				</div>
			</div>
			
			
			
		</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default"
						style="border: none; background: #fafafa">
						<div class="panel-title">
							<strong>Meal Plans</strong>
						</div>
						<hr>
						<div class="panel-body">
							<div ng-repeat="meal in public.mealplans">
								<div class="col-md-6" ng-repeat="plan in meal.subscriptions">
									<md-card style="{{meal.status!='ACTIVE' ? 'opacity:50%;' : 'opacity:100%;'}}"> <img
										ng-show="plan.storeOfferredPlan.imageUrl"
										ng-src="{{plan.storeOfferredPlan.imageUrl}}"
										class="md-card-image"> <md-card-title> <md-card-title-text>
									<span class="md-headline">{{plan.storeOfferredPlan.name}}
										<br> <strong
										ng-show="{{plan.storeOfferredPlan.planPricing}}"
										style="font-size: 14px" class="text text-danger">{{plan.storeOfferredPlan.planPricing}}&nbsp;CAD&nbsp;{{plan.storeOfferredPlan.billingPeriod
											| uppercase}}</strong>
									</span> </md-card-title-text> </md-card-title> <md-card-content>
									<p>
										<strong
											ng-show="plan.storeOfferredPlan.homeDelivered || plan.storeOfferredPlan.takeOut">Delivery
											Options</strong> <span ng-show="plan.storeOfferredPlan.homeDelivered"
											class="text text-danger">Home Delivered,</span> <span
											ng-show="plan.storeOfferredPlan.takeOut"
											class="text text-danger">Take Out</span> <br> <strong
											ng-show="plan.storeOfferredPlan.availableOnMonday || plan.storeOfferredPlan.availableOnTuesday || plan.storeOfferredPlan.availableOnWednesday || plan.storeOfferredPlan.availableOnThursday || plan.storeOfferredPlan.availableOnFriday || plan.storeOfferredPlan.availableOnSaturday || plan.storeOfferredPlan.availableOnSunday">Availability</strong>
										<span ng-show="plan.storeOfferredPlan.availableOnMonday"
											class="text text-success">Monday,</span> <span
											ng-show="plan.storeOfferredPlan.availableOnTuesday"
											class="text text-success">Tuesday,</span> <span
											ng-show="plan.storeOfferredPlan.availableOnWednesday"
											class="text text-success">Wednesday,</span> <span
											ng-show="plan.storeOfferredPlan.availableOnThursday"
											class="text text-success">Thursday,</span> <span
											ng-show="plan.storeOfferredPlan.availableOnFriday"
											class="text text-success">Friday,</span> <span
											ng-show="plan.storeOfferredPlan.availableOnSaturday"
											class="text text-success">Saturday,</span> <span
											ng-show="plan.storeOfferredPlan.availableOnSunday"
											class="text text-success">Sunday</span>
									</p>
									<hr>
									<p>{{plan.storeOfferredPlan.description}}</p>
									<span class="label label-info">{{meal.status}}</span>
									<hr>
									<p>
										<span class="text text-muted">Subscription Period</span> <br>
										<span class="text text-default">{{plan.startDate |
											date}} to {{plan.endDate | date}}</span><br>
										<md-button ng-show="meal.status == 'ACTIVE' " ng-click="public.extendMealPlan(plan)"
											class="md-raised">Extend Plan : 1 Week</md-button>
									</p>
									<p>
										<br> <span class="text text-muted">Your Comment
											while subscription</span> <br> <span class="text text-default">{{plan.description}}</span>
									</p>
									<p>
										<span class="text text-muted">Your Comment</span> <br>
										<form name="commentForm">
										<textarea ng-disabled="meal.status !='ACTIVE'" required ng-model="meal.customerComment"></textarea>
										<br>
										<md-button type="submit" ng-show="meal.status =='ACTIVE'" ng-disabled="commentForm.$invalid"
											ng-click="public.cancelMealPlan(meal)" class="md-raised">Cancel
										Plan </md-button>
										</form>
									</p>




									</md-card-content> </md-card>


								</div>
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default"
						style="border: none; background: #fafafa">
						<div class="panel-title">
							<strong>Reviews</strong>
						</div>
						<hr>
						<div class="panel-body">

							
						<div class="row">
						<div class="col-md-12">
							<table id="reviewTable" datatable="ng" dt-options="public.dtOptions" 
								 class="table ">
								<thead ng-hide="true">
									<tr>
										<th>Review</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="review in public.reviews">
									<td><md-button ng-click="public.removeReview(review.id)"
										class="md-primary"><ion-icon class="small" name="trash"></ion-icon></md-button>
										<label class="badge badge-warning" ng-hide="review.verified">Review Unverified</label>
										<review-block reviewObject="{{review}}"></review-block> 
									
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>


						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default"
						style="border: none; background: #fafafa">
						<div class="panel-title">
							<strong>Queries</strong>
						</div>
						<hr>
						<div class="panel-body">
						
						
						<div class="row">
						<div class="col-md-12">
							<table id="queryTable" datatable="ng" dt-options="public.dtOptions" 
								class="table table-striped ">
								<thead ng-hide="true">
									<tr>
										<th>Review</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="query in public.queries | orderBy :'postedDate' ">
										<td>
										<div class="widget-tree-comments-header">
										 <span class="text text-default m-r-1"
											style="font-size: 16px;">{{query.query}}</span> <span
											class="text text-muted ">{{query.queriedOn | date}}</span> 
											<label class="badge badge-warning" ng-hide="query.verified">Query Unverified</label>
											<md-button ng-click="public.removeQuery(query.id)"
											class="md-primary" style="margin-left:-15px"><ion-icon class="small" name="trash"></ion-icon></md-button>
									</div>
									<div class="widget-tree-comments-text text-success"
										style="word-wrap: break-word;">{{query.reply.reply}}</div></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
						
							

						</div>
					</div>
				</div>
				
				
				
			</div>
			<div class="row"><div class="panel panel-default"
				style="border: none; background: #fafafa">
				<div class="panel-title">
					<strong>Email Subscription</strong>
				</div>
				<hr>
				<div class="panel-body">
					<div ng-repeat="subcr in public.subscriber track by subcr.name">
						<span class="text text-default">{{subcr.value}}</span><br>
						<md-button style="margin-left:-5px" class="md-primary" ng-click="public.unsubscribe(subcr.name)">Unsubscribe</md-button><br>
						<span class="text text-muted">{{subcr.label | date:"MM/dd/yyyy 'at' h:mma" }}</span>
						 <hr>
					</div>
				</div>
			</div></div>
		</div>
</div>

	
	    </div>
	   </div>
	</div>


 



</div>
<script type="text/javascript">
	$(".tooglePassword").click(function() {
		var input = $("#password");
		if (input.attr("type") == "password") {
			input.attr("type", "text");
			$(this).addClass("ion-eye-disabled");
			$(this).removeClass("ion-eye");
		} else {
			input.attr("type", "password");
			$(this).addClass("ion-eye");
			$(this).removeClass("ion-eye-disabled");
		}
	});
</script>
