<div class="container m-t-2"
	ng-controller="RegisterBusinessCtrl as regBusinessCtrl" layout="column"
	ng-cloak ng-init="regBusinessCtrl.getList()">



	<div class="row">
		<div class="panel panel-default"
			style="border: none; background-color: #ffffff !important;">
			<div class="panel-title">
				<div class="row m-b-4">
					<div class="col-md-12">
						<strong>New</strong> Meal Plan Subscription Request

						<md-button ng-hide="regBusinessCtrl.message" type="submit" ng-click="regBusinessCtrl.goBack()"
							class="md-raised  pull-right  ">Cancel</md-button>
						<md-button ng-hide="regBusinessCtrl.message" type="submit" ng-disabled="profileForm.$invalid"
							ng-click="regBusinessCtrl.subscribeStoreOfferredPlan()"
							class="md-raised md-primary pull-right  md-raised-danger">Submit</md-button>

					</div>
				</div>
				<hr>
				<div class="row m-b-4">
					<div class="col-md-6">
						<md-button style="margin-left:0px" type="submit"
							ng-click="regBusinessCtrl.goBack()"
							class="md-primary md-raised  ">Go Back to
						{{regBusinessCtrl.clientName}}</md-button>
						<div class="text text-muted">
							<i class="fa fa-map-marker">&nbsp;</i>{{regBusinessCtrl.address}}
						</div>
						<div class="text text-default">
							<span><i ng-hide="!regBusinessCtrl.clientBusinessEmail"
								class="fa fa-envelope">&nbsp;</i><a
								href="mailto:{{regBusinessCtrl.clientBusinessEmail}}">{{regBusinessCtrl.clientBusinessEmail}}
							</a> </span> <span> <i
								ng-hide="!regBusinessCtrl.clientBusinessWebsite"
								class="fa fa-globe">&nbsp;</i><a
								href="{{regBusinessCtrl.clientBusinessWebsite}}">{{regBusinessCtrl.clientBusinessWebsite}}
							</a></span> <span><i
								ng-hide="!regBusinessCtrl.clientBusinessPhoneNumber"
								class="fa fa-phone">&nbsp;</i><a
								href="tel:{{regBusinessCtrl.clientBusinessPhoneNumber}}">{{regBusinessCtrl.clientBusinessPhoneNumber}}
							</a></span>

						</div>


					</div>


					<div class="col-md-6">
						<!-- <md-button type="submit" ng-click="regBusinessCtrl.goBack()"
							class="md-raised  pull-right  ">Cancel</md-button>
						<md-button type="submit" ng-disabled="profileForm.$invalid"
							ng-click="regBusinessCtrl.subscribeStoreOfferredPlan()"
							class="md-raised  pull-right ">Submit</md-button> -->
					</div>


				</div>

				<div class="row" ng-hide="regBusinessCtrl.message">
					<div class="col-md-4" style="font-size: 16px">
						<div class="well text-default"
							style="background-color: white; border: none;">
							<p class="display-3">
								<span class="text text-success"><strong> Step
										1&nbsp;:</strong> &nbsp;Send Subscription Request</span>
							</p>
							<span class="text text-default"> Customer will select the
								meal plan and submit the request to the store. </span>

						</div>
					</div>
					<div class="col-md-4" style="font-size: 16px">
						<div class="well text-default"
							style="background-color: white; border: none;">
							<p class="display-3">
								<span class="text text-success"><strong> Step
										2&nbsp;:</strong> &nbsp;Connect </span>
							</p>
							<span class="text text-default"> Upon receiving
								subscription request, Store will reach out to customer to
								finalize the subscription and perform KYC if needed.</span>

						</div>
					</div>
					<div class="col-md-4" style="font-size: 16px">
						<div class="well text-default"
							style="background-color: white; border: none;">
							<p class="display-3">
								<span class="text text-success"><strong> Step
										3&nbsp;:</strong> &nbsp;Payment </span>
							</p>
							<span class="text text-default"> Customer will pay
								directly to store upon receiving first meal.</span>

						</div>
					</div>
				</div>

			</div>
			<div class="panel-body"
				style="background-color: #51bf99; padding:10%;"
				ng-show="regBusinessCtrl.message" class="alert alert-danger m-t-2">
				<span style="border: none; color: #ffffff; font-size: 16px;"
					style="border: none;">Dear
					<strong>{{regBusinessCtrl.subscription.firstName}},</strong></span><br>
				<br> <span
					style="border: none; color: #ffffff; font-size: 16px;"
					ng-bind="regBusinessCtrl.message" style="border: none;"></span><br>
				<br> <span
					style="border: none; color: #ffffff; font-size: 16px;">
					Please visit <a class="" href="/public" role="button"
					aria-haspopup="true" aria-expanded="false">Access Your Data</a> to
					manage check the status of your request.
				</span> <br>
				<br> <span
					style="border: none; color: #ffffff; font-size: 16px;"
					style="border: none;">Regards, <br>Meaily
				</span>
			</div>
			<div class="panel-body" ng-hide="regBusinessCtrl.message">


				<form name="profileForm" novalidate>


					<div class="row">
						<div class="col-md-6">
							<fieldset class="form-group form-group-md">
								<label for="subscriptionPlan">Available Meal Plan(s)*</label> <span
									class="text-danger"
									ng-hide="profileForm.subscriptionPlan.$valid"><br>Please
									select meal plan.</span> <br>

								<md-radio-group required id="subscriptionPlan"
									name="subscriptionPlan"
									ng-model="regBusinessCtrl.selectedSubscriptionPlan">

								<md-radio-button
									ng-repeat="plan in regBusinessCtrl.subscriptions track by plan.id"
									value="{{plan.id}}"> <md-card> <md-card-title>
								<md-card-title-text> <span
									class="md-headline">{{plan.name}}<br> <strong
									ng-show="{{plan.planPricing}}" style="font-size: 14px"
									class="text text-danger">{{plan.planPricing}}&nbsp;{{regBusinessCtrl.currency}}&nbsp;{{plan.billingPeriod
										| uppercase}}</strong>
								</span> </md-card-title-text> </md-card-title> <md-card-content>
								<p>
									<strong ng-show="plan.foodSample" class="text text-default">Food
										Sample will be provided. Please ask.</strong>
								<p>
								<p>

									<strong ng-show="plan.homeDelivered || plan.takeOut">Delivery
										Options</strong> <span ng-show="plan.homeDelivered"
										class="text text-danger">Home Delivered,</span> <span
										ng-show="plan.takeOut" class="text text-danger">Take
										Out</span> <br> <strong
										ng-show="plan.availableOnMonday || plan.availableOnTuesday || plan.availableOnWednesday || plan.availableOnThursday || plan.availableOnFriday || plan.availableOnSaturday || plan.availableOnSunday">Availability</strong>
									<span ng-show="plan.availableOnMonday"
										class="text text-success">Monday,</span> <span
										ng-show="plan.availableOnTuesday" class="text text-success">Tuesday,</span>
									<span ng-show="plan.availableOnWednesday"
										class="text text-success">Wednesday,</span> <span
										ng-show="plan.availableOnThursday" class="text text-success">Thursday,</span>
									<span ng-show="plan.availableOnFriday"
										class="text text-success">Friday,</span> <span
										ng-show="plan.availableOnSaturday" class="text text-success">Saturday,</span>
									<span ng-show="plan.availableOnSunday"
										class="text text-success">Sunday</span>
								</p>
								<hr>
								<p>{{plan.description}}</p>
								</md-card-content> </md-card> </md-radio-button> </md-radio-group>



							</fieldset>
						</div>
						<div class="col-md-6">

							<fieldset class="form-group">
								<label for="promotionTimeFrameId">Subscription Time
									Frame*</label> <input type="text" id="promotionTimeFrameId" required
									name="promotionTimeFrame"
									ng-model="regBusinessCtrl.subscriptionTimeframe"
									class="form-control">
							</fieldset>


							<fieldset ng-hide="true" class="form-group form-group-md">
								<label for="deliveryTimeID">Preferred Delivery time</label> <select
									class="form-control" id="deliveryTimeID" name="deliveryTime"
									ng-model="regBusinessCtrl.selectedDeliveryTime"
									ng-options="delivery.name for delivery in regBusinessCtrl.deliveryOptions track by delivery.id">
								</select> <span class="text-danger"
									ng-hide="profileForm.deliveryTime.$valid">Invalid
									Delivery Time</span>
							</fieldset>


							<fieldset class="form-group">
								<div class="row ">
									<div class="col-md-6">
										<label for="account-name">First Name*</label> <input required
											type="text" class="form-control"
											ng-model="regBusinessCtrl.subscription.firstName"
											name="firstname" placeholder="Enter First Name"> <span
											class="text-danger" ng-hide="profileForm.firstname.$valid">Invalid
											first name</span><br> <label for="account-name">Last
											Name*</label> <input required type="text" class="form-control"
											ng-model="regBusinessCtrl.subscription.lastName"
											name="lastname" placeholder="Enter Last Name"> <span
											class="text-danger" ng-hide="profileForm.lastname.$valid">Invalid
											last name</span>
									</div>
									<div class="col-md-6">
										<label for="account-email">E-mail*</label> <input required
											type="email" class="form-control" name="email"
											ng-model="regBusinessCtrl.subscription.email"
											placeholder="test@meaily.com"> <span
											class="text-danger" ng-hide="profileForm.email.$valid">Invalid
											Email</span><br> <label for="account-email">Phone
											Number*</label> <input required type="tel" class="form-control"
											name="phoneNumber" pattern="[0-9]{10}"
											ng-model="regBusinessCtrl.subscription.phoneNumber"
											placeholder="xxxxxxxxxx"> <span class="text-danger"
											ng-hide="profileForm.phoneNumber.$valid">Invalid
											phoneNumber</span>
									</div>
								</div>
							</fieldset>


							<fieldset class="form-group">
								<label for="form-group-input-2">Delivery Address*</label>

								<div class="row ">
									<div class="col-md-7">
										<input required type="text"
											ng-model="regBusinessCtrl.subscription.address.street"
											name="businessStreet" ng-minlength="5" class="form-control"
											placeholder="Street Name"> <span class="text-danger"
											ng-hide="profileForm.businessStreet.$valid">Please
											enter street address.</span>
									</div>
									<div class="col-md-5">
										<input required type="text" name="businessPostal"
											ng-model="regBusinessCtrl.subscription.address.postal"
											ng-minlength="6" ng-maxlenght="6" class="form-control"
											placeholder="Postal Code"> <span class="text-danger"
											ng-hide="profileForm.businessPostal.$valid">Please
											enter valid postal code.</span>
									</div>

									<div class="col-md-6">
										<!-- <input required type="text" ng-model="regBusinessCtrl.subscription.businessCountry" class="form-control" placeholder="Country"> -->
										<!-- <select class="custom-select form-control" id="sortByCountryId" ng-model="regBusinessCtrl.subscription.address.country" ng-selected="account.selectCountry()" ng-options="option for option in regBusinessCtrl.subscription.businessCountryList track by option">
                                    </select> -->

										<ui-select ng-model="regBusinessCtrl.selectedCityStateCountry"
											required name="state"> <ui-select-match
											placeholder="Select a city,state,country">
										<span
											ng-bind="($select.selected.cityName +',&nbsp;' + $select.selected.stateName +',&nbsp;'+ $select.selected.countryName) "></span>
										</ui-select-match> <ui-select-choices
											repeat="(item.cityName +',&nbsp;' + item.stateName +',&nbsp;' + item.countryName ) as item in regBusinessCtrl.locations | filter: $select.search ">
										<span
											ng-bind="(item.cityName +',&nbsp;' + item.stateName +',&nbsp;' + item.countryName )"></span>
										</ui-select-choices> <ui-select-no-choice> No results found.
										</ui-select-no-choice> </ui-select>




									</div>



								</div>
							</fieldset>

							<fieldset class="form-group form-group-md">
								<label for="planDesc">Comments</label>
								<textarea id="planDesc" type="text" class="form-control"
									ng-model="regBusinessCtrl.subscription.description"
									name="planDesc" placeholder="Comments"></textarea>
								<!-- <span class="text-danger" ng-hide="profileForm.planDesc.$valid">Invalid
									field value.</span> -->
							</fieldset>
						</div>
					</div>


					<div class="row" ng-show="regBusinessCtrl.policies">
						<div class="col-md-4"
							ng-show="regBusinessCtrl.policies.storePolicy">

							<div class="panel panel-default"
								style="border: none; background-color: #fafafa !important;">
								<div class="panel-title">Store Rules</div>
								<hr>
								<div class="panel-body">
									{{regBusinessCtrl.policies.storePolicy}}</div>

							</div>


						</div>
						<div class="col-md-4"
							ng-show="regBusinessCtrl.policies.cancellationPolicy">

							<div class="panel panel-default"
								style="border: none; background-color: #fafafa !important;">
								<div class="panel-title">Cancellation Policies</div>
								<hr>
								<div class="panel-body">
									{{regBusinessCtrl.policies.cancellationPolicy}}</div>

							</div>


						</div>
						<div class="col-md-4"
							ng-show="regBusinessCtrl.policies.refundPolicy">

							<div class="panel panel-default"
								style="border: none; background-color: #fafafa !important;">
								<div class="panel-title">Refund Policies</div>
								<hr>
								<div class="panel-body">
									{{regBusinessCtrl.policies.refundPolicy}}</div>

							</div>


						</div>

					</div>

					<div class="form-group form-group-md">
						<meaily-agreement></meaily-agreement>					
						<br>
						<md-button type="submit" ng-click="regBusinessCtrl.goBack()"
							class="md-raised  pull-right  ">Cancel</md-button>
						<md-button type="submit" ng-disabled="profileForm.$invalid"
							ng-click="regBusinessCtrl.subscribeStoreOfferredPlan()"
							class="md-raised md-primary pull-right  md-raised-danger">Submit</md-button>
					</div>





				</form>

			</div>

		</div>
	</div>






</div>
<style type="text/css">
input:invalid {
	border-color: red;
}
</style>