<div class="container" ng-controller="SearchDetailCtrl as ctrl" ng-init="ctrl.querySearch(ctrl.searchText)">
	<div class="panel panel-default" style="border: none;padding:5%; margin-top: 5%">
		<div class="panel-title">
			<div class="row">
				<div class="col-md-12">
					<form ng-submit="$event.preventDefault()" style="margin-top: 5px">
						<md-autocomplete id="virtual-autocomplete"
							ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache"
							md-selected-item="ctrl.selectedItem"
							md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
							md-search-text="ctrl.searchText"
							md-selected-item-change="ctrl.selectedItemChange(item.id)"
							md-items="item in ctrl.querySearch(ctrl.searchText)"
							md-item-text="item.storeName" md-min-length="0"
							md-escape-options="clear"
							input-aria-describedby="virtual-autocomplete-description"
							input-aria-label="Current Repository"
							placeholder="Search meal plans...."
							md-menu-class="autocomplete-virtual-template"
							md-menu-container-class="virtual-container" md-mode="virtual">
						<md-item-template md-highlight-text="ctrl.searchText">
						<div class="widget-comments-item">
							<div class="widget-comments-header text-default">
								<span class="text text-default" style="font-size: large">
									{{item.storeName | limitTo:40}}{{item.storeName.length > 40 ?
									'...': ''}}</span> <span class="text text-success"> <i
									ng-show="ctrl.searchText">offered mealplans has <strong>{{ctrl.searchText}}</strong></i>
								</span>
							</div>
							<div class="widget-comments-text">
								<p class="text text-muted">
									<i class="fa fa-map-marker">&nbsp;</i>{{item.address.street}}
									{{item.address.city}} {{item.address.postal}}
									{{item.address.province}} {{item.address.country}}
								</p>
								<p class="text text-success">
									<span><i class="fa fa-globe">&nbsp;</i>{{item.storeUrl}}
									</span> <span class="m-l-2"><i class="fa fa-phone">&nbsp;</i>{{item.storeContactNumber}}
									</span> <span class="m-l-2"><i class="fa fa-envelope">&nbsp;</i>{{item.storeEmail}}</span>
								</p>
								<!-- <p class="text text-default"
											ng-repeat="plan in item.storeOfferredPlans">
											{{plan.name}} <small ng-show="plan.planPricing"
												class="text text-default">at {{plan.planPricing}} CAD /
												{{plan.billingPeriod}}</small>
											</p> -->
							</div>
						</div>
						</md-item-template> <!-- <md-not-found>
								<div class="widget-comments-item">
									<div class="widget-comments-text">
										<span class="text text-default"> <ion-icon size="small"
												name="alert-circle-outline"></ion-icon> No store(s) found
											matching "{{ctrl.searchText}}" in
											{{main.selectedCityStateCountry.cityName ?
											main.selectedCityStateCountry.cityName :
											main.selectedCityStateCountry}}. Please change service area
											and give it a try.
										</span>
										<a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
									</div>
								</div>
								</md-not-found> --> </md-autocomplete>
					</form>
				</div>
				<!-- <div class="col-md-2">
					<md-button style="margin-left:0px;"
						ng-click="ctrl.querySearch(ctrl.searchText)"
						class="md-raised md-primary">Search Meal Plans</md-button>
				</div> -->
				<div class="col-md-12 text-center">
					<small ng-show="ctrl.repos.length>0" class="text text-center text-muted">found {{ctrl.repos.length}}
						stores.</small>
				</div>
			</div>
		</div>
		<div class="panel-body">
		  	<p class="m-t-2" ng-show="ctrl.searchPopular.length>0">
			Recent Searches <span ng-repeat="popular in ctrl.searchPopular track by popular" ng-click="ctrl.setSearch(popular)" class="text text-muted m-l-1">{{popular}}</span> 
	    </p>
			<p ng-show="ctrl.repos.length==0" class="text-center m-t-2">
			<ion-icon  
						name="alert-circle-outline"></ion-icon><br>
				<span class="text text-default font-size-18">  No store(s) found matching
					"{{ctrl.searchText}}" in {{main.selectedCityStateCountry.cityName ?
					main.selectedCityStateCountry.cityName :
					main.selectedCityStateCountry}}. 
					<br> Try changing service area 
					<br> Search using different key word
				</span>
			</p>
			<div class="row m-t-4" ng-show="ctrl.repos.length>0"><div class="col-md-12">
			<table datatable="ng"     style="border: none;" class="table table-striped ">
				<tbody>
					<tr ng-repeat="item in ctrl.repos">
						<td>
							<div class="widget-comments-item">
								<div class="widget-comments-header text-default">
								<span class="text text-muted pull-right">
						 <i ng-show="ctrl.searchText"> matching score <strong> {{item.storeDetail}}</strong></i>
				    </span>
									<md-button ng-click="ctrl.selectedItemChange(item.id)"
										class="md-primary" style="font-size: large;margin-left:-10px">
										{{item.storeName}}</md-button>
										
								</div>
								<div class="widget-comments-text">
									<p class="text text-muted">
										<i class="fa fa-map-marker">&nbsp;</i>{{item.address.street}}
										{{item.address.area.cityName}} {{item.address.postal}}
										{{item.address.area.stateName}} {{item.address.area.countryName}}
									</p>
									<p class="text text-success">
										<span><i class="fa fa-globe">&nbsp;</i><a href="{{item.storeUrl}}">{{item.storeUrl}}</a>
										</span> <span class="m-l-2"><i class="fa fa-phone">&nbsp;</i><a href="tel:{{item.storeContactNumber}}">{{item.storeContactNumber}}</a>
										</span> <span class="m-l-2"><i class="fa fa-envelope">&nbsp;</i><a href="mailto:{{item.storeEmail}}">{{item.storeEmail}}</a></span>
									</p>
									<p class="text text-default">
									 <strong>Service Area </strong> <span style="padding:5px;" ng-repeat="plan in item.serviceArea">{{plan.cityName}}, {{plan.stateName}}</span>
									</p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
</div><div class="col-md-12"> 
				<md-button ng-click="ctrl.loadMore()" class="btn-block md-raised md-default">Load More...</md-button>
				</div></div>

		</div>
	</div>
</div>