<div class="container m-t-4"  >
	<div class="panel panel-default" style="border: none;padding:5%">
		<div class="panel-title" style="font-size:20px">Looks like something went wrong !</div>
		<div class="panel-subtitle text text-muted">We can not locate the resources you are looking for. Please try after sometime.</div>
		<div class="panel-body " style="font-size:15px">
			<div class="row">
				<div class="col-md-12" style="margin-left:-5px;"> 
				  
				  <a class="md-button md-primary" role="button" href ui-sref="public.landing({index:0 })"> Go back Home.</a>
				  
				</div> <br>
				 
			</div>
		 
	 	
		  
		  
		 
			</div>
			
			 
			
		</div>
		
	</div>

</div>
