<div class="container " ng-controller="WriteReviewCtrl as reviewCtrl"
	layout="column" ng-cloak>

	<div class="row ">


		<div class="col-md-12">
			<a href class="md-primary md-button md-raised "
				ui-sref="public.main({clientId: reviewCtrl.clientId,type: reviewCtrl.type })">Go
				Back to {{reviewCtrl.clientName}}</a>
		</div>

		<div class="col-md-12">
			<md-card> <md-card-title> <md-card-title-text>
			<span class="md-headline">Write Review</span> <span
				class="md-subhead text-success">Tell us in brief about your
				experience at <strong>{{reviewCtrl.clientName}}</strong>.
			</span> </md-card-title-text> </md-card-title> <md-container ng-hide="!reviewCtrl.reviewMessage"
				md-layout="padding">
			<div class="panel-body" style="background-color: #51bf99;"
				class="alert alert-danger m-t-2">
				<span style="border: none; color: #ffffff; font-size: 16px;"
					style="border: none;">Dear {{reviewCtrl.email}},</span><br>
				<br> <span
					style="border: none; color: #ffffff; font-size: 16px;"
					ng-bind="reviewCtrl.reviewMessage" style="border: none;"></span><br>
				<br> <span
					style="border: none; color: #ffffff; font-size: 16px;"> Go
					back <a
					ui-sref="public.main({clientId: reviewCtrl.clientId,type: reviewCtrl.type })">{{reviewCtrl.clientName}}</a>.
					<br>
				<br> Please visit <a class="" href="/public" role="button"
					aria-haspopup="true" aria-expanded="false">Access Your Data</a> to
					manage your reviews.
				</span> <br>
				<br> <span
					style="border: none; color: #ffffff; font-size: 16px;"
					style="border: none;">Regards, <br>Meaily
				</span>
			</div>
			</md-container>

			<div class="col-md-12" ng-hide="reviewCtrl.reviewMessage"
				md-layout="padding">
				<div class="md-block">
					<label>Tell us everything </label>
					<textarea required ng-model="reviewCtrl.reviewText"
						style="border: none; width: -webkit-fill-available; height: auto;"
						maxlength="2000" rows="5" aria-invalid="false"></textarea>
				</div>

				<fieldset class="form-group">
					<div class="file-upload-wrapper">
						<label for="planImage">Upload Image</label> <input type="file"
							class="form-control" id="planImage" name="planImage"
							file-model="reviewCtrl.reviewImage" data-max-file-size="50M" />
					</div>
				</fieldset>
				<fieldset class="form-group">
					<label>First Name (optional)</label> <input
						ng-model="reviewCtrl.firstName">
					</md-input-container>
				</fieldset>
				<fieldset class="form-group">
					<label>Last Name(optional)</label> <input
						ng-model="reviewCtrl.lastName">
					</md-input-container>
				</fieldset>
				<fieldset class="form-group">
					<label>Email*</label> <input required ng-model="reviewCtrl.email"
						type="email">
				</fieldset>
				<div class="row">
					<div class="col-md-6">
						<md-slider flex class="md-primary" md-discrete
							ng-model="ratingVal" step="0.5" min="0.5" max="5"
							aria-label="md-primary"> </md-slider>
						<label for="experienceRatingId" class="text text-warning">Rate
							your experience&nbsp;&nbsp;{{ratingVal}} / 5.0</label>

					</div>
					<div class="col-md-12">
						<meaily-agreement></meaily-agreement>
						<md-button type="button"
							ng-disabled="!reviewCtrl.reviewText || !reviewCtrl.email"
							ng-click="reviewCtrl.postReview()"
							class="pull-right md-raised md-raised-primary md-raised-md">
						<i class="fa fa-pencil"></i>&nbsp;Submit Review </md-button>
					</div>
				</div>
			</div>
			</md-card>
		</div>
	</div>
</div>