
<div class="container" ng-controller="WriteAskCtrl as reviewCtrl"
	layout="column" ng-cloak>
	
	<div class="row ">
	    <div class="col-md-12">	<a href class="md-primary md-button md-raised"	ui-sref="public.main({clientId: reviewCtrl.clientId})">Go Back to {{reviewCtrl.clientName}}</a>
	    </div>
		<div class="col-md-12">
			<md-card> <md-card-title> <md-card-title-text>
			
			<span class="md-headline">Submit Query</span> <span
				class="md-subhead text-success">Ask any questions or queries
				you have for <strong>{{reviewCtrl.clientName}}</strong>.
			</span>   </md-card-title-text> 
			
							
			
			</md-card-title> 
			
			   <md-card-content ng-hide="!reviewCtrl.reviewMessage" md-layout="padding">
            <div class="panel-body" style="background-color:#51bf99;"  
					class="alert alert-danger m-t-2">
					  <span style="border: none;color: #ffffff;font-size: 16px;" style="border: none;">Dear {{reviewCtrl.email}},</span><br><br>
					 <span style="border: none;color: #ffffff;font-size: 16px;" ng-bind="reviewCtrl.reviewMessage" style="border: none;"></span><br><br>
					
					 <span style="border: none;color: #ffffff;font-size: 16px;">
					 Go back <a href ui-sref="public.main({clientId: reviewCtrl.clientId,type: reviewCtrl.type })">{{reviewCtrl.clientName}}</a>. <br><br>
						Please visit <a class="" href="/public" role="button" aria-haspopup="true" aria-expanded="false">Access Your Data</a> 
						to manage your queries. </span> <br><br>
						
					 <span style="border: none;color: #ffffff;font-size: 16px;"	style="border: none;">Regards, <br>Meaily </span>	
			</div>
			</md-card-content>
			
			
			<md-card-content ng-hide="reviewCtrl.reviewMessage" md-layout="padding"> <md-input-container
				class="md-block" ng-hide="reviewCtrl.showAnswer">
			<label>submit query</label> <textarea required
				ng-model="reviewCtrl.reviewText" md-maxlength="500" rows="3"
				md-select-on-focus></textarea> </md-input-container> <md-input-container class="md-block"
				ng-show="reviewCtrl.showAnswer"> <label>{{reviewCtrl.reviewText}}</label>
			<textarea required ng-model="reviewCtrl.reviewAnswer"
				md-maxlength="500" rows="3" md-select-on-focus></textarea> </md-input-container> <md-input-container>
			<label>First Name</label> <input required
				ng-model="reviewCtrl.firstName"> </md-input-container> <md-input-container>
			<label>Last Name</label> <input required
				ng-model="reviewCtrl.lastName"> </md-input-container> <md-input-container>
			<label>Email</label> <input required ng-model="reviewCtrl.email"
				type="email"> </md-input-container>
			<div class="row">
									<meaily-agreement></meaily-agreement>					
			
				<md-button type="button"
					ng-disabled="!reviewCtrl.reviewText || !reviewCtrl.firstName || !reviewCtrl.lastName || !reviewCtrl.email"
					ng-click="reviewCtrl.postAsk()"
					class="pull-right md-raised md-raised-primary md-raised-md">Submit
				Query</md-button>
			</div>
			</md-card-content> </md-card>
		</div>
	</div>

	<!-- <div class="alert alert-success  m-t-2" role="alert">
			<md-button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</md-button>
			<h4 class="alert-heading">Tell us everything !</h4>
			<p>You can tell us what happened. Be it good or bad - We will
				make sure that your feedback is received by the business and the
				public.</p>
			<p>We will share your email id with the business ( of course,
				with your consent and only when requested by business to give you
				compensation) so that you can receive compensation.</p>
			<hr>
			<p class="mb-0">Whenever you need to, Please make sure you post
				reviews unbiased and genuine.</p>
		</div> -->

</div>
